<template>
  <Form>
    <h3>
      Perfil de paciente <br />
      {{ apellidoPat }} {{ apellidoMat }}, {{ nombre }} ({{ docdni }})<br />
    </h3>

    <br />
    <Row>
      <Col span="18">
        <Row>
          <div class="container">
            <Col span="13" style="padding-right:30px">
              <Card>
                <div class="negrita">Datos basicos</div>
                <br />
                Fecha de nacimiento: {{ fecnac }}<br />
                Sexo: {{ sexo }}<br />
                Tipo de sangre: {{ tipgrupossa }} <br />
                Estado civil: {{ estadocivil }} <br />
                Domicilio: {{ domicilioactual }} <br />
                Teléfono: {{ telefono }}
              </Card>
            </Col>
          </div>
          <div class="container">
            <Col span="11" style="padding-right:30px">
              <Card>
                <div class="negrita">Alergias</div>
                <br />
                {{ alergia }}
              </Card>
            </Col>
          </div>
        </Row>
        <br />
        <Row>
          <Col style="padding-right:30px">
            <Card>
              <div class="negrita">Visitas a Centros Médicos</div>
              <Table
                :columns="columns1"
                :data="data1"
                class="tab"
                border
              ></Table>
            </Card>
          </Col>
        </Row>
      </Col>
      <Col span="6">
        <Col justify="atras">
          <Card>
            <div class="negrita" align="end">Métricas de salud</div>

            <Select
              @input="prueba"
              v-model="selectedMetric"
              style="margin-right: 30px"
            >
              <Option
                v-for="item in metricas"
                :value="item.value"
                :key="item.value"
                >{{ item.label }}
              </Option>
            </Select>
            <br />
            <br />
            <div v-if="selectedMetric">
              <Table
                :columns="columns2"
                :data="curMetrica"
                class="tab"
                border
              ></Table>
              <br />
              <br />
              <GChart
                :data="chartData"
                :options="chartOptions"
                type="LineChart"
              />
            </div>
            <div v-else>
              <span style="color:red">Debe seleccionar una métrica</span>
            </div>
          </Card>
        </Col>
      </Col>
    </Row>
    <br /><br />
    <div
      v-if="isHospitalizado"
      style="display:flex;align-items:center;margin-bottom:15px"
    >
      <h3>El paciente se encuentra actualmente hospitalizado</h3>
      <Button @click="darAlta()" style="margin-left:10px" type="primary">
        Dar de Alta
        <Icon type="md-book" size="17" />
      </Button>
    </div>

    <Row>
      <Col span="16">
        <h3>Historia Clínica</h3>
      </Col>
      <Col span="4">
        <Button type="primary">
          Filtrar Formatos
          <Icon type="md-search" size="17" />
        </Button>
      </Col>
      <Col span="4">
        <!-- <Button type="primary"> Agregar Formato</Button> -->

        <Dropdown>
          <Button type="primary">
            Agregar Formato
            <Icon type="md-add-circle" size="17"></Icon>
          </Button>
          <DropdownMenu slot="list">
            <DropdownItem
              v-for="(item, index) in permitidos"
              :key="index"
              @click="goToItem(item)"
            >
              {{ item }}</DropdownItem
            >
          </DropdownMenu>
        </Dropdown>
      </Col>
    </Row>
    <br />
    <template>
      <div style="margin-bottom:20px">
        <ListaPac :arreglo-pac="dataHC" />
      </div>
      <Page
        :current="curPag"
        :total="totalPag"
        @on-change="handlePageChange"
        page-size="1"
        show-total
      />
    </template>
  </Form>
</template>

<script>
import axios from 'axios'
import { GChart } from 'vue-google-charts'
import ListaPac from '~/components/perfil/index-table'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  components: {
    ListaPac,
    GChart
  },
  data() {
    return {
      permitidos: [],
      selectedMetric: null,
      curMetrica: [],
      metrica: [],
      alergia: 'Ninguno',
      curPag: 1,
      totalPag: null,
      dataHC: null,
      docd: null,
      docdni: null,
      nombre: null,
      apellido: null,
      apellidoMat: null,
      apellidoPat: null,

      domicilioactual: null,
      auxfecnac: null,
      fecnac: null,
      sexo: null,
      tipgruposa: null,
      tipfactorRH: null,
      estadocivil: null,
      telefono: null,

      nomPac: null,
      paciente: [],
      columns1: [
        {
          title: 'Fecha',
          key: 'fecha',
          width: 100,
          align: 'center'
        },
        {
          title: 'Servicio',
          key: 'tipoServicio',
          align: 'center',
          width: 150
        },
        {
          title: 'CIE-10',
          key: 'cie10',
          align: 'center',
          width: 120
        },
        {
          title: 'Diagnóstico',
          key: 'diagnostico',
          align: 'center'
        }
      ],
      columns2: [
        {
          title: 'Fecha',
          key: 'fecha',
          width: 100,
          align: 'center'
        },
        {
          title: '-',
          key: 'valor',
          align: 'center'
        }
      ],

      data1: [],
      data2: [
        {
          fecha: '13/07/2019',
          peso: '96 kg'
        },
        {
          fecha: '28/01/2020',
          peso: '87 kg'
        }
      ],
      metricas: [
        {
          value: 'Peso',
          label: 'Peso'
        },
        {
          value: 'Talla',
          label: 'Talla'
        },
        {
          value: 'IMC',
          label: 'IMC'
        },
        {
          value: 'Frecuencia cardiaca',
          label: 'Frecuencia cardiaca'
        }
      ],
      chartData: [],
      chartOptions: {
        title: this.selectedMetric,
        subtitle: 'Seguimiento: 2019-2020',
        chartArea: { width: '70%' }
      },
      isHospitalizado: null
    }
  },
  created() {},
  mounted() {
    this.obtenerHC()
    this.inicializar()
    this.obtenerFil()
    this.obtenerPerfil()
  },
  methods: {
    darAlta() {
      this.$router.push('/infalta')
    },
    prueba() {
      console.log('Event', this.selectedMetric)
      this.columns2[1].title = this.selectedMetric
      this.chartOptions.title = this.selectedMetric
      this.curMetrica = []
      this.chartData = []
      let auxArr = []
      switch (this.selectedMetric) {
        case 'Peso':
          auxArr = ['Fecha', 'Peso']
          this.chartData.push(auxArr)
          this.metrica.map((x) => {
            auxArr = []
            if (x.metrica === 'Peso') {
              x.fecha =
                new Date(x.fecha).getDate() +
                '-' +
                (new Date(x.fecha).getMonth() + 1) +
                '-' +
                new Date(x.fecha).getFullYear()
              this.curMetrica.push(x)
              auxArr.push(x.fecha)
              auxArr.push(x.valor)
              this.chartData.push(auxArr)
            }
          })
          break
        case 'Talla':
          auxArr = ['Fecha', 'Talla']
          this.chartData.push(auxArr)
          this.metrica.map((x) => {
            auxArr = []
            if (x.metrica === 'Talla') {
              x.fecha =
                new Date(x.fecha).getDate() +
                '-' +
                (new Date(x.fecha).getMonth() + 1) +
                '-' +
                new Date(x.fecha).getFullYear()
              this.curMetrica.push(x)
              auxArr.push(x.fecha)
              auxArr.push(x.valor)
              this.chartData.push(auxArr)
            }
          })
          break
        case 'IMC':
          auxArr = ['Fecha', 'IMC']
          this.chartData.push(auxArr)
          this.metrica.map((x) => {
            auxArr = []
            if (x.metrica === 'IMC') {
              x.fecha =
                new Date(x.fecha).getDate() +
                '-' +
                (new Date(x.fecha).getMonth() + 1) +
                '-' +
                new Date(x.fecha).getFullYear()
              this.curMetrica.push(x)
              auxArr.push(x.fecha)
              auxArr.push(Math.round((x.valor + Number.EPSILON) * 100) / 100)
              this.chartData.push(auxArr)
            }
          })
          break
        case 'Frecuencia cardiaca':
          auxArr = ['Fecha', 'Frecuencia cardiaca']
          this.metrica.map((x) => {
            auxArr = []
            if (x.metrica === 'Frecuencia cardiaca') {
              x.fecha =
                new Date(x.fecha).getDate() +
                '-' +
                (new Date(x.fecha).getMonth() + 1) +
                '-' +
                new Date(x.fecha).getFullYear()
              this.curMetrica.push(x)
              auxArr.push(x.fecha)
              auxArr.push(x.valor)
              this.chartData.push(auxArr)
            }
          })
          break
      }
      console.log('METRICAS:', this.curMetrica)
    },
    inicializar() {
      const nomPac = localStorage.getItem('nombrep')
      return nomPac
    },
    goemergencia() {
      this.$router.push('/emergencia')
    },
    goconsulta() {
      this.$router.push('/consultaexterna')
    },
    gohospitalizacion() {
      this.$router.push('/hospitalizaciones/nueva/')
    },
    gofamiliar() {
      this.$router.push('/familiar')
    },
    goenfermeria() {
      this.$router.push('/notasenfermeria')
    },
    gocontrolmedicamentos() {
      this.$router.push('/controlmedicamentos')
    },
    obtenerFil() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api
        .get('api/formatos/601615a5b4b961620d1a1399', { headers })
        .then((response) => {
          const data = response.data
          console.log('DATA:', data)
          this.docdni = data.basicos.dni
          localStorage.setItem('docd', this.docdni)
          this.apellidoPat = data.basicos.apellidoPaterno
          this.apellidoMat = data.basicos.apellidoMaterno
          this.apellido =
            data.basicos.apellidoPaterno + ' ' + data.basicos.apellidoMaterno
          this.nombre = data.basicos.nombres

          const auxsexo = data.basicos.genero === 1 ? 'Femenino' : 'Masculino'
          this.sexo = auxsexo
          const auxfechanacimiento = new Date(data.basicos.nacimiento.fecha)
          this.fecnac =
            auxfechanacimiento.getDate() +
            '/' +
            0 +
            (auxfechanacimiento.getMonth() + 1) +
            '/' +
            auxfechanacimiento.getFullYear()

          this.tipgrupossa = data.basicos.sangre.grupoSanguineo
          this.tipfactorRH = data.basicos.sangre.factorRh === 'true' ? '+' : '-'
          this.estadocivil = data.basicos.estadoCivil
          this.domicilioactual = data.comunicacion.domicilio
          this.domicilioProcedencia = data.basicos.procedencia.direccion
          this.telefono = data.comunicacion.telefono
        })
    },
    obtenerPerfil() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api
        .get('api/formatos/perfil-clinico/' + localStorage.getItem('docd'), {
          headers
        })
        .then((response) => {
          const data = response.data
          this.data1 = data.diagnosticos
          console.log('diagnosticos:', data.diagnosticos)
          console.log('PERFIL:', data)
          this.metrica = data.metricas[0]
          this.permitidos = data.permitidos
          this.isHospitalizado = data.hospitalizado
          console.log('HOSPI:', this.isHospitalizado)
        })
    },
    obtenerHC(paciente, token) {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: 'Bearer ' + token
      }
      api
        .get(
          'api/formatos/historia-clinica/' +
            localStorage.getItem('docd') +
            '/paginado?numeroPagina=' +
            this.curPag +
            '&tamanoPagina=5',
          { headers }
        )
        .then((response) => {
          const data = response.data
          console.log('TABLA:', data)
          this.dataHC = data.formatos
          this.dataHC.map((x, index) => {
            this.dataHC[index].nro = index + 1
            this.dataHC[index].fecha =
              new Date(x.fecha).getDate() +
              '-' +
              (new Date(x.fecha).getMonth() + 1) +
              '-' +
              new Date(x.fecha).getFullYear()
          })
          this.curPag = data.numeroPagina
          this.totalPag = data.totalPaginas
          console.log('HC:', this.dataHC)
          console.log('cur', this.curPag)
          console.log('totalpag', this.totalPag)
        })
    },
    handlePageChange(page) {
      console.log('page:', page)
      this.curPag = page
      this.obtenerHC()
    }
  }
}
</script>
<style>
.steps {
  margin-bottom: 2rem;
}
.negrita {
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
.tab .ivu-table th {
  background-color: rgba(255, 195, 0) !important;
}
.tab .ivu-table .ivu-table-cell {
  color: black !important;
}
.atras {
  font-weight: bold;
  padding-right: 30px;
}
</style>
