<template>
  <Form>
    <h2 class="steps">Informe de la Interconsulta</h2>
    Fecha: 23/08/2020 <br />
    Hora: 13:10:00

    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--   Paciente: Katherine Ruiz, Edad: 22, Sexo:Femenino, HCE:28931221 -->
    <FormItem class="negrita" label="Descripción de hallazgos">
      <Tooltip max-width="210" content="Detallar los hallazgos obtenidos">
        <Icon type="md-help-circle" size="20" />
      </Tooltip>
      <br />
      <Input
        type="textarea"
        placeholder="Coloque una breve descripción de hallazgos"
      />
    </FormItem>
    <!-- <FormItem class="negrita" label="Exámenes o procedimientos realizados">
      <Input
        type="textarea"
        placeholder="Exámenes o procedimientos realizados"
        disabled
      />
      </FormItem> -->
    <!-- <Select
        id="servicio"
        class="nonegrita"
        placeholder="Examenes o procedimientos realizados"
      >
        <Option class="nonegrita"> Rayos X</Option>
        <Option class="nonegrita"> Anestesiologia</Option>
        <Option class="nonegrita"> Pediatria</Option>
        <Option class="nonegrita"> Cardiologia</Option>
        <Option class="nonegrita"> Traumatologia</Option>
        <Option class="nonegrita"> Otro </Option>
      </Select> -->

    <FormItem class="negrita" label="Diagnóstico">
      <Tooltip
        max-width="210"
        content="Colocar el diagnostico, segun la investigación realizada"
      >
        <Icon type="md-help-circle" size="20" />
      </Tooltip>
      <br />
      <Input type="textarea" placeholder="Coloque el diagnóstico" />
    </FormItem>
    <FormItem class="negrita" label="Tratamiento">
      <Tooltip max-width="210" content="Detallar el tratamiendo recomendado">
        <Icon type="md-help-circle" size="20" />
      </Tooltip>
      <br />
      <Input type="textarea" placeholder="Coloque el tratamiento" />
    </FormItem>
    <FormItem class="negrita" label="Recomendación y sugerencias">
      <Tooltip
        max-width="210"
        content="Colocar recomendación o sugerencias sobre la investigación realizada, se puede detallar exámenes por realizar."
      >
        <Icon type="md-help-circle" size="20" />
      </Tooltip>
      <br />
      <Input type="textarea" placeholder="Recomendaciones y sugerencias" />
    </FormItem>

    <Row>
      <Col>
        <Button type="success"> Guardar y Enviar </Button>
      </Col>
    </Row>
  </Form>
</template>

<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>
<script>
// import axios from 'axios'
export default {
  methods: {
    success() {
      this.$Message.success({
        content: 'Se guardó y envió correctamente',
        duration: 3,
        background: 'true'
      })
    }
  }
}
</script>
