<template>
  <Form>
    <h2 class="steps">Solicitud del Examen de Patología Clínica</h2>

    <br />
    Fecha: 23/08/2020 <br />
    Hora: 13:10:00
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
      </div>
    </div>
    <Divider class="negrita" orientation="left" size="small"
      >Datos Requeridos</Divider
    >
    <FormItem label="¿Es sobre estudios especiales o cultivos?" class="negrita">
      <Tooltip
        max-width="210"
        content="Colocar si o no dependiendo si se trata de un estudio especial o cultivo. Si es afirmativo, saldrá información sobre su historia clinica"
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <br />
      <RadioGroup v-model="proposito">
        <Radio class="nonegrita" label="si" value="si">Si</Radio>
        <Radio class="nonegrita" label="no" value="no">No </Radio>
      </RadioGroup>
      <span> Ver detalle de la historia clinica</span>
    </FormItem>
    <FormItem class="negrita" label="Observaciones extras">
      <Tooltip
        max-width="210"
        content="Si se tratase de un estudio especial o cultivo, indicar algunas observaciones extras"
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <br />
      <Input
        v-model="observaciones"
        type="textarea"
        placeholder="Observaciones extras"
      />
    </FormItem>

    <FormItem class="negrita" label="Diagnóstico presuntivo">
      <Tooltip
        max-width="210"
        content="Se da a conocer el diagnostico presuntivo "
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>

      <span>Síndrome Febril </span>
    </FormItem>

    <!-- fecha y hora de la muestra -->
    <FormItem class="negrita" label="Búsqueda de Exámenes">
      <Tooltip
        max-width="210"
        content="Hacer click para la búsqueda de exámenes a solicitar "
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>

      <Button @click="value3 = true" type="primary"
        >Búsqueda de Exámenes</Button
      >
      <br />
      <Input type="textarea"> </Input>
      <Drawer
        v-model="value3"
        :mask-closable="false"
        :styles="styles"
        title="Búsqueda de Exámenes"
        width="720"
      >
        <Divider orientation="left" size="small">Tipo de exámenes</Divider>
        <RadioGroup>
          <Radio class="nonegrita" label="Ecografia">Ecografía</Radio>
          <Radio class="nonegrita" label="Radiografia">Radiografía </Radio>
        </RadioGroup>
        <br /><br />

        <AutoComplete
          v-model="value4"
          icon="ios-search"
          placeholder="Buscar Exámenes"
          style="align:center width:30px"
        >
          <div v-for="item in busquedaExam" class="demo-auto-complete-item">
            <div class="demo-auto-complete-group">
              <span>{{ item.title }}</span>
              <a href="https://www.google.com/search?q=iView" target="_blank"
                >Paracetamol</a
              >
            </div>
            <Option
              v-for="option in item.children"
              :value="option.title"
              :key="option.title"
            >
              <span class="demo-auto-complete-title">{{ option.title }}</span>
              <span class="demo-auto-complete-count"
                >{{ option.count }} Parace</span
              >
            </Option>
          </div>
        </AutoComplete>

        <br /><br />
        <Divider orientation="left" size="small">Lista de exámenes</Divider>
        <CheckboxGroup v-model="social">
          <Checkbox label="Rayos-X">
            <span>Rayos-X</span>
          </Checkbox>
          <br />
          <Checkbox label="Visor">
            <span>Visor</span>
          </Checkbox>
          <br />
          <Checkbox label="Tomografia">
            <span>Tomografia</span>
          </Checkbox>
        </CheckboxGroup>

        <br /><br />
        <div class="demo-drawer-footer">
          <Button @click="value3 = false" style="margin-right: 8px"
            >Cancelar</Button
          >
          <Button @click="value3 = false" type="primary">Guardar</Button>
        </div>
      </Drawer>
    </FormItem>

    <!-- BRINDAR CONFORME TANTO EL CIRUJANO COMO EL DOCTOR -->
    <Row type="flex" justify="end">
      <Col>
        <Button type="error">
          Cancelar
        </Button>

        <Button @click.native="registrarSPC" type="success">
          Guardar
        </Button>
      </Col>
    </Row>
  </Form>
</template>
<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      proposito: null,
      observaciones: null,
      diagnosticoPresuntivo: null,
      modal1: false,
      value3: false,
      styles: {
        height: 'calc(100% - 55px)',
        overflow: 'auto',
        paddingBottom: '53px',
        position: 'static'
      },
      formData: {
        name: '',
        url: '',
        owner: '',
        type: '',
        approver: '',
        date: '',
        desc: ''
      },
      busquedaExam: [
        {
          title: 'Ecografía',
          children: [
            {
              title: 'E23',
              count: 10000
            },
            {
              title: 'Par',
              count: 10600
            }
          ]
        },
        {
          title: 'Radiografía',
          children: [
            {
              title: 'Rayos-X',
              count: 60100
            },
            {
              title: 'Visor',
              count: 30010
            }
          ]
        }
      ]
    }
  },
  methods: {
    registrarSPC() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      const auxproposito = this.proposito === null ? 'false' : 'true'
      return (
        api
          .post(
            'api/formatos/patologia-clinica',
            {
              paciente: '72573563',
              ipress: 5946,
              numeroExamen: 123,

              solicitud: {
                proposito: auxproposito,
                observaciones: this.observaciones,
                diagnosticoPresuntivo: 'Síndrome Febril'
              }
            },
            {
              headers
            }
          )
          .then((response) => {
            const data = response.data
            return data
          }),
        this.$router.push('/perfil')
      )
    },
    ok() {
      this.$Message.info('Clicked ok')
    },
    cancel() {
      this.$Message.info('Clicked cancel')
    }
  }
}
</script>
<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>
