<template>
  <div class="container">
    <div>
      <h1 style="margin-top:-70px">Resultados</h1>
    </div>
    <div class="row" style="max-width:1000px">
      <Button style="width:30%;height:45px" size="large" type="primary"
        >Laboratorio</Button
      >
      <Button style="width:30%;height:45px" size="large" type="primary"
        >Imagenología</Button
      >
      <Button style="width:30%;height:45px" size="large" type="primary"
        >Diagnósticos</Button
      >
    </div>
    <span>Listado de Pacientes</span>
    <AutoComplete
      v-model="paciente"
      :data="pacientes"
      :filter-method="filterMethod"
      placeholder="Seleccione Paciente"
      style="width:70%;max-width:500px;margin-top:15px"
    >
    </AutoComplete>

    <Table
      :columns="columns"
      :data="emergencias"
      border
      style="width:70vw;margin-top:25px;max-width:1000px"
    >
      <template #index="{ row }">
        <strong>{{ row.index }}</strong>
      </template>
      <template #action="{ row, index }">
        <Button
          @click="show(index)"
          icon="md-eye"
          type="primary"
          size="small"
          style="margin-right: 5px"
          >Ver</Button
        >
      </template>
    </Table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      paciente: '',
      pacientes: ['Juan Perez', 'Rosa Albornoz', 'Juliana Meza'],
      columns: [
        { title: 'N°', slot: 'index', width: 50, align: 'center' },
        { title: 'Documento', key: 'documento' },
        { title: 'Nombre', key: 'nombre' },
        { title: 'Fecha Admisión', key: 'fecAdmi' },
        { title: 'Acción', slot: 'action', align: 'center' }
      ],
      emergencias: [
        {
          index: 1,
          documento: 'fddfasjjjf123132',
          nombre: 'Resultado Test',
          fecAdmi: '04/05/2022'
        },
        {
          index: 2,
          documento: 'fddf345xcf123132',
          nombre: 'Resultado Test 2',
          fecAdmi: '22/05/2022'
        }
      ]
    }
  },
  mounted() {
    this.incializacionDatos()
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
  },
  methods: {
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    filterMethod(value, option) {
      return option.toUpperCase().includes(value.toUpperCase())
    },
    show(index) {
      this.$Modal.info({
        title: 'Detalles del Resultado',
        content: `Prueba ` + (index + 1)
      })
    },
    remove(index) {
      this.data.splice(index, 1)
    }
  }
}
</script>

<style>
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
}
.card {
  text-align: center;
  width: 30%;
  padding: 10px;
  background-color: #515a6e;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  font-family: 'Segoe UI';
  cursor: pointer;
  height: 120px;
  user-select: none;
}
.card:hover {
  background-color: #6a7691;
}
</style>
