<template>
  <Form>
    <h2 class="steps">Orden de Intervención quirúrgica</h2>
    Fecha: 23/08/2020 <br />
    Hora: 13:10:00
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Cama:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Servicio:
            </span>
          </div>
          <div>
            <span class="datos">
              Cirugía
            </span>
          </div>
        </div>
      </div>
    </div>

    <Divider class="negrita" orientation="left" size="small"
      >Diagnóstico</Divider
    >
    <Table :columns="columnsD" :data="dataD" border></Table>
    <!-- <Row>
      <Col span="8">
        <FormItem class="negrita" label="Diagnóstico:">
          <span class="nonegrita">{{ diag }}</span>
        </FormItem>
      </Col>
      <Col span="16">
        <FormItem class="negrita" label="CIE-10:">
          <span class="nonegrita">{{ cie }}</span>
        </FormItem>
      </Col>
    </Row> -->
    <Divider class="negrita" orientation="left" size="small"
      >Datos Requeridos</Divider
    >
    <FormItem class="negrita" label="Procedimiento quirúgico">
      <Tooltip
        max-width="210"
        content="Colocar si o no dependiendo si se trata de un estudio especial o cultivo "
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>

      <Select v-model="procquirugico" style="width: 250px">
        <Option>
          Seleccione el procedimiento quirúgico que se va a realizar</Option
        >
        <Option value="Apendicectomía"> Apendicectomía</Option>
        <Option value="Biopsia de mama"> Biopsia de mama</Option>
        <Option value="Endoarteriectomía de la carótida">
          Endoarteriectomía de la carótida</Option
        >
        <Option value="Cirugía de cataratas"> Cirugía de cataratas</Option>
        <Option value="Cesárea"> Cesárea</Option>
      </Select>
    </FormItem>
    <br />
    <FormItem class="negrita" label="Fecha de la operación">
      <Tooltip max-width="210" content="Colocar la fecha de la operación">
        <Icon type="md-help-circle" size="18" />
      </Tooltip>

      <DatePicker
        v-model="fechaPlaneada"
        format="dd/MM/yyyy"
        type="datetime"
        placeholder="Seleccione la fecha"
        style="width: 250px"
      ></DatePicker>
    </FormItem>
    <br />
    <FormItem class="negrita" label="Cirujanos">
      <Tooltip
        max-width="210"
        content="Hacer click en el siguiente botón para buscar los cirujanos disponibles para la operación"
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <Button @click="modal1 = true" type="primary"
        >Búsqueda de cirujanos</Button
      >
      <br />
      <Input> </Input>
      <Modal
        v-model="modal1"
        @on-ok="ok"
        @on-cancel="cancel"
        title="Búsqueda de cirujanos"
      >
        <AutoComplete
          v-model="nombrecirujano"
          icon="ios-search"
          placeholder="Búsqueda de cirujanos"
          style="width:300px"
        >
          <!-- <div v-for="item in busquedaCirujano" class="demo-auto-complete-item">
            <span>{{ item.title }}</span>
          </div> -->
        </AutoComplete>
      </Modal>
    </FormItem>
    <br />
    <FormItem class="negrita" label="Ayudantes">
      <Tooltip
        max-width="210"
        content="Hacer click en el siguiente botón para buscar los ayudantes disponibles para la operación"
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <Button @click="modal1 = true" type="primary"
        >Busqueda de ayudantes</Button
      >
      <br />
      <Input> </Input>
      <Modal
        v-model="modal2"
        @on-ok="ok"
        @on-cancel="cancel"
        title="Búsqueda de ayudantes"
      >
        <AutoComplete
          v-model="nombreayudante"
          icon="ios-search"
          placeholder="Búsqueda de Ayudantes"
          style="width:300px"
        >
          <div v-for="item in busquedaAyudante" class="demo-auto-complete-item">
            <span>{{ item.title }}</span>
          </div>
        </AutoComplete>
      </Modal>
    </FormItem>
    <FormItem class="negrita" label="Grupo sanguíneo:">
      <Tooltip
        max-width="210"
        content="Se da a conocer el grupo sanguíneo del paciente"
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      O+ (obtenido de Filiacion/ Anamnesis)
      <!-- <Input type="text" placeholder="Grupo sanquineo" /> -->
    </FormItem>
    <FormItem class="negrita" label="Hemoglobina:">
      <Tooltip
        max-width="210"
        content="Se da a conocer la cantidad de hemoglobina que posee el paciente"
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <Input
        v-model="hemoglobina"
        type="number"
        placeholder="Hemoglobina"
        style="width: 250px"
      />
    </FormItem>
    <FormItem class="negrita" label="Anestesia prevista:">
      <Tooltip
        max-width="210"
        content="Se da a conocer  el tipo de anestesia previsto por el Anestiólogo en el formato Pre-Anestésico"
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <!-- <Input type="textarea" placeholder="Anestesia prevista" /> -->
      <span>Anestesia 1 </span>
      <span>Anestesia 2 </span> (obtenido del Formato Pre-Anestesia)
    </FormItem>
    <!-- BRINDAR CONFORME TANTO EL CIRUJANO COMO EL DOCTOR -->
    <Row type="flex" justify="end">
      <Col>
        <Button @click="anteriorpag" type="error">
          Cancelar
        </Button>

        <Button @click.native="registrarOIQx" type="success">
          Guardar
        </Button>
      </Col>
    </Row>
  </Form>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      nombrecirujano: '',
      diag: null,
      cie: null,
      modal1: false,
      modal2: false,
      procquirugico: null,
      hemoglobina: 0,
      fechaPlaneada: null,
      busquedaCirujano: [
        {
          title: 'Sarai Ferraza'
        },
        {
          title: 'Ines Quispe'
        },
        {
          title: 'Michael Espinoza'
        }
      ],
      busquedaayudante: [
        {
          title: 'Diana Ruiz'
        },
        {
          title: 'Manuel Perez'
        },
        {
          title: 'Francisco Reyes'
        }
      ],
      columnsD: [
        {
          title: 'Diagnostico',
          key: 'nombre',
          align: 'center'
        },
        {
          title: 'CIE',
          key: 'codigo',
          align: 'center'
        }
      ],
      dataD: []
    }
  },
  mounted() {
    this.incializacionDatos()
    this.obtenerFechaHora()
    this.obtenerDiag()
    setInterval(this.obtenerFechaHora, 10000)
  },
  methods: {
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    registrarOIQx() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return (
        api
          .post(
            'api/formatos/orden-quirurgica',
            {
              paciente: 72573563,
              ipress: 5946,
              procedimientoQuirurgico: this.procquirugico,
              // fechaPlaneada: '2020-06-20T18:30',
              fechaPlaneada: moment(String(this.fechaPlaneada)).format(
                'yyyy-MM-DDThh:mm'
              ),
              hemoglobina: this.hemoglobina
            },
            {
              headers
            }
          )
          .then((response) => {
            const data = response.data
            return data
          }),
        this.$router.push('/perfil')
      )
    },
    obtenerDiag() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api
        .get('api/formatos/diagnostico-actual/10203040', { headers })
        .then((response) => {
          const data = response.data
          this.dataD = data
          console.log('diagnosticos:', data)
          console.log('this.busquedaExam1:', this.busquedaExam1)
        })
    },
    ok() {
      this.$Message.info('Clicked ok')
    },
    cancel() {
      this.$Message.info('Clicked cancel')
    }
  }
}
</script>
<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
.demo-auto-complete-item {
  padding: 4px 0;
  border-bottom: 1px solid #f6f6f6;
}
.demo-auto-complete-group {
  font-size: 12px;
  padding: 4px 6px;
}
.demo-auto-complete-group span {
  color: #666;
  font-weight: bold;
}
.demo-auto-complete-group a {
  float: right;
}
.demo-auto-complete-count {
  float: right;
  color: #999;
}
.demo-auto-complete-more {
  display: block;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
  font-size: 12px;
}
</style>
