<template>
  <Form>
    <div>
      <!-- Nueva Hospitalizacion -->
      <Steps :current="current" class="steps">
        <Step title="Anamnesis" content="Enfermedad Actual"> </Step>
        <Step title="Examen Fisico" content="Examinar al paciente"> </Step>

        <Step
          title="Diagnóstico"
          content="Sindrómico, presuntivo y CIE-10"
        ></Step>
        <Step title="Tratamiento" content="Tratamiento y medicación"></Step>
        <Step title="Plan de Trabajo" content="Tratar al paciente"></Step>
      </Steps>
      <template v-if="current === 0">
        <!-- <Form> -->
        <br /><br />
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Episodio actual">
              <Tooltip
                max-width="210"
                content="Se describe la situación actual del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="episodioActual"
                type="textarea"
                placeholder="Episodio actual"
              >
              </Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem label="Tiempo de enfermedad" class="negrita">
              <Tooltip
                max-width="210"
                content="Se coloca el tiempo que padece con esta enfermedad"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input v-model="tiempoE" placeholder="Tiempo de enfermedad">
                <Tooltip
                  max-width="210"
                  content="Se coloca un breve relato de la enfermedad"
                >
                  <Icon type="md-help-circle" size="20" />
                </Tooltip>
                <span slot="append">
                  <Select v-model="tiempoDenom" style="width: 100px">
                    <Option> dia(s)</Option>
                    <Option> semana(s)</Option>
                    <Option> mes(es)</Option>
                    <Option> año(s)</Option>
                  </Select>
                </span>
              </Input>
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Forma de inicio">
              <Tooltip
                max-width="210"
                content="Se coloca como ha inciado el proceso de inicio el paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="formaInicio"
                type="textarea"
                placeholder="Forma de inicio"
              >
              </Input>
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="Curso" class="negrita">
              <Tooltip
                max-width="210"
                content="Se coloca como ha ido transcurriendo en el proceso de la enfermedad"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input v-model="curso" type="textarea" placeholder="Curso">
              </Input>
            </FormItem>

            <br />
          </Col>
        </Row>
        <FormItem class="negrita" label="Signos y síntomas principales">
          <Tooltip
            max-width="210"
            content="Se coloca los signos y sintomas que padece como fiebre, alteraciones entre otros"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input
            v-model="signosp"
            type="textarea"
            placeholder="Signos y sintomas principales"
          ></Input>
        </FormItem>
        <FormItem class="negrita" label="Relato de la enfermedad">
          <Tooltip
            max-width="210"
            content="Se coloca un breve relato de la enfermedad"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input
            v-model="relato"
            type="textarea"
            placeholder="Relato de la enfermedad"
          ></Input>
        </FormItem>
        <FormItem class="negrita" label="Funciones Biológicas">
          <Tooltip
            max-width="210"
            content="Se coloca las funciones biológicas del paciente"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input
            v-model="funcionesB"
            type="textarea"
            placeholder="Funciones Biológicas"
          ></Input>
        </FormItem>
        <!-- </Form> -->
      </template>
      <template v-if="current === 1">
        <!-- <Form> -->
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Estado general">
              <Tooltip
                max-width="210"
                content="Se coloca el estado general en condición al paciente a simple vista"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Select
                v-model="eGeneral"
                :value="eGeneral"
                :placeholder="eGeneral"
              >
                <Option value="Normal"> Normal</Option>
                <Option value="Regular"> Regular</Option>
                <Option value="Grave"> Grave</Option>
                <Option value="Otro"> Otro</Option>
              </Select>
              <!-- <Input placeholder="Describir o colocar observaciones sobre el estado general"> </Input> -->
            </FormItem>
            <FormItem class="negrita" label="Facies">
              <Tooltip
                max-width="210"
                content="Se coloca cómo se encuentra el estado de su rostro"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Select v-model="facies" :value="facies" :placeholder="facies">
                <Option value="Normal"> Normal</Option>
                <Option value="Serrosa"> Serrosa</Option>
                <Option value="Amarilla"> Amarilla</Option>
                <Option value="Machas"> Machas</Option>
                <Option value="Otro"> Otro</Option>
              </Select>
              <!-- <Input placeholder="Describir o colocar observaciones sobre el estado del rostro"> </Input> -->
            </FormItem>
            <FormItem class="negrita" label="Actitud">
              <Tooltip
                max-width="210"
                content="Se coloca cómo se encuentra su actitud"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Select v-model="actitud" :value="actitud" :placeholder="actitud">
                <Option value="Colaborativo"> Colaborativo</Option>
                <Option value="Exaltado"> Exaltado</Option>
                <Option value="No colabora"> No colabora</Option>
                <Option value="Otro"> Otro</Option>
              </Select>
              <!-- <Input placeholder="Describir o colocar observaciones sobre su actitud"> </Input> -->
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem class="negrita" label="Constitución">
              <Tooltip
                max-width="210"
                content="Detallar sobre la contextura del paciente indicando si está delgado, normal o con sobrepeso, si coloca Otros puede especificarlo mejor"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Select
                v-model="constitucion"
                :value="constitucion"
                :placeholder="constitucion"
              >
                <Option value="Delgado"> Delgado</Option>
                <Option value="Normal"> Normal</Option>
                <Option value="Sobrepeso"> Sobrepeso</Option>
                <Option value="Otro"> Otro</Option>
              </Select>
              <!-- <Input placeholder="Describir o colocar observaciones sobre su constitución"> </Input> -->
            </FormItem>
            <FormItem class="negrita" label="Estado Nutrición">
              <Tooltip
                max-width="210"
                content="Se coloca el estado de nutrición a simple vista"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Select
                v-model="nutricion"
                :value="nutricion"
                :placeholder="nutricion"
              >
                <Option value="Normal"> Normal</Option>
                <Option value="Regular"> Regular</Option>
                <Option value="Desnutrido"> Grave</Option>
                <Option value="Otro"> Otro</Option>
              </Select>
              <!-- <Input placeholder="Estado Nutrición"> </Input> -->
            </FormItem>
          </Col>
        </Row>
        <br />
        <h3>Funciones vitales</h3>
        <br />
        <Row>
          <Col span="4">
            <FormItem label="Temperatura (°C)">
              <Tooltip
                max-width="210"
                content="Colocar la temperatura del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="temperatura"
                placeholder="Temperatura"
                type="number"
                style="width: 100px"
              />
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Presión Arterial (mmHg)">
              <Tooltip
                max-width="210"
                content="Colocar la presión arterial del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="pArterial"
                placeholder="Presión Arterial"
                type="number"
                style="width: 100px"
              />
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="F. Cardiaca (lpm)">
              <Tooltip
                max-width="210"
                content="Colocar la frecuencia cardiaca del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="fCardiaca"
                placeholder="FC"
                type="number"
                style="width: 100px"
              />
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="F. Respiratoria (lpm)">
              <Tooltip
                max-width="210"
                content="Colocar la frecuencia respiratoria del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="fResp"
                placeholder="FR"
                type="number"
                style="width: 100px"
              />
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Presión venosa central">
              <Tooltip
                max-width="210"
                content="Colocar la presión venosa central"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="pVenosa"
                type="number"
                style="width: 100px"
                placeholder="Presión venosa central"
              />
            </FormItem>
            <br />
          </Col>
        </Row>
        <h3>Somatometria</h3>
        <br />
        <Row>
          <Col span="3">
            <FormItem class="negrita" label="Peso">
              <Tooltip max-width="210" content="Colocar el peso del paciente">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="peso"
                type="number"
                style="width: 100px"
                placeholder="Peso"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Talla">
              <Tooltip max-width="210" content="Colocar el talla del paciente">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />
              <Input
                v-model="talla"
                type="number"
                style="width: 100px"
                placeholder="Talla"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="IMC">
              <Tooltip max-width="210" content="Colocar el IMC del paciente">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                type="number"
                style="width: 100px"
                placeholder="IMC"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Peso/Edad">
              34
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem class="negrita" label="Talla/Edad">12 </FormItem>
          </Col>
          <Col span="4">
            <FormItem class="negrita" label="Peso/Talla">12 </FormItem>
          </Col>
        </Row>

        <FormItem class="negrita" label="Piel y faneras">
          <Tooltip
            max-width="210"
            content="Colocar una breve descripción a simple vista sobre el estado de la piel y faneras del paciente"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input
            v-model="piel"
            type="textarea"
            placeholder="Piel y faneras"
          ></Input>
        </FormItem>
        <FormItem class="negrita" label="Tejido celular subcutáneo">
          <Tooltip
            max-width="210"
            content="Colocar una breve descripción a simple vista sobre el tejido celular subcutaneo del paciente"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input
            type="textarea"
            placeholder="Tejido celular subcutáneo"
          ></Input>
        </FormItem>
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem type="textarea" class="negrita" label="Cabeza">
              <Tooltip
                max-width="210"
                content="Colocar una breve descripción a simple vista sobre el estado de la cabeza del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input v-model="tCabeza" placeholder="Cabeza"></Input>
            </FormItem>
            <FormItem class="negrita" label="Ojos">
              <Tooltip
                max-width="210"
                content="Colocar una breve descripción a simple vista sobre el estado de los ojos del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input v-model="tOjos" type="textarea" placeholder="Ojos"></Input>
            </FormItem>
            <FormItem class="negrita" label="Nariz">
              <Tooltip
                max-width="210"
                content="Colocar una breve descripción a simple vista sobre el estado de la nariz del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="tNariz"
                type="textarea"
                placeholder="Nariz"
              ></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Oidos">
              <Tooltip
                max-width="210"
                content="Colocar una breve descripción a simple vista sobre el estado de los oídos del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="tOidos"
                type="textarea"
                placeholder="Oidos"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Boca">
              <Tooltip
                max-width="210"
                content="Colocar una breve descripción a simple vista sobre el estado de la boca del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input v-model="tBoca" type="textarea" placeholder="Boca"></Input>
            </FormItem>
            <FormItem class="negrita" label="Cuello">
              <Tooltip
                max-width="210"
                content="Colocar una breve descripción a simple vista sobre el estado del cuello del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="tCuello"
                type="textarea"
                placeholder="Cuello"
              ></Input>
            </FormItem>
          </Col>
        </Row>
        <h3>Aparato respiratorio</h3>
        <br />
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Inspección">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="respInspec"
                type="textarea"
                placeholder="Inspección"
              ></Input>
            </FormItem>

            <FormItem class="negrita" label="Palpación">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="respPalpa"
                type="textarea"
                placeholder="Palpación"
              ></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Percusión">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="respPercu"
                type="textarea"
                placeholder="Percusión"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Auscultación">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="respAscul"
                type="textarea"
                placeholder="Auscultación"
              ></Input>
            </FormItem>
          </Col>
        </Row>
        <h3>Aparato cardiovascular</h3>
        <br />
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Inspección">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="cardioInspec"
                type="textarea"
                placeholder="Inspección"
              ></Input>
            </FormItem>

            <FormItem class="negrita" label="Palpación">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="cardioPalpa"
                type="textarea"
                placeholder="Palpación"
              ></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Percusión">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="cardioPercu"
                type="textarea"
                placeholder="Percusión"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Auscultación">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="cardioAuscul"
                type="textarea"
                placeholder="Auscultación"
              ></Input>
            </FormItem>
          </Col>
        </Row>
        <br />
        <h4>Pulsos Perifericos</h4>
        <br />
        <Row>
          <Col span="3">
            <FormItem class="negrita" label="Carotideo">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="pulsoCaro"
                type="number"
                style="width: 100px"
                placeholder="Carotideo"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Radial">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="pulsoRadial"
                type="number"
                style="width: 100px"
                placeholder="Radial"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Branquial">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="pulsoBranq"
                type="number"
                style="width: 100px"
                placeholder="Branquial"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Femoral">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="pulsoFemoral"
                type="number"
                style="width: 100px"
                placeholder="Femoral"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Tibia Posterior">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="pulsoTibia"
                type="number"
                style="width: 100px"
                placeholder="Tibia Posterior"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Pedio">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="pulsoPedio"
                type="number"
                style="width: 100px"
                placeholder="Pedio"
              ></Input>
            </FormItem>
          </Col>
        </Row>

        <h3>Abdomen</h3>
        <br />
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Inspección">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="abdomenInspec"
                type="textarea"
                placeholder="Inspección"
              ></Input>
            </FormItem>

            <FormItem class="negrita" label="Palpación">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="abdomenPalpa"
                type="textarea"
                placeholder="Palpación"
              ></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Percusión">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="abdomenPercu"
                type="textarea"
                placeholder="Percusión"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Auscultación">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="abdomenAuscul"
                type="textarea"
                placeholder="Auscultación"
              ></Input>
            </FormItem>
          </Col>
        </Row>
        <br />
        <FormItem class="negrita" label="Aparato urinario">
          <Tooltip max-width="210" content="">
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input
            v-model="urina"
            type="textarea"
            placeholder="Aparato urinario"
          ></Input>
        </FormItem>
        <h3>Examen Ginecológico</h3>
        <br />
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Mamas">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="mamas"
                type="textarea"
                placeholder="Mamas"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Genitales externos">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="genitalesExt"
                type="textarea"
                placeholder="Genitales externos"
              ></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Tacto rectal">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="rectal"
                type="textarea"
                placeholder="Tacto rectal"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Aparato locomotor">
              <Tooltip
                max-width="210"
                content="El paciente puede moverse correctamente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="locomotor"
                type="textarea"
                placeholder="Aparato locomotor"
              ></Input>
            </FormItem>
          </Col>
        </Row>
        <br />
        <h3>Examen Neurológico</h3>
        <br />
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Estado de conciencia">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="conciencia"
                type="textarea"
                placeholder="Estado de conciencia"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Escala Glasgow">
              <Tooltip
                max-width="210"
                content="Comprendido entre los valores de 3 al 15, evalúa el sistema nervioso"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />
              <InputNumber
                v-model="glasgow"
                placeholder="Escala Glasgow"
                style="width: 60px"
              ></InputNumber>
              <!-- <Input type="textarea" placeholder="Escala Glasgow"></Input> -->
            </FormItem>
            <FormItem class="negrita" label="Marcha">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="marcha"
                type="textarea"
                placeholder="Marcha"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Fuerza muscular">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="fMuscular"
                type="textarea"
                placeholder="Fuerza muscular"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Sensibilidad">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="sensibilidad"
                type="textarea"
                placeholder="Sensibilidad"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Equilibrio y coordinacion">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="equilibrio"
                type="textarea"
                placeholder="Equilibrio y coordinacion"
              ></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Reflejos">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="reflejos"
                type="textarea"
                placeholder="Reflejos"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Pares craneales">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="pCraneales"
                type="textarea"
                placeholder="Pares craneales"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Funciones superiores">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="fSuperiores"
                type="textarea"
                placeholder="Funciones superiores"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Estado emocional">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="estadoEmocional"
                type="textarea"
                placeholder="Estado emocional"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Otros datos">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="otros"
                type="textarea"
                placeholder="Otros datos"
              ></Input>
            </FormItem>
          </Col>
        </Row>
        <!-- </Form> -->
      </template>
      <template v-if="current === 2">
        <!-- Diagnostico -->
        <!-- <Form> -->
        <Row>
          <Col span="12" style="padding-right:30px">
            <div class="negrita">
              Presuntivos<!--  <Button @click="modalD = true" icon="md-add-circle" /> -->
            </div>
            <!-- <Modal
              v-model="modalD"
              @on-ok="ok"
              @on-cancel="cancel"
              title="Ingresar diagnóstico presuntivo"
              ok-text="Agregar"
            >
              <FormItem label="Categoría CIE:">
                <br />
                <Select placeholder="Categoría">
                  <Option> Seleccionar un distrito</Option>
                  <Option> Santiago de Surco</Option></Select
                >
              </FormItem>
              <FormItem label="Subcategoría CIE:">
                <br />
                <Select placeholder="Sub-categoría">
                  <Option> Seleccionar una Sub-categoría</Option>
                  <Option> Febril</Option>
                </Select>
              </FormItem>
              <FormItem label="Sub-subcategoría CIE:">
                <br />
                <Select placeholder="Sub-sub-categoría">
                  <Option> Seleccionar una Sub-categoría</Option>
                  <Option> Febril</Option>
                </Select>
              </FormItem>
            </Modal> -->
            <div style="display:flex;flex-direction:row;margin:15px 0">
              <AutoComplete
                v-model="nombreDiagnostico"
                icon="ios-search"
                placeholder="Buscar Diagnosticos"
                style="align:center; width:30%;margin-right:20px"
              >
                <div class="demo-auto-complete-item">
                  <Option
                    v-for="diag in diagnosticos"
                    :value="diag.nombre"
                    @click.native="selectDiag(diag)"
                    >{{ diag.nombre + ' - ' + diag.cie }}
                  </Option>
                </div>
              </AutoComplete>
              <Button @click="anadirDiag()" type="primary">
                Agregar
                <Icon type="md-add-circle" size="17"></Icon>
              </Button>
            </div>
            <Table :columns="columnsD" :data="dataPresuntivo"></Table>
          </Col>

          <Col span="12" style="padding-right:30px">
            <div class="negrita">
              Sindrómicos
              <!-- <Button @click="modalS = true" icon="md-add-circle" /> -->
            </div>
            <!-- <Modal
              v-model="modalS"
              @on-agregar="Agregar"
              @on-cancel="cancel"
              title="Ingresar diagnóstico presuntivo"
              ok-text="Agregar"
            >
              <Transfer
                :data="datadiagnostico"
                :target-keys="targetKeysDiag"
                :list-style="listStyle"
                :render-format="render3"
                :operations="[' Izq', 'Der']"
                @on-change="handleChange3"
              >
                <div :style="{ float: 'right', margin: '5px' }">
                  <Button @click="reloadMockData" size="small">Refresh</Button>
                </div>
              </Transfer>
              >
            </Modal> -->
            <div style="display:flex;flex-direction:row;margin:15px 0">
              <AutoComplete
                v-model="nombreDiagnostico"
                icon="ios-search"
                placeholder="Buscar Diagnosticos"
                style="align:center; width:30%;margin-right:20px"
              >
                <div class="demo-auto-complete-item">
                  <Option
                    v-for="diag in diagnosticos"
                    :value="diag.nombre"
                    @click.native="selectDiag(diag)"
                    >{{ diag.nombre + ' - ' + diag.cie }}
                  </Option>
                </div>
              </AutoComplete>
              <Button @click="anadirDiagSindro()" type="primary">
                Agregar
                <Icon type="md-add-circle" size="17"></Icon>
              </Button>
            </div>
            <Table :columns="columnsD" :data="dataSindromico"></Table>
          </Col>
        </Row>
        <!-- </Form> -->
      </template>
      <template v-if="current === 3">
        <!-- Tratamiento -->
        <!-- <Form> -->
        <FormItem class="negrita" label="Dieta">
          <Tooltip max-width="210" content="">
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Select v-model="dieta" :placeholder="dieta" style="width:200px">
            <Option
              v-for="item in tratamiento"
              :value="item.value"
              :key="item.value"
              >{{ item.label }}</Option
            >
          </Select>
          <br />
          <RadioGroup :v-model="observacion ? observacion : '-'">
            ¿Desea anadir alguna observación adicional?
            <Radio label="SI">Si</Radio>
            <Radio label="NO">No</Radio>
          </RadioGroup>
          <br />
          <div v-if="obadicional === 'SI'">
            <Input
              type="textarea"
              placeholder="Añadir algunas observaciones"
            ></Input>
          </div>
        </FormItem>
        <FormItem class="negrita" label="Cuidados de enfermería">
          <Tooltip max-width="210" content="">
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input
            :v-model="cuidados ? cuidados : null"
            type="textarea"
            placeholder="Escribir los cuidados de enfermería a tratar"
          ></Input>
        </FormItem>
        <FormItem class="negrita" label="Medicamentos">
          <Tooltip max-width="210" content="">
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Button type="primary" to="/controlmedicamentos">
            Ir al Formato de Medicamentos
          </Button>
        </FormItem>
        <!-- </Form> -->
      </template>
      <template v-if="current === 4">
        <!-- Plan de ejecucion -->
        <!-- <Form> -->
        <FormItem class="negrita" label="Examenes de ayuda diagnostica">
          <Tooltip max-width="210" content="">
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Button @click="modal1 = true" type="primary">
            Elegir examenes de ayuda diagnostica
          </Button>
          <div>
            <Modal
              v-model="modal1"
              @on-ok="Agregar"
              @on-cancel="Cancelar"
              ok-text="Agregar"
              cancel-text="Cancelar"
              title="Completar los siguientes datos"
            >
              <RadioGroup v-model="examenes" @input="prueba()">
                ¿Elegir examenes de ayuda diagnostica?
                <br />
                <Radio label="Procedimientos medicos"></Radio>
                <Radio label="Procedimientos Quirurgicos"></Radio>
                <Radio label="Interconsultas"></Radio>
              </RadioGroup>
              <br />
            </Modal>
          </div>
        </FormItem>
        <div
          v-if="examenes === 'Procedimientos Quirurgicos'"
          style="margin-top:30px"
        >
          <Form>
            <h2 class="steps">Orden de Intervención quirúrgica</h2>
            Fecha: 23/08/2020 <br />
            Hora: 13:10:00
            <Divider
              style="margin-top:40px"
              class="negrita"
              orientation="left"
              size="small"
              >Datos Paciente</Divider
            >
            <div class="contenedor-datos">
              <div class="fila-datos">
                <div class="columna-datos">
                  <div>
                    <span class="Label">
                      Paciente:
                    </span>
                  </div>
                  <div>
                    <span class="datos">
                      Katherine Ruiz
                    </span>
                  </div>
                </div>
                <div class="columna-datos">
                  <div>
                    <span class="Label">
                      DNI:
                    </span>
                  </div>
                  <div>
                    <span class="datos">
                      72573563
                    </span>
                  </div>
                </div>
                <div class="columna-datos">
                  <div>
                    <span class="Label">
                      Edad:
                    </span>
                  </div>
                  <div>
                    <span class="datos">
                      22
                    </span>
                  </div>
                </div>
              </div>
              <div class="fila-datos">
                <div class="columna-datos">
                  <div>
                    <span class="Label">
                      Sexo:
                    </span>
                  </div>
                  <div>
                    <span class="datos">
                      Femenino
                    </span>
                  </div>
                </div>
                <div class="columna-datos">
                  <div>
                    <span class="Label">
                      HCE:
                    </span>
                  </div>
                  <div>
                    <span class="datos">
                      28931221
                    </span>
                  </div>
                </div>
                <div class="columna-datos">
                  <div>
                    <span class="Label">
                      Cama:
                    </span>
                  </div>
                  <div>
                    <span class="datos">
                      22
                    </span>
                  </div>
                </div>
              </div>
              <div class="fila-datos">
                <div class="columna-datos">
                  <div>
                    <span class="Label">
                      Servicio:
                    </span>
                  </div>
                  <div>
                    <span class="datos">
                      Cirugía
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <Divider class="negrita" orientation="left" size="small"
              >Diagnóstico</Divider
            >
            <Table :columns="columnsO" :data="dataO" border></Table>

            <Divider class="negrita" orientation="left" size="small"
              >Datos Requeridos</Divider
            >
            <FormItem class="negrita" label="Procedimiento quirúgico">
              <Tooltip
                max-width="210"
                content="Colocar si o no dependiendo si se trata de un estudio especial o cultivo "
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Select v-model="procquirugico" style="width: 250px">
                <Option>
                  Seleccione el procedimiento quirúgico que se va a
                  realizar</Option
                >
                <Option value="Apendicectomía"> Apendicectomía</Option>
                <Option value="Biopsia de mama"> Biopsia de mama</Option>
                <Option value="Endoarteriectomía de la carótida">
                  Endoarteriectomía de la carótida</Option
                >
                <Option value="Cirugía de cataratas">
                  Cirugía de cataratas</Option
                >
                <Option value="Cesárea"> Cesárea</Option>
              </Select>
            </FormItem>
            <br />
            <FormItem class="negrita" label="Fecha de la operación">
              <Tooltip
                max-width="210"
                content="Colocar la fecha de la operación"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <DatePicker
                v-model="fechaPlaneada"
                format="dd/MM/yyyy"
                type="datetime"
                placeholder="Seleccione la fecha"
                style="width: 250px"
              ></DatePicker>
            </FormItem>
            <br />
            <FormItem class="negrita" label="Cirujanos">
              <Tooltip
                style="margin-bottom:20px"
                max-width="210"
                content="Hacer click en el siguiente botón para buscar los cirujanos disponibles para la operación"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <Button
                @click="modal3 = true"
                style="margin-left:10px"
                type="primary"
                >Búsqueda de cirujanos</Button
              >
              <br />
              <Input> </Input>
              <Modal
                v-model="modal3"
                @on-ok="ok"
                @on-cancel="cancel"
                title="Búsqueda de cirujanos"
              >
                <AutoComplete
                  v-model="nombrecirujano"
                  icon="ios-search"
                  placeholder="Búsqueda de cirujanos"
                  style="width:300px"
                >
                  <!-- <div v-for="item in busquedaCirujano" class="demo-auto-complete-item">
            <span>{{ item.title }}</span>
          </div> -->
                </AutoComplete>
              </Modal>
            </FormItem>
            <br />
            <FormItem class="negrita" label="Ayudantes">
              <Tooltip
                style="margin-bottom:20px"
                max-width="210"
                content="Hacer click en el siguiente botón para buscar los ayudantes disponibles para la operación"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <Button
                @click="modal2 = true"
                style="margin-left:10px"
                type="primary"
                >Busqueda de ayudantes</Button
              >
              <br />
              <Input> </Input>
              <Modal
                v-model="modal2"
                @on-ok="ok"
                @on-cancel="cancel"
                title="Búsqueda de ayudantes"
              >
                <AutoComplete
                  v-model="nombreayudante"
                  icon="ios-search"
                  placeholder="Búsqueda de Ayudantes"
                  style="width:300px"
                >
                  <div
                    v-for="item in busquedaAyudante"
                    class="demo-auto-complete-item"
                  >
                    <span>{{ item.title }}</span>
                  </div>
                </AutoComplete>
              </Modal>
            </FormItem>
            <FormItem class="negrita" label="Grupo sanguíneo:">
              <Tooltip
                max-width="210"
                content="Se da a conocer el grupo sanguíneo del paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              O+ (obtenido de Filiacion/ Anamnesis)
              <!-- <Input type="text" placeholder="Grupo sanquineo" /> -->
            </FormItem>
            <FormItem class="negrita" label="Hemoglobina:">
              <Tooltip
                max-width="210"
                content="Se da a conocer la cantidad de hemoglobina que posee el paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <Input
                v-model="hemoglobina"
                type="number"
                placeholder="Hemoglobina"
                style="width: 250px"
              />
            </FormItem>
            <FormItem class="negrita" label="Anestesia prevista:">
              <Tooltip
                max-width="210"
                content="Se da a conocer  el tipo de anestesia previsto por el Anestiólogo en el formato Pre-Anestésico"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <!-- <Input type="textarea" placeholder="Anestesia prevista" /> -->
              <span>Anestesia 1 </span>
              <span>Anestesia 2 </span> (obtenido del Formato Pre-Anestesia)
            </FormItem>
            <!-- BRINDAR CONFORME TANTO EL CIRUJANO COMO EL DOCTOR -->
            <!-- <Row type="flex" justify="end">
              <Col>
                <Button @click="anteriorpag" type="error">
                  Cancelar
                </Button>

                <Button @click.native="registrarOIQx" type="success">
                  Guardar
                </Button>
              </Col>
            </Row> -->
          </Form>
        </div>
        <div v-if="examenes === 'Interconsultas'" style="margin-top:30px">
          <Form>
            <h2 class="steps">Solicitud de Interconsulta</h2>
            Fecha: 23/08/2020 <br />
            Hora: 13:10:00
            <Divider
              style="margin-top:40px"
              class="negrita"
              orientation="left"
              size="small"
              >Datos Paciente</Divider
            >
            <div class="contenedor-datos">
              <div class="fila-datos">
                <div class="columna-datos">
                  <div>
                    <span class="Label">
                      Paciente:
                    </span>
                  </div>
                  <div>
                    <span class="datos">
                      Katherine Ruiz
                    </span>
                  </div>
                </div>
                <div class="columna-datos">
                  <div>
                    <span class="Label">
                      DNI:
                    </span>
                  </div>
                  <div>
                    <span class="datos">
                      72573563
                    </span>
                  </div>
                </div>
                <div class="columna-datos">
                  <div>
                    <span class="Label">
                      Edad:
                    </span>
                  </div>
                  <div>
                    <span class="datos">
                      22
                    </span>
                  </div>
                </div>
              </div>
              <div class="fila-datos">
                <div class="columna-datos">
                  <div>
                    <span class="Label">
                      Sexo:
                    </span>
                  </div>
                  <div>
                    <span class="datos">
                      Femenino
                    </span>
                  </div>
                </div>
                <div class="columna-datos">
                  <div>
                    <span class="Label">
                      HCE:
                    </span>
                  </div>
                  <div>
                    <span class="datos">
                      28931221
                    </span>
                  </div>
                </div>
                <div class="columna-datos">
                  <div>
                    <span class="Label">
                      Grupo Sanguíneo:
                    </span>
                  </div>
                  <div>
                    <span class="datos">
                      A+
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <FormItem class="negrita" label=" Datos de filiación del paciente">
              <Tooltip
                max-width="210"
                content="Si desea mayor información sobre los datos de filiación del paciente, hacer click en el siguiente botón"
              >
                <Icon type="md-help-circle" size="20" /> </Tooltip
              ><br />
              Ir a:
              <Button type="primary">
                Formato de Filiacion
              </Button>
            </FormItem>
            <FormItem class="negrita" label=" Servicio interconsultado">
              <Tooltip
                max-width="210"
                content="Escoger el servicio al que se le realizará la interconsulta"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />
              <Select
                id="servicio"
                v-model="servicio"
                class="nonegrita"
                placeholder="Seleccione el servicio al que se le realizará la interconsulta"
              >
                <Option value="Dermatologia" class="nonegrita">
                  Dermatologia</Option
                >
                <Option value="Anestesiologia" class="nonegrita">
                  Anestesiologia</Option
                >
                <Option value="Pediatria" class="nonegrita"> Pediatria</Option>
                <Option value="Cardiologia" class="nonegrita">
                  Cardiologia</Option
                >
                <Option value="Traumatologia" class="nonegrita">
                  Traumatologia</Option
                >
                <Option value="Otro" class="nonegrita"> Otro </Option>
              </Select>
            </FormItem>

            <FormItem
              class="negrita"
              label="Breve descripción de la enfermedad actual"
            >
              <Tooltip
                max-width="210"
                content="Se muestra la enfermedad actual recogida de la información del servicio actual"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="enfermedadActual"
                type="textarea"
                placeholder="Coloque una breve descripcion de la enfermedad actual"
                disabled
              />
            </FormItem>
            <FormItem
              class="negrita"
              label="Informacion adicional sobre enfermedad actual"
            >
              <Tooltip
                max-width="210"
                content="Coloque información adicional si es necesario"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="infoAdi"
                type="textarea"
                placeholder="Coloque alguna informacion adicional sobre la enfermedad actual"
              />
            </FormItem>
            <FormItem class="negrita" label="Diagnostico presuntivo">
              <Tooltip
                max-width="210"
                content="Se muestra el diagnostico presuntivo recogida de la información del servicio actual"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                v-model="diagPresuntivo"
                type="textarea"
                placeholder="Coloque el diagnostico presuntivo"
                disabled
              />
            </FormItem>

            <FormItem class="negrita" label=" Motivo de la interconsulta">
              <Tooltip
                max-width="210"
                content="Coloque la consulta que desea brindar a la especialidad escogida indicando el motivo e información adicional"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <!-- <Input
        v-model="motivoInter"
        type="textarea"
        placeholder="Coloque el motivo de la interconsulta"
      /> -->
              <Select
                id="tipo"
                v-model="motivoInter"
                class="nonegrita"
                placeholder="Seleccione el motivo de la interconsulta"
              >
                <Option value="Diagnostico" class="nonegrita">
                  Diagnostico</Option
                >
                <Option value="Manejo Terapeutico" class="nonegrita">
                  Manejo Terapeutico</Option
                >
                <Option value="Procedimiento" class="nonegrita">
                  Procedimiento</Option
                >
                <Option value="Transferencia" class="nonegrita">
                  Transferencia</Option
                >
                <Option value="Alta" class="nonegrita"> Alta</Option>
                <Option value="Otro" class="nonegrita"> Otro </Option>
              </Select>
            </FormItem>
            <Row>
              <Col>
                <!-- <Button @click.native="registrarInter" type="success">
                  Confirmar y enviar
                </Button> -->
              </Col>
            </Row>
          </Form>
        </div>
        <!-- </Form> -->
      </template>
      <Row type="flex" justify="end">
        <Col>
          <Button :disabled="current === 0" @click="anteriorpag" type="warning">
            Volver
          </Button>

          <Button @click="siguientepag" type="success">
            <template @click.native="() => registrarHosp1()" v-if="current < 4">
              Guardar y continuar
            </template>
            <template v-if="current === 4">
              Guardar
            </template>
          </Button>
        </Col>
      </Row>
    </div>
  </Form>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      episodioActual: '',
      tiempoE: '',
      tiempoDenom: '',
      formaInicio: '',
      curso: '',
      signosp: '',
      relato: '',
      funcionesB: '',
      eGeneral: '',
      facies: '',
      actitud: '',
      constitucion: '',
      nutricion: '',
      fCardiaca: '',
      temperatura: '',
      fResp: '',
      pArterial: '',
      pVenosa: '',
      talla: '',
      peso: '',
      piel: '',
      tBoca: '',
      tCabeza: '',
      tCuello: '',
      tNariz: '',
      tOidos: '',
      tOjos: '',
      respAscul: '',
      respInspec: '',
      respPalpa: '',
      respPercu: '',
      cardioAuscul: '',
      cardioInspec: '',
      cardioPalpa: '',
      cardioPercu: '',
      pulsoBranq: '',
      pulsoCaro: '',
      pulsoFemoral: '',
      pulsoPedio: '',
      pulsoRadial: '',
      pulsoTibia: '',
      abdomenAuscul: '',
      abdomenInspec: '',
      abdomenPalpa: '',
      abdomenPercu: '',
      urina: '',
      mamas: '',
      genitalesExt: '',
      locomotor: '',
      rectal: '',
      conciencia: '',
      glasgow: '',
      marcha: '',
      fMuscular: '',
      sensibilidad: '',
      equilibrio: '',
      reflejos: '',
      pCraneales: '',
      fSuperiores: '',
      estadoEmocional: '',
      otros: '',
      cuidados: '',
      dieta: '',
      observacion: '',

      examenes: '',
      obadicional: 'SI',
      modalS: false,
      modalD: false,
      nombreDiagnostico: '',
      auxDiag: null,
      diagnosticos: [
        { cie: '0001', nombre: 'Toz seca' },
        { cie: '0002', nombre: 'Covid-19' },
        { cie: '0003', nombre: 'Dolor muscular' }
      ],
      columnsD: [
        {
          title: 'Código CIE',
          key: 'cie'
        },
        {
          title: 'Nombre',
          key: 'nombre'
        },
        {
          title: 'Relacionado',
          key: 'relacionado'
        }
      ],
      dataPresuntivo: [],
      dataSindromico: [],
      // datadiagnostico: this.getMockData(),
      // targetKeysDiag: this.getTargetKeys(),
      datadiagnostico: [
        { key: '1', label: 'Sindrome Febril', disabled: false },
        { key: '2', label: 'Nasofaringitis crónica', disabled: false },
        { key: '3', label: 'Necrosis de la pulpa dentaria', disabled: false }
      ],
      targetKeysDiag: ['1', '2', '3'],
      listStyle: {
        width: '150px',
        height: '200px'
      },
      modal1: false,
      model1: false,
      radiocurrent: '0',
      tratamiento: [
        {
          value: 'Completo',
          label: 'Completo'
        },
        {
          value: 'Liquido',
          label: 'Liquido'
        },
        {
          value: 'Bajo en grasas',
          label: 'Bajo en grasas'
        },
        {
          value: 'Hiposodica',
          label: 'Hiposódica'
        }
      ],
      current: 0,
      nombrecirujano: '',
      diag: null,
      cie: null,
      modal3: false,
      modal2: false,
      procquirugico: null,
      hemoglobina: 0,
      fechaPlaneada: null,
      busquedaCirujano: [
        {
          title: 'Sarai Ferraza'
        },
        {
          title: 'Ines Quispe'
        },
        {
          title: 'Michael Espinoza'
        }
      ],
      busquedaayudante: [
        {
          title: 'Diana Ruiz'
        },
        {
          title: 'Manuel Perez'
        },
        {
          title: 'Francisco Reyes'
        }
      ],
      columnsO: [
        {
          title: 'Diagnostico',
          key: 'nombre',
          align: 'center'
        },
        {
          title: 'CIE',
          key: 'codigo',
          align: 'center'
        }
      ],
      dataO: [],
      modalInterConsulta: false,
      servicio: null,
      enfermedadActual: null,
      infoAdi: null,
      motivoInter: null,
      dataRecibida: null
    }
  },
  mounted() {
    this.incializacionDatos()
    this.obtenerFechaHora()
    this.obtenerHospitalizacion()
    setInterval(this.obtenerFechaHora, 10000)
  },
  methods: {
    obtenerHospitalizacion() {
      const dataHosp = JSON.parse(localStorage.getItem('dataHospitalizacion'))
      this.dataRecibida = dataHosp
      console.log('DATA RECIBIDA:', dataHosp)
      this.episodioActual = dataHosp.enfermedad.episodioActual
      this.tiempoE = dataHosp.enfermedad.tiempoEnfermedad
      this.formaInicio = dataHosp.enfermedad.formaInicio
      this.curso = dataHosp.enfermedad.curso
      this.signosp = dataHosp.enfermedad.signosPrincipales
      this.relato = dataHosp.enfermedad.relato
      this.funcionesB = dataHosp.enfermedad.funcionesBiologicas
      this.eGeneral = dataHosp.examen.estadoGeneral.conciencia
      this.facies = dataHosp.examen.estadoGeneral.facies
      this.actitud = dataHosp.examen.estadoGeneral.actitud
      this.constitucion = dataHosp.examen.estadoGeneral.constitucion
      this.nutricion = dataHosp.examen.estadoGeneral.nutricion
      this.fCardiaca = dataHosp.examen.funcionesVitales.frecuenciaCardiaca
      this.pArterial =
        dataHosp.examen.funcionesVitales.presionArterial.diastolica
      this.temperatura = dataHosp.examen.funcionesVitales.temperatura
      this.pVenosa =
        dataHosp.examen.funcionesVitales.presionVenosaCentral.diastolica
      this.fResp = dataHosp.examen.funcionesVitales.frecuenciaRespiratoria
      this.talla = dataHosp.examen.funcionesVitales.talla
      this.peso = dataHosp.examen.funcionesVitales.peso
      this.piel = dataHosp.examen.estadoPiel
      this.tCabeza = dataHosp.examen.tejidoCelularSubcutaneo.tejidoCabeza
      this.tBoca = dataHosp.examen.tejidoCelularSubcutaneo.tejidoBoca
      this.tCuello = dataHosp.examen.tejidoCelularSubcutaneo.tejidoCuello
      this.tNariz = dataHosp.examen.tejidoCelularSubcutaneo.tejidoNariz
      this.tOidos = dataHosp.examen.tejidoCelularSubcutaneo.tejidoOidos
      this.tOjos = dataHosp.examen.tejidoCelularSubcutaneo.tejidoOjos
      this.respAscul = dataHosp.examen.aparatoRespiratorio.auscultacion
      this.respInspec = dataHosp.examen.aparatoRespiratorio.inspeccion
      this.respPalpa = dataHosp.examen.aparatoRespiratorio.palpacion
      this.respPercu = dataHosp.examen.aparatoRespiratorio.percusion
      this.cardioAuscul = dataHosp.examen.aparatoCardiovascular.auscultacion
      this.cardioPercu = dataHosp.examen.aparatoCardiovascular.percusion
      this.cardioInspec = dataHosp.examen.aparatoCardiovascular.inspeccion
      this.cardioPalpa = dataHosp.examen.aparatoCardiovascular.palpacion
      this.pulsoBranq = dataHosp.examen.pulsosPerifericos.branquial ? 1 : 0
      this.pulsoCaro = dataHosp.examen.pulsosPerifericos.carotideo ? 1 : 0
      this.pulsoFemoral = dataHosp.examen.pulsosPerifericos.femoral ? 1 : 0
      this.pulsoPedio = dataHosp.examen.pulsosPerifericos.pedio ? 1 : 0
      this.pulsoRadial = dataHosp.examen.pulsosPerifericos.radial ? 1 : 0
      this.pulsoTibia = dataHosp.examen.pulsosPerifericos.tibiaPosterior ? 1 : 0
      this.abdomenAuscul = dataHosp.examen.abdomen.auscultacion
      this.abdomenInspec = dataHosp.examen.abdomen.inspeccion
      this.abdomenPalpa = dataHosp.examen.abdomen.palpacion
      this.abdomenPercu = dataHosp.examen.abdomen.percusion
      this.urina = dataHosp.examen.aparatoUrinario
      this.mamas = dataHosp.examen.examenGinecologico.mamas
      this.genitalesExt = dataHosp.examen.examenGinecologico.genitalesExternos
      this.locomotor = dataHosp.examen.aparatoLocomotor
      this.rectal = dataHosp.examen.tactoRectal
      this.conciencia = dataHosp.examen.examenNeurologico.estadoConciencia
      this.glasgow = dataHosp.examen.examenNeurologico.escalaGlasgow
      this.marcha = dataHosp.examen.examenNeurologico.marcha
      this.fMuscular = dataHosp.examen.examenNeurologico.fuerzaMuscular
      this.sensibilidad = dataHosp.examen.examenNeurologico.sensibilidad
      this.equilibrio = dataHosp.examen.examenNeurologico.equilibrio
      this.reflejos = dataHosp.examen.examenNeurologico.reflejos
      this.pCraneales = dataHosp.examen.examenNeurologico.paresCraneales
      this.fSuperiores = dataHosp.examen.examenNeurologico.funcionesSuperiores
      this.estadoEmocional = dataHosp.examen.examenNeurologico.estadoEmocional
      // this.otros = dataHosp.examen.examenNeurologico.
      this.cuidados = dataHosp.tratamiento.cuidados
      this.dieta = dataHosp.tratamiento.dieta
      this.observacion = dataHosp.tratamiento.observacion
    },
    selectDiag(diag) {
      this.auxDiag = diag
    },
    anadirDiag() {
      this.dataPresuntivo.push(this.auxDiag)
    },
    anadirDiagSindro() {
      this.dataSindromico.push(this.auxDiag)
    },
    prueba() {
      console.log('prueba:', this.examenes)
    },
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    registrarHosp1() {
      console.log('EPISODIO ACTUAL:', this.episodioActual)
      console.log('EPISODIO PAC:', this.dataRecibida.paciente)
      console.log('EPISODIO IPRESS:', this.dataRecibida.ipress)
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return api
        .post(
          'api/formatos/hospitalizacion',
          {
            paciente: this.dataRecibida.paciente,
            ipress: this.dataRecibida.ipress,
            enfermedad: {
              episodioActual: this.episodioActual,
              tiempoEnfermedad: this.tiempoE,
              formaInicio: this.formaInicio,
              curso: this.curso,
              signosPrincipales: this.signosp,
              relato: this.relato,
              funcionesBiologicas: this.funcionesB
            }
          },
          {
            headers
          }
        )
        .then((response) => {
          const data = response.data
          return data
        })
    },

    siguientepag() {
      if (this.current < 5) this.current++
      console.log('ENTRA A SIGUIENTE PAGINA')
      console.log('EPISODIO ACTUAL:', this.episodioActual)
      console.log('EPISODIO PAC:', this.dataRecibida.paciente)
      console.log('EPISODIO IPRESS:', this.dataRecibida.ipress)
      console.log('EPISODIO eGeneral:', this.eGeneral)
      console.log('FORMATO HOSP:', this.dataRecibida.id)
      console.log('FORMATO:', this.signosp)
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api
        .patch(
          'api/formatos/hospitalizacion/' + this.dataRecibida.id + '/inicio',
          {
            paciente: this.dataRecibida.paciente,
            ipress: this.dataRecibida.ipress,
            enfermedad: {
              episodioActual: this.episodioActual,
              tiempoEnfermedad: this.tiempoE,
              formaInicio: this.formaInicio,
              curso: this.curso,
              signosPrincipales: this.signosp,
              relato: this.relato,
              funcionesBiologicas: this.funcionesB
            }
          },
          {
            headers
          }
        )
        .then((response) => {
          const data = response.data
          return data
        })
      if (this.current === 5) {
        console.log('HOLA:D')
        this.$router.push('/busquedaHospitalizacion/')
      }
    },
    anteriorpag() {
      if (this.current > 0) this.current--
    },
    getMockData() {
      const mockData = []
      for (let i = 1; i <= 20; i++) {
        mockData.push({
          key: i.toString(),
          label: 'Content ' + i,
          // label: mockData[0].key
          description: 'The desc of content  ' + i,
          disabled: Math.random() * 3 < 1
        })
      }
      return mockData
    },
    getTargetKeys() {
      return this.getMockData()
        .filter(() => Math.random() * 2 > 1)
        .map((item) => item.key)
    },
    handleChange3(newTargetKeys) {
      this.targetKeysDiag = newTargetKeys
    },
    render3(item) {
      return item.key + ':' + item.label
      // return item.label + ' - ' + item.description
    },
    onChange(newTargetKeys) {
      this.targetKeysDiag = newTargetKeys
    },
    registrarOIQx() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return (
        api
          .post(
            'api/formatos/orden-quirurgica',
            {
              paciente: 72573563,
              ipress: 5946,
              procedimientoQuirurgico: this.procquirugico,
              // fechaPlaneada: '2020-06-20T18:30',
              fechaPlaneada: moment(String(this.fechaPlaneada)).format(
                'yyyy-MM-DDThh:mm'
              ),
              hemoglobina: this.hemoglobina
            },
            {
              headers
            }
          )
          .then((response) => {
            const data = response.data
            return data
          }),
        this.$router.push('/perfil')
      )
    },
    obtenerDiag() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api
        .get('api/formatos/diagnostico-actual/10203040', { headers })
        .then((response) => {
          const data = response.data
          this.dataD = data
          console.log('diagnosticos:', data)
          console.log('this.busquedaExam1:', this.busquedaExam1)
        })
    },
    ok() {
      this.$Message.info('Clicked ok')
    },
    cancel() {
      this.$Message.info('Clicked cancel')
    },
    registrarInter() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return (
        api
          .post(
            'api/formatos/interconsulta?hospitalizacion=5f091abe6896a7603a3bd36a',
            {
              paciente: 72573563,
              ipress: 5946,
              solicitud: {
                servicio: this.servicio, //  'Traumatología',
                descripcion: this.enfermedadActual, //
                // 'Paciente de 23 años con asma. Presenta cuadros de migraña severos',
                informacionAdicional: this.infoAdi, //  'sdf',
                motivo: this.motivoInter //  'Diagnóstico'
              }
            },
            {
              headers
            }
          )
          .then((response) => {
            const data = response.data
            return data
          }),
        this.$Message.info({
          render: (h) => {
            return h('success', ['Se ha guardado correctamente'])
          }
        }),
        this.$router.push('/perfil')
      )
    },

    success() {
      this.$Message.success({
        content: 'Se guardó y envió correctamente',
        duration: 3,
        background: 'true'
      })
    }
  }
}
</script>

<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
.demo-auto-complete-item {
  padding: 4px 0;
  border-bottom: 1px solid #f6f6f6;
}
.demo-auto-complete-group {
  font-size: 12px;
  padding: 4px 6px;
}
.demo-auto-complete-group span {
  color: #666;
  font-weight: bold;
}
.demo-auto-complete-group a {
  float: right;
}
.demo-auto-complete-count {
  float: right;
  color: #999;
}
.demo-auto-complete-more {
  display: block;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
  font-size: 12px;
}
.imagenenf {
  /* max-width: 50%;
  padding: 10px 0; */
  max-height: 200px;

  max-width: 200px;
  position: absolute;

  right: 30px;

  top: 80px;
}
</style>
