<style>
.steps {
  /* border-block-color: #1b1b1b;
  border-block-end: #1b1b1b; */
  /* border-block-start-color: black; */
  float: left;
  background-origin: #000000;
  text-align: center;
  align-content: center;
  size: 7px;
  max-width: 100px;
}
.tamtotal {
  max-height: 170px;
  /* height: 120px; */
  /* size: 120px; */
  background-size: 120px;
  border-left-width: 120px;
  /* line-height: 120px; */
  -ms-hyphenate-limit-zone: 120px;
}
.cuadro {
  height: 25px;
  width: 70px;
}
.bor {
  /* border-block-color: #ae7070; */
  border: 1px solid black;
  background-color: #f5f5f5;
}
.bori {
  /* border-block-color: #ae7070; */
  border: 1px solid black;
  background-color: #46d88f;
}
.bore {
  border: 1px solid black;
  background-color: #f69393;
}
.borbalance {
  border: 1px solid black;
  background-color: #93caf6;
}
.linea {
  border-top: #000000;
  background-color: #ffa07a;
}
</style>

<template @submit="checkForm">
  <div>
    <Form @submit="checkForm">
      <p v-if="errors.length" />
      <!-- <b>Please correct the following error(s):</b> -->
      <ul>
        <li v-for="error in errors" :key="error.id">{{ error }}</li>
      </ul>

      <h2>Balance Hidrico</h2>
      <div>
        <br />

        <table border="0" class="bor">
          <thead>
            <tr>
              <th colspan="1">Fecha</th>
              <th colspan="5" class="text-center" bgcolor="#37c07b">
                Ingresos
              </th>
              <th colspan="18" class="text-center" bgcolor="#e83c2f">
                Egresos
              </th>
            </tr>
          </thead>
          <thead>
            <tr>
              <td></td>
              <td bgcolor="#7bdcb5" class="text-center" colspan="2">
                ENDOVENOSA
              </td>
              <td bgcolor="#7bdcb5" class="text-center" colspan="2">
                ENTERAL
              </td>
              <th bgcolor="#7bdcb5" colspan="0">
                TOTAL
              </th>
              <td bgcolor="#f47373" class="text-center" colspan="1">
                ORINA
              </td>
              <td bgcolor="#f47373" class="text-center" colspan="1">SNG</td>

              <td bgcolor="#f47373" class="text-center" colspan="1">
                KEHR
              </td>
              <td bgcolor="#f47373" class="text-center" colspan="1">
                FISTULA
              </td>
              <td bgcolor="#f47373" class="text-center" colspan="1">
                DRENES
              </td>
              <td bgcolor="#f47373" class="text-center" colspan="1">
                APOSITO
              </td>

              <td bgcolor="#f47373" class="text-center" colspan="1">
                HECES
              </td>
              <th bgcolor="#f47373" colspan="0">
                TOTAL
              </th>
            </tr>
          </thead>

          <thead>
            <tr>
              <th class="text-center" bgcolor="#ff6900">HORAS</th>
              <td v-model="viap" class="text-center" bgcolor="#b1e4d0">
                Via Parenteral
              </td>
              <td v-model="viac" class="text-center" bgcolor="#b1e4d0">
                Via Central
              </td>
              <td v-model="sonda" class="text-center" bgcolor="#b1e4d0">
                SONDA
              </td>
              <td v-model="viao" class="text-center" bgcolor="#b1e4d0">
                Via Oral
              </td>
              <td />
              <td bgcolor="#f69393" class="text-center" border="1"></td>
              <td bgcolor="#f69393" class="text-center">VON</td>
              <td bgcolor="#f69393" class="text-center"></td>

              <td v-model="intestinal" bgcolor="#f69393" class="text-center">
                Intestinal
              </td>
              <td v-model="tubular" bgcolor="#f69393" class="text-center">
                Tubular
              </td>
              <td v-model="penR" bgcolor="#f69393" class="text-center">
                Pen-R
              </td>
              <td v-model="ost" bgcolor="#f69393" class="text-center">Ost</td>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th scope="row" class="text-center" bgcolor="FF7F33">
                07-13 horas
              </th>
              <td>
                <input
                  v-model="t1valor1"
                  align="rigth"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                />
              </td>
              <td>
                <input
                  v-model="t1valor2"
                  align="right"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t1valor3"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t1valor4"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                {{ calcularSuma1 }}
              </td>
              <td>
                <input
                  v-model="t1valor11"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t1valor12"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t1valor13"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t1valor14"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t1valor15"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t1valor16"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t1valor17"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>{{ calcularSuma1F }}</td>
            </tr>
            <tr>
              <th scope="row" class="text-center" bgcolor="FF7F33">
                13-19 hrs
              </th>
              <td>
                <input
                  v-model="t2valor1"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t2valor2"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t2valor3"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t2valor4"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>{{ calcularSuma2 }}</td>

              <td>
                <input
                  v-model="t2valor21"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t2valor22"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t2valor23"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t2valor24"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t2valor25"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t2valor26"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t2valor27"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>{{ calcularSuma2F }}</td>
            </tr>
            <tr>
              <th scope="row" class="text-center" bgcolor="FF7F33">
                19-01 hrs
              </th>
              <td>
                <input
                  v-model="t3valor1"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t3valor2"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t3valor3"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t3valor4"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>{{ calcularSuma3 }}</td>

              <td>
                <input
                  v-model="t3valor31"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t3valor32"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t3valor33"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t3valor34"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t3valor35"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t3valor36"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t3valor37"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>{{ calcularSuma3F }}</td>
            </tr>

            <tr>
              <th scope="row" class="text-center" bgcolor="FF7F33">
                01-07 hrs
              </th>
              <td>
                <input
                  v-model="t4valor1"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t4valor2"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t4valor3"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t4valor4"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>{{ calcularSuma4 }}</td>

              <td>
                <input
                  v-model="t4valor41"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t4valor42"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t4valor43"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t4valor44"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t4valor45"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t4valor46"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>
                <input
                  v-model="t4valor47"
                  type="number"
                  min="0"
                  max="300"
                  size="10"
                  class="cuadro"
                />
              </td>
              <td>{{ calcularSuma4F }}</td>
            </tr>

            <tr>
              <th>TOTAL</th>
              <td>{{ calcularSumaTI1 }}</td>
              <td>{{ calcularSumaTI2 }}</td>
              <td>{{ calcularSumaTI3 }}</td>
              <td>
                {{ calcularSumaTI4 }}
              </td>

              <td>
                {{
                  calcularSumaTI1 +
                    calcularSumaTI2 +
                    calcularSumaTI3 +
                    calcularSumaTI4
                }}
              </td>

              <td>
                {{ calcularSumaTE1 }}
              </td>
              <td>
                {{ calcularSumaTE2 }}
              </td>
              <td>
                {{ calcularSumaTE3 }}
              </td>
              <td>
                {{ calcularSumaTE4 }}
              </td>
              <td>
                {{ calcularSumaTE5 }}
              </td>
              <td>
                {{ calcularSumaTE6 }}
              </td>
              <td>
                {{ calcularSumaTE7 }}
              </td>

              <td>
                {{
                  calcularSumaTE1 +
                    calcularSumaTE2 +
                    calcularSumaTE3 +
                    calcularSumaTE4 +
                    calcularSumaTE5 +
                    calcularSumaTE6 +
                    calcularSumaTE7
                }}
              </td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th colspan="4" class="bori" bgcolor="#37c07b">
                INGRESOS EN 24HR
              </th>
              <td colspan="2" class="bor">
                {{
                  calcularSumaTI1 +
                    calcularSumaTI2 +
                    calcularSumaTI3 +
                    calcularSumaTI4
                }}
              </td>
              <th colspan="2" class="borbalance">Balance en 24HR</th>
              <th colspan="4" class="bore">Egreso en 24HR</th>
              <td colspan="2" class="bor">
                {{
                  calcularSumaTE1 +
                    calcularSumaTE2 +
                    calcularSumaTE3 +
                    calcularSumaTE4 +
                    calcularSumaTE5 +
                    calcularSumaTE6 +
                    calcularSumaTE7
                }}
              </td>
            </tr>
            <tr>
              <th colspan="4" bgcolor="#37c07b" class="bori">
                Agua metabolica
              </th>
              <td colspan="2" class="bor">
                <input v-model="aguaMet" type="number" min="0" />
              </td>
              <td colspan="2" rowspan="2" class="borbalance">
                {{
                  calcularSumaTI1 +
                    calcularSumaTI2 +
                    calcularSumaTI3 +
                    calcularSumaTI4 +
                    parseInt(this.aguaMet) -
                    (calcularSumaTE1 +
                      calcularSumaTE2 +
                      calcularSumaTE3 +
                      calcularSumaTE4 +
                      calcularSumaTE5 +
                      calcularSumaTE6 +
                      calcularSumaTE7 +
                      parseInt(this.perdSen))
                }}
              </td>
              <th colspan="4" class="bore">Perdida sin sensibles</th>
              <td colspan="2" class="bor">
                <input v-model="perdSen" type="number" min="0" />
              </td>
            </tr>
            <tr>
              <th colspan="4" class="bori" bgcolor="#37c07b">
                Total Ingresos
              </th>
              <td colspan="2">
                {{
                  calcularSumaTI1 +
                    calcularSumaTI2 +
                    calcularSumaTI3 +
                    calcularSumaTI4 +
                    parseInt(this.aguaMet)
                }}
              </td>

              <th colspan="4" class="bore">Total Egresos</th>
              <td colspan="2">
                {{
                  calcularSumaTE1 +
                    calcularSumaTE2 +
                    calcularSumaTE3 +
                    calcularSumaTE4 +
                    calcularSumaTE5 +
                    calcularSumaTE6 +
                    calcularSumaTE7 +
                    parseInt(this.perdSen)
                }}
              </td>
            </tr>
          </thead>
        </table>

        <p>
          <Row justify="end">
            <Col>
              <button justify="end" type="submit">
                Submit
              </button>
            </Col>
          </Row>
          <Row type="flex" justify="end">
            <Col>
              <Button @click="anteriorpag" type="error">
                Cancelar
              </Button>

              <Button @click.native="registrarBalanceH" type="success">
                Guardar
              </Button>
            </Col>
          </Row>
          <!-- <input type="submit" value="Submit" /> -->
        </p>
      </div>
    </Form>
  </div>
</template>

<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      viap: null,
      viac: null,
      sonda: null,
      viao: null,
      intestinal: null,
      tubular: null,
      penR: null,
      ost: null,
      email: null,
      errors: [],
      aguaMet: 0,
      perdSen: 0,
      t1valor1: 0,
      t1valor2: 0,
      t1valor3: 0,
      t1valor4: 0,

      t1valor11: 0,
      t1valor12: 0,
      t1valor13: 0,
      t1valor14: 0,
      t1valor15: 0,
      t1valor16: 0,
      t1valor17: 0,

      t2valor1: 0,
      t2valor2: 0,
      t2valor3: 0,
      t2valor4: 0,

      t2valor21: 0,
      t2valor22: 0,
      t2valor23: 0,
      t2valor24: 0,
      t2valor25: 0,
      t2valor26: 0,
      t2valor27: 0,

      t3valor1: 0,
      t3valor2: 0,
      t3valor3: 0,
      t3valor4: 0,

      t3valor31: 0,
      t3valor32: 0,
      t3valor33: 0,
      t3valor34: 0,
      t3valor35: 0,
      t3valor36: 0,
      t3valor37: 0,

      t4valor1: 0,
      t4valor2: 0,
      t4valor3: 0,
      t4valor4: 0,

      t4valor41: 0,
      t4valor42: 0,
      t4valor43: 0,
      t4valor44: 0,
      t4valor45: 0,
      t4valor46: 0,
      t4valor47: 0
    }
  },
  computed: {
    calcularSuma1() {
      return (
        parseInt(this.t1valor1) +
        parseInt(this.t1valor2) +
        parseInt(this.t1valor3) +
        parseInt(this.t1valor4)
      )
    },
    calcularSuma2() {
      return (
        parseInt(this.t2valor1) +
        parseInt(this.t2valor2) +
        parseInt(this.t2valor3) +
        parseInt(this.t2valor4)
      )
    },
    calcularSuma3() {
      return (
        parseInt(this.t3valor1) +
        parseInt(this.t3valor2) +
        parseInt(this.t3valor3) +
        parseInt(this.t3valor4)
      )
    },
    calcularSuma4() {
      return (
        parseInt(this.t4valor1) +
        parseInt(this.t4valor2) +
        parseInt(this.t4valor3) +
        parseInt(this.t4valor4)
      )
    },
    calcularSuma1F() {
      return (
        parseInt(this.t1valor11) +
        parseInt(this.t1valor12) +
        parseInt(this.t1valor13) +
        parseInt(this.t1valor14) +
        parseInt(this.t1valor15) +
        parseInt(this.t1valor16) +
        parseInt(this.t1valor17)
      )
    },
    calcularSuma2F() {
      return (
        parseInt(this.t2valor21) +
        parseInt(this.t2valor22) +
        parseInt(this.t2valor23) +
        parseInt(this.t2valor24) +
        parseInt(this.t2valor25) +
        parseInt(this.t2valor26) +
        parseInt(this.t2valor27)
      )
    },
    calcularSuma3F() {
      return (
        parseInt(this.t3valor31) +
        parseInt(this.t3valor32) +
        parseInt(this.t3valor33) +
        parseInt(this.t3valor34) +
        parseInt(this.t3valor35) +
        parseInt(this.t3valor36) +
        parseInt(this.t3valor37)
      )
    },
    calcularSuma4F() {
      return (
        parseInt(this.t4valor41) +
        parseInt(this.t4valor42) +
        parseInt(this.t4valor43) +
        parseInt(this.t4valor44) +
        parseInt(this.t4valor45) +
        parseInt(this.t4valor46) +
        parseInt(this.t4valor47)
      )
    },
    calcularSumaTI1() {
      return (
        parseInt(this.t1valor1) +
        parseInt(this.t2valor1) +
        parseInt(this.t3valor1) +
        parseInt(this.t4valor1)
      )
    },
    calcularSumaTI2() {
      return (
        parseInt(this.t1valor2) +
        parseInt(this.t2valor2) +
        parseInt(this.t3valor2) +
        parseInt(this.t4valor2)
      )
    },
    calcularSumaTI3() {
      return (
        parseInt(this.t1valor3) +
        parseInt(this.t2valor3) +
        parseInt(this.t3valor3) +
        parseInt(this.t4valor3)
      )
    },
    calcularSumaTI4() {
      return (
        parseInt(this.t1valor4) +
        parseInt(this.t2valor4) +
        parseInt(this.t3valor4) +
        parseInt(this.t4valor4)
      )
    },

    calcularSumaTE1() {
      return (
        parseInt(this.t1valor11) +
        parseInt(this.t2valor21) +
        parseInt(this.t3valor31) +
        parseInt(this.t4valor41)
      )
    },
    calcularSumaTE2() {
      return (
        parseInt(this.t1valor12) +
        parseInt(this.t2valor22) +
        parseInt(this.t3valor32) +
        parseInt(this.t4valor42)
      )
    },
    calcularSumaTE3() {
      return (
        parseInt(this.t1valor13) +
        parseInt(this.t2valor23) +
        parseInt(this.t3valor33) +
        parseInt(this.t4valor43)
      )
    },
    calcularSumaTE4() {
      return (
        parseInt(this.t1valor14) +
        parseInt(this.t2valor24) +
        parseInt(this.t3valor34) +
        parseInt(this.t4valor44)
      )
    },
    calcularSumaTE5() {
      return (
        parseInt(this.t1valor15) +
        parseInt(this.t2valor25) +
        parseInt(this.t3valor35) +
        parseInt(this.t4valor45)
      )
    },
    calcularSumaTE6() {
      return (
        parseInt(this.t1valor16) +
        parseInt(this.t2valor26) +
        parseInt(this.t3valor36) +
        parseInt(this.t4valor46)
      )
    },
    calcularSumaTE7() {
      return (
        parseInt(this.t1valor17) +
        parseInt(this.t2valor27) +
        parseInt(this.t3valor37) +
        parseInt(this.t4valor47)
      )
    }

    // calcularBalance() {
    //   return ({{calcularSumaTIF}} - {{calcularSumaTEF}})
    // }
  },
  mounted() {
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 1000)
  },
  methods: {
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    checkForm(e) {
      if (
        this.t1valor1 &&
        this.t1valor2 &&
        this.t1valor3 &&
        this.t1valor4 &&
        this.t1valor11 &&
        this.t1valor12 &&
        this.t1valor13 &&
        this.t1valor14 &&
        this.t1valor15 &&
        this.t1valor16 &&
        this.t1valor17 &&
        this.t2valor1 &&
        this.t2valor2 &&
        this.t2valor3 &&
        this.t2valor4 &&
        this.t2valor21 &&
        this.t2valor22 &&
        this.t2valor23 &&
        this.t2valor24 &&
        this.t2valor25 &&
        this.t2valor26 &&
        this.t2valor27 &&
        this.t3valor1 &&
        this.t3valor2 &&
        this.t3valor3 &&
        this.t3valor4 &&
        this.t3valor31 &&
        this.t3valor32 &&
        this.t3valor33 &&
        this.t3valor34 &&
        this.t3valor35 &&
        this.t3valor36 &&
        this.t3valor37 &&
        this.t4valor1 &&
        this.t4valor2 &&
        this.t4valor3 &&
        this.t4valor4 &&
        this.t4valor41 &&
        this.t4valor42 &&
        this.t4valor43 &&
        this.t4valor44 &&
        this.t4valor45 &&
        this.t4valor46 &&
        this.t4valor47
      ) {
        return true
      }
      if (!this.validEmail(this.email)) {
        this.errors.push('Valid email required.')
      }

      this.errors = []

      // if (!this.t1valor17) {
      //   this.errors.push('Se quiere el numero required.')
      // }
      // if (!this.t2valor27) {
      //   this.errors.push('Age required.')
      // }

      e.preventDefault()
    },
    validEmail(email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    },

    // this.apellido = data.basicos.apellidoPaterno
    //           this.nombre = data.basicos.nombres
    registrarBalanceH() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      // const currentObj = this
      api
        .put(
          'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090//api/formatos/balance-hidrico/5f13a3857cb5da3cec9df42f/medicion',
          {
            ingreso: {
              endovenosa: {
                viaPeriferica: this.t1valor1,
                viaCirculatoria: this.t1valor2
              },
              enteral: {
                sonda: this.t1valor3,
                viaOral: this.t1valor4
              },
              aguaMetabolica: this.aguaMet
            },
            egreso: {
              orina: this.t1valor1,
              sng: this.t1valor2,
              drenajeKehr: this.t1valor3,
              fistula: this.t1valor4,
              drenes: this.t1valor5,
              aposito: this.t1valor6,
              heces: this.t1valor7
            }
          },
          { headers }
        )
        .then((response) => {
          const data = response.data
          return data
        })
    }
  }
}
</script>
