<template>
  <Form>
    <h2 class="steps">
      Ficha Odonto-Estomatológicas
    </h2>
    Fecha: 23/08/2020 <br />
    Hora: 13:10:00
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Paciente: Katherine Ruiz, Edad: 22,<br />
    Sexo:Femenino, HCE:28931221 -->

    <Divider class="negrita" orientation="left" size="small">
      Evaluación Odontologica</Divider
    >
    <Row>
      <Col span="12" style="padding-right:30px">
        <FormItem class="negrita" label="Examen Extraoral">
          <Tooltip
            max-width="210"
            content="Describir el resultado del Examen Extraoral"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <br />
          <Input
            v-model="extraoral"
            type="textarea"
            placeholder="Descripción del Examen Extraoral"
          />
        </FormItem>
      </Col>
      <Col span="12" style="padding-right:30px">
        <FormItem class="negrita" label="Examen Intraoral">
          <Tooltip
            max-width="210"
            content="Describir el resultado del Examen Intraoral"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <br />
          <Input
            v-model="intraoral"
            type="textarea"
            placeholder="Descripción del Examen Intraoral"
          />
        </FormItem>
      </Col>
    </Row>
    <Divider class="negrita" orientation="left" size="small">
      Odontograma</Divider
    >
    <div style="text-align:center">
      <!-- <img src="@/assets/imagen/odontograma.PNG" /> -->
      <div style="display:flex;flex-direction:column">
        <div style="display:flex;justify-content:space-between;padding:0 25px">
          <h1>Derecha</h1>
          <h1>Izquierda</h1>
        </div>
        <div style="display:flex;width:100%">
          <div
            style="display:flex;width:50%;align-items:center;justify-content:center"
          >
            <div v-for="(x, index) in Array(8)">
              <div style="display:none">{{ x + index }}</div>
              <div
                style="display:flex;flex-direction:column;align-items:center"
              >
                <span style="text-align:center">{{ 18 - index }}</span>
                <button
                  @click.prevent="agregarDiente(18 - index)"
                  v-bind:class="{
                    'diente-activo': selectedDientes[18 - index]
                  }"
                  class="diente"
                ></button>
              </div>
            </div>
          </div>
          <div
            style="display:flex;width:50%;align-items:center;justify-content:center"
          >
            <div v-for="(x, index) in Array(8)">
              <div style="display:none">{{ x + index }}</div>
              <div
                style="display:flex;flex-direction:column;align-items:center"
              >
                <span style="text-align:center">{{ 21 + index }}</span>
                <button
                  @click.prevent="agregarDiente(21 + index)"
                  v-bind:class="{
                    'diente-activo': selectedDientes[21 + index]
                  }"
                  class="diente"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <div style="display:flex;width:100%;margin-top:40px">
          <div
            style="display:flex;width:50%;align-items:center;justify-content:center"
          >
            <div v-for="(x, index) in Array(8)">
              <div style="display:none">{{ x + index }}</div>
              <div
                style="display:flex;flex-direction:column;align-items:center"
              >
                <span style="text-align:center">{{ 48 - index }}</span>
                <button
                  @click.prevent="agregarDiente(48 - index)"
                  v-bind:class="{
                    'diente-activo': selectedDientes[48 - index]
                  }"
                  class="diente"
                ></button>
              </div>
            </div>
          </div>
          <div
            style="display:flex;width:50%;align-items:center;justify-content:center"
          >
            <div v-for="(x, index) in Array(8)">
              <div style="display:none">{{ x + index }}</div>
              <div
                style="display:flex;flex-direction:column;align-items:center"
              >
                <span style="text-align:center">{{ 31 + index }}</span>
                <button
                  @click.prevent="agregarDiente(31 + index)"
                  v-bind:class="{
                    'diente-activo': selectedDientes[31 + index]
                  }"
                  class="diente"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <div
          v-if="listaDientes.length !== 0"
          style="align-self:flex-start;margin-left:25px"
        >
          <h1>Diagnóstico</h1>
        </div>
        <div
          v-if="listaDientes !== []"
          v-for="(diente, index) in listaDientes"
          :key="index"
          style="display:flex;flex-direction:column;width:100%;padding:25px"
        >
          <div style="display:flex">
            <h3 style="margin-right:10px">Nro Pieza:</h3>
            <h3>{{ diente.nro }}</h3>
          </div>
          <div style="display:flex">
            <Select
              v-model="diente.tratamiento"
              @input="prueba"
              style="margin-right:20px"
              class="negrita"
              justify="end"
              placeholder="Seleccionar Diagnóstico"
            >
              <Option
                @input="prueba"
                v-for="item in tratamientos"
                :value="item"
                :key="item"
                >{{ item }}
              </Option>
            </Select>

            <CheckboxGroup @input="prueba" v-model="diente.posicion">
              <Checkbox :value="0" label="0">
                <span>Raíz</span>
              </Checkbox>
              <br />
              <Checkbox :value="1" label="1">
                <span>O</span>
              </Checkbox>
              <br />
              <Checkbox :value="2" label="2">
                <span>V</span>
              </Checkbox>
              <Checkbox :value="3" label="3">
                <span>L</span>
              </Checkbox>
              <Checkbox :value="5" label="5">
                <span>M</span>
              </Checkbox>
              <Checkbox :value="6" label="6">
                <span>D</span>
              </Checkbox>
            </CheckboxGroup>
            <div>
              <button
                @click.prevent="eliminarDiagnostico(diente.nro)"
                class="eliminar"
              >
                X
              </button>
            </div>
          </div>
        </div>
        <Input
          v-model="anotaciones"
          style="margin-top:40px"
          draggable="false"
          type="textarea"
          name="Anotaciones"
          placeholder="Anotaciones adicionales"
        ></Input>
      </div>
    </div>
    <br />
    <Divider class="negrita" orientation="left" size="small"> Índice</Divider>
    <Row>
      <Col span="6">
        <FormItem class="negrita" label="Experiencia de caries">
          <Tooltip
            max-width="210"
            content="Describir el resultado del Experiencia de caries"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <InputNumber
            v-model="caries"
            :max="10"
            :min="1"
            style="width: 150px"
          ></InputNumber>
          <!-- <Input
            type="number"
            style="width: 120px"
            placeholder="Descripción del Experiencia de caries"
          /> -->
        </FormItem>
      </Col>
      <Col span="6">
        <FormItem class="negrita" label="Consumo de azúcares">
          <Tooltip
            width="210"
            content="Describir el resultado del consumo de azúcares"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <InputNumber
            v-model="consumoAzucar"
            :max="10"
            :min="1"
            style="width: 150px"
          ></InputNumber>
          <!-- <Input
            style="width: 120px"
            type="number"
            placeholder="Descripción del Consumo de azucares"
          /> -->
        </FormItem>
      </Col>
      <Col span="6">
        <FormItem class="negrita" label="Índice de Higiene">
          <Tooltip
            width="210"
            content="Describir el resultado del Índice de Higiene"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <Select v-model="indiceH" style="width: 150px">
            <Option> Seleccione el riesgo de caries</Option>
            <Option value="Buena"> Buena</Option>
            <Option value="Regular"> Regular</Option>
            <Option value="Bajo"> Bajo</Option>
          </Select>
        </FormItem>
      </Col>
      <Col span="6">
        <FormItem class="negrita" label="Riesgo de caries">
          <Tooltip
            width="210"
            content="Describir el resultado del Riesgo de caries"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>

          <Select v-model="riesgoC" style="width: 150px">
            <Option> Seleccione el riesgo de caries</Option>
            <Option value="Bajo"> Bajo</Option>
            <Option value="Moderado"> Moderado</Option>
            <Option value="Alto"> Alto</Option>
          </Select>
        </FormItem>
      </Col>
    </Row>
    <br />
    <div class="solid">
      <Row>
        <Col span="10">
          <div style="text-align:center">
            <img
              class="higienedental"
              src="@/assets/imagen/indicehigiene.png"
            />
          </div>
        </Col>
        <Col span="8">
          <FormItem class="negrita" label=" Índice de placa blanda: ">
            <Tooltip width="210" content="Describir el Índice de placa blanda">
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <Input
              v-model="placaB"
              type="number"
              placeholder="Descripción del Índice de placa
          blanda"
            />
          </FormItem>
          <FormItem class="negrita" label=" Índice de placa Calcificada: ">
            <Tooltip
              width="210"
              content="Describir el Índice de placa Calcificada"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <Input
              v-model="placaC"
              type="number"
              placeholder="Descripción placa Calcificada"
            />
          </FormItem>
        </Col>
      </Row>
    </div>
    <br />
    <Divider class="negrita" orientation="left" size="small">
      Evaluacion Requerida</Divider
    >
    <FormItem class="negrita" label="Estado clínico">
      <Tooltip
        width="210"
        content="Describir el resultado del Estado clínico de higiene dental"
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>

      <Select v-model="estadoC" style="width: 250px">
        <Option> Seleccione el Estado clínico</Option>
        <Option value="Bajo"> Bajo</Option>
        <Option value="Moderado"> Moderado</Option>
        <Option value="Alto"> Alto</Option>
      </Select>
    </FormItem>

    <FormItem class="negrita" label="Riesgo Estomatológico">
      <Tooltip
        max-width="210"
        content="Describir el resultado del Riesgo Estomatológico"
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <br />
      <Input
        v-model="riesgoE"
        type="textarea"
        placeholder="Descripción del Riesgo Estomatológico"
      />
    </FormItem>
    <FormItem class="negrita" label="Diagnóstico">
      <Tooltip max-width="210" content="Describir el resultado del Diagnóstico">
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <br />
      <Input
        v-model="diagnostico"
        type="textarea"
        placeholder="Descripción del Diagnóstico"
      />
    </FormItem>
    <FormItem class="negrita" label="Tratamiento aplicado">
      <Tooltip
        max-width="210"
        content="Describir el resultado del tratamiento aplicado"
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <br />
      <Input
        v-model="tratamiento"
        type="textarea"
        placeholder="Descripción del tratamiento aplicado"
      />
    </FormItem>
    <br />
    <Row type="flex" justify="end">
      <Col>
        <Button @click="anteriorpag" type="error">
          Cancelar
        </Button>

        <Button @click.native="registrarOdonto" type="success">
          Guardar
        </Button>
      </Col>
    </Row>
  </Form>
</template>

<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.ivu-checkbox-group.ivu-checkbox-default {
  display: flex;
  align-items: center;
}
.ivu-checkbox-wrapper.ivu-checkbox-group-item.ivu-checkbox-default {
  display: flex;
}
button.eliminar {
  padding: 5px 10px;
  background-color: rgb(243, 243, 243);
  color: rgb(105, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}
button.eliminar:hover {
  background-color: rgb(165, 165, 165);
}
button.diente {
  cursor: pointer;
  padding: 20px;
  background-color: whitesmoke;
  border: solid 1px gray;
  margin: 5px 4px;
  transition: ease-out 0.3s;
}
button.diente-activo {
  background-color: rgb(82, 54, 54);
  transition: ease 0.3s;
}
button.diente-activo:hover {
  background-color: rgb(63, 42, 42) !important;
  transition: ease 0.3s;
}
button.diente:hover {
  background-color: rgb(199, 199, 199);
}

.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
.solid {
  border-style: dotted;
}
.higienedental {
  max-width: 50%;
  padding: 15px 0;
}
</style>
<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      selectedDientes: Array(38).fill(false),
      listaDientes: [],
      diente: {
        nro: 16,
        posicion: [0, 1, 2, 3, 4],
        // 0=raiz, 1=arriba, 2=abajo, 3=izq, 4=derecha
        tratamientos: [
          { nombre: 'Caries', posicion: 0 },
          { nombre: 'Fractura', posicion: 1 }
        ]
      },
      tratamientos: [
        'Amalgama',
        'Caries',
        'Corona',
        'Diseño',
        'Endodoncia',
        'Perno',
        'Pilar pontico',
        'Extracción',
        'Resina',
        'Sellante'
      ],
      anotaciones: '',

      fechaHoraActual: '',
      nomp: null,
      apP: null,
      apM: null,
      extraoral: null,
      intraoral: null,
      caries: 0,
      numcaries: 0,
      consumoAzucar: 0,
      numconsumoAzucar: 0,
      indiceH: null,
      numindiceH: 0,
      riesgoC: null,
      numriesgoC: 0,
      placaB: 0,
      numplacaB: 0,
      placaC: 0,
      numplacaC: 0,
      estadoC: null,
      riesgoE: null,
      diagnostico: null,
      tratamiento: null
    }
  },
  mounted() {
    console.log('LISTA:', this.listaDientes)
    this.incializacionDatos()
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
  },
  methods: {
    eliminarDiagnostico(id) {
      let indice = null
      this.listaDientes.map((x, index) => {
        if (x.nro === id) {
          indice = index
        }
      })
      this.listaDientes.splice(indice, 1)
      this.selectedDientes[id] = false
    },
    prueba() {
      console.log('this', this.listaDientes)
    },
    agregarDiente(id) {
      console.log('ID:', id)
      this.listaDientes.push({ nro: id })
      this.selectedDientes[id] = true
    },
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    registrarOdonto() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }

      if (this.indiceH === 'Buena') {
        this.numindiceH = 1
      } else if (this.indiceH === 'Regular') {
        this.numindiceH = 2
      } else if (this.indiceH === 'Bajo') {
        this.numindiceH = 3
      }
      if (this.riesgoC === 'Buena') {
        this.numriesgoC = 1
      } else if (this.riesgoC === 'Moderado') {
        this.numriesgoC = 2
      } else if (this.riesgoC === 'Alto') {
        this.numriesgoC = 3
      }
      return api
        .post(
          'api/formatos/odonto',
          {
            paciente: 72573563,
            ipress: 5946,
            evaluacion: {
              extraoral: this.extraoral,
              intraoral: this.intraoral
            },
            indice: {
              caries: 1,
              consumoAzucar: 1,
              indiceHigiene: 1,
              riesgoCaries: 1,
              placaBlanda: 1,
              placaCalcificada: 1
            },
            requerida: {
              estadoClinico: this.estadoC,
              riesgoEstomatologico: this.riesgoE,
              diagnostico: this.diagnostico,
              tratamiento: this.tratamiento
            }
          },
          {
            headers
          }
        )
        .then((response) => {
          const data = response.data
          return data
        })
    }
  }
}
</script>
