<template>
  <div class="container">
    <div>
      <h1 style="margin-top:-70px">Emergencias</h1>
    </div>
    <span>Listado de Pacientes</span>
    <AutoComplete
      v-if="nuevoPac === false"
      @on-change="handleSearch"
      v-model="auxPaciente"
      :filter-method="filterMethod"
      icon="ios-search"
      placeholder="Seleccione Paciente"
      style="width:70%;max-width:500px;margin-top:15px"
    >
      <Option v-for="item in pacientes" :value="item" :key="item.nombre">{{
        item.nombre + ' -  ' + item.dni
      }}</Option>
    </AutoComplete>
    <AutoComplete
      v-if="nuevoPac === true"
      @on-change="handleSearch2"
      v-model="auxPaciente"
      :filter-method="filterMethod"
      icon="ios-search"
      placeholder="Seleccione Paciente Nuevo"
      style="width:70%;max-width:500px;margin-top:15px"
    >
      <Option
        v-for="item in pacientesNuevos"
        :value="item"
        :key="item.nombre"
        >{{ item.nombre + ' -  ' + item.dni }}</Option
      >
    </AutoComplete>

    <Table
      v-if="emergencias"
      :columns="columns"
      :data="emergencias"
      border
      style="width:70vw;margin-top:25px"
    >
      <template #index="{ row }">
        <strong>{{ row.index }}</strong>
      </template>
      <template #action="{ row, index }">
        <Button
          @click="show(index)"
          icon="md-eye"
          type="primary"
          size="small"
          style="margin-right: 5px"
          >Ver</Button
        >
      </template>
    </Table>

    <Button
      v-if="emergencias"
      @click="$router.push('/emergencia')"
      style="margin-top:50px"
      type="primary"
      size="large"
      >Registrar Ingreso Emergencia</Button
    >
    <Button
      v-if="!emergencias & (nuevoPac === false)"
      @click="nuevoPac = true"
      style="margin-top:50px"
      type="primary"
      size="large"
      >Añadir nuevo paciente</Button
    >
  </div>
</template>

<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      nuevoPac: false,
      estadoInicial: [],
      estadoInicial2: [],
      auxPaciente: '',
      paciente: '',
      pacientes: [],
      pacientesNuevos: [],
      columns: [
        { title: 'N°', slot: 'index', width: 50, align: 'center' },
        { title: 'Hospital', key: 'nombHosp' },
        { title: 'Nombre', key: 'tipo' },
        { title: 'Fecha Admisión', key: 'fecha' },
        { title: 'Acción', slot: 'action', align: 'center' }
      ],
      emergencias: null
    }
  },
  watch: {
    auxPaciente() {
      if (this.paciente.nombre) {
        console.log('HOLA:', this.paciente)

        const headers = {
          'Content-Type': 'application/json',
          Authorization: localStorage.getItem('token')
        }
        return api
          .get(
            'api/formatos/historia-clinica/' +
              this.paciente.dni +
              '/paginado?numeroPagina=1&tamanoPagina=5&tipoFormato=40',
            {
              headers
            }
          )
          .then((response) => {
            const data = response.data.formatos
            console.log('DATA:', data)

            data.map((x, index) => {
              x.index = index + 1
              x.fecha = x.fecha.substring(0, 10)
              console.log('x:', x)
              x.nombHosp = x.ipress.nombre
            })
            console.log('DATA2:', data)
            this.emergencias = data
          })
      }
    }
  },
  mounted() {
    this.obtenerListadoPacientes()
    this.incializacionDatos()
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
  },
  methods: {
    handleSearch(paciente) {
      this.paciente = paciente
      this.auxPaciente = paciente.nombre
      const auxPacientes = []
      this.pacientes.map((x) => {
        auxPacientes.push(x.nombre + '  -  ' + x.dni)
      })

      const auxLista = []
      const listaIndices = []
      if (paciente.nombre) {
        for (const i in auxPacientes) {
          if (
            auxPacientes[i]
              .toUpperCase()
              .includes(paciente.nombre.toUpperCase())
          ) {
            auxLista.push(auxPacientes[i])
          } else {
            listaIndices.push(i)
          }
        }
      } else {
        for (const i in auxPacientes) {
          if (auxPacientes[i].toUpperCase().includes(paciente.toUpperCase())) {
            auxLista.push(auxPacientes[i])
          } else {
            listaIndices.push(i)
          }
        }
      }
      listaIndices.sort((a, b) => b - a)
      for (const i in listaIndices) {
        this.pacientes.splice(listaIndices[i], 1)
      }
      // return auxLista.length === 0 ? (paciente = '') : auxLista
      // this.pacientes = auxPacientes
      if (paciente.length === 0) {
        this.pacientes = [...this.estadoInicial]
        console.log('holas', this.estadoInicial)
      }
    },
    handleSearch2(paciente) {
      this.paciente = paciente
      this.auxPaciente = paciente.nombre
      const auxPacientes = []
      this.pacientes.map((x) => {
        auxPacientes.push(x.nombre + '  -  ' + x.dni)
      })

      const auxLista = []
      const listaIndices = []
      if (paciente.nombre) {
        for (const i in auxPacientes) {
          if (
            auxPacientes[i]
              .toUpperCase()
              .includes(paciente.nombre.toUpperCase())
          ) {
            auxLista.push(auxPacientes[i])
          } else {
            listaIndices.push(i)
          }
        }
      } else {
        for (const i in auxPacientes) {
          if (auxPacientes[i].toUpperCase().includes(paciente.toUpperCase())) {
            auxLista.push(auxPacientes[i])
          } else {
            listaIndices.push(i)
          }
        }
      }
      listaIndices.sort((a, b) => b - a)
      for (const i in listaIndices) {
        this.pacientes.splice(listaIndices[i], 1)
      }
      // return auxLista.length === 0 ? (paciente = '') : auxLista
      // this.pacientes = auxPacientes
      if (paciente.length === 0) {
        this.pacientes = [...this.estadoInicial2]
        console.log('holas', this.estadoInicial2)
      }
    },
    obtenerListadoPacientes() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api
        .get('api/formatos/general/lista-pacientes/40', {
          headers
        })
        .then((response) => {
          const data = response.data
          console.log('DATA:', data)
          this.pacientes = [...data]
          this.estadoInicial = [...data]
          console.log('estado:', this.estadoInicial)
        })
      const headers2 = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return api
        .get('api/formatos/general/lista-pacientes', {
          headers2
        })
        .then((response) => {
          const data = response.data
          console.log('DATA:', data)
          this.pacientesNuevos = [...data]
          this.estadoInicial2 = [...data]
          console.log('estado:', this.estadoInicial)
        })
    },
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    filterMethod(value, option) {
      console.log('VALUE:', value, '\nOPTION:', option)
      return option.toUpperCase().includes(value.toUpperCase())
    },
    show(index) {
      this.$Modal.info({
        title: 'Detalles de Hospitalización',
        content: `Prueba ` + (index + 1)
      })
    },
    remove(index) {
      this.data.splice(index, 1)
    }
  }
}
</script>

<style>
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
}
.card {
  text-align: center;
  width: 30%;
  padding: 10px;
  background-color: #515a6e;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  font-family: 'Segoe UI';
  cursor: pointer;
  height: 120px;
  user-select: none;
}
.card:hover {
  background-color: #6a7691;
}
</style>
