<template>
  <div>
    <Table
      v-if="arregloPac"
      :columns="columns"
      :data="arregloPac ? arregloPac : null"
      class="mi-tab"
      border
    >
      <template slot="nro" slot-scope="{ row }">
        {{ row.nro }}
      </template>
      <template slot="tipo" slot-scope="{ row }">
        {{ row.tipo }}
      </template>
      <template slot="fecha" slot-scope="{ row }">
        {{ row.fecha }}
      </template>

      <template slot="acceso" slot-scope="{ row }">
        <div>
          <Tag @click.native="goToFormat(row)" color="primary">
            Visualizar Formato
          </Tag>
        </div>
        <!-- <div v-if="row.tipo === 'Filiación'">
          <Tag @click.native="gofili" color="primary">
            Visualizar Formato
          </Tag>
        </div>
        <div v-else-if="row.tipo === 'Consulta Externa'">
          <Tag @click.native="gotocexterna" color="primary">
            Visualizar Formato
          </Tag>
        </div>
        <div v-else-if="row.tipo === 'Emergencia'">
          <Tag @click.native="gotoemergencia" color="primary">
            Visualizar Formato
          </Tag>
        </div>
        <div v-else-if="row.tipo === 'Familiar'">
          <Tag @click.native="gotofamiliar" color="primary">
            Visualizar Formato
          </Tag>
        </div>
        <div v-else-if="row.tipo === 'Hospitalización'">
          <Tag @click.native="gotohosp" color="primary">
            Visualizar Formato
          </Tag>
        </div>
        <div v-else-if="row.tipo === 'Notas de Enfermería'">
          <Tag @click.native="gotointerconsulta" color="primary">
            Visualizar Formato
          </Tag>
        </div> -->
      </template>
    </Table>
  </div>
</template>

<script>
export default {
  props: {
    arregloPac: {
      type: Array,
      required: true,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      columns: [
        {
          title: 'Nro',
          slot: 'nro',
          align: 'center',
          width: 80
        },
        {
          title: 'Tipo de Formato',
          slot: 'tipo',
          align: 'center'
        },
        {
          title: 'Fecha de creación',
          slot: 'fecha',
          align: 'center'
        },
        {
          title: 'Acceder',
          slot: 'acceso',
          align: 'center'
        }
      ]
    }
  },
  methods: {
    // irformato() {
    //   if (this.columns.slot === 'Formato de Filiación') {
    //     this.$router.push('/filiacion')
    //   }
    //   if (columns.nro === 'Consulta Externa') {
    //     this.$router.push('/consultaexterna')
    //   }
    //   if (columns.nro === 'Interconsulta') {
    //     this.$router.push('/interconsulta')
    //   }
    // },
    goToFormat(row) {
      console.log('ROW:', row)
      localStorage.setItem('Formato', JSON.stringify(row))
      switch (row.tipo) {
        case 'Filiación':
          this.$router.push('/filiacion')
          break
        case 'Consulta Externa':
          this.$router.push('/consultaexterna')
          break
        case 'Emergencia':
          this.$router.push('/emergencia')
          break
        case 'Familiar':
          this.$router.push('/familiar')
          break
        case 'Hospitalización':
          this.$router.push('/emergencia')
          break
        case 'Notas de Enfermería':
          this.$router.push('/notasenfermeria')
          break
        case 'Signos Vitales':
          console.log('SIGNOS VITALES')
          break
      }
    },
    gotnuevohosp() {
      this.$router.push('/emergencia')
    },
    gotocexterna() {
      this.$router.push('/consultaexterna')
    },
    gofili() {
      this.$router.push('/filiacion')
    },
    gotofamiliar() {
      this.$router.push('/familiar')
    },
    gotointerconsulta() {
      this.$router.push('/sinterconsulta')
    },
    gotoemergencia() {
      this.$router.push('/emergencia')
    }
  }
}
</script>

<style>
.mi-tab .ivu-table th {
  background-color: rgba(33, 146, 135) !important;
}
.mi-tab th .ivu-table-cell {
  color: black !important;
}

.steps {
  margin-bottom: 2rem;
  text-align: center;
}
</style>
