<template>
  <div>
    <Row>
      <Col span="20">
        <h1 style="margin-left: 330px">Sistema de Historia Clínicas</h1>
      </Col>
      <Col span="4">
        <Select
          v-model="model1"
          class="negrita"
          justify="end"
          placeholder="Emergencia"
        >
          <Option v-for="item in metricas" :value="item.value" :key="item.value"
            >{{ item.label }}
          </Option>
        </Select>
      </Col>
    </Row>
    <!-- <h1 class="steps">Sistema de Historia Clínicas</h1> -->
    <h3 class="steps">Lista de Pacientes</h3>
    <p></p>

    <Table :columns="columnas" :data="arregloPacientes" class="mi-tabla" border>
      <template slot="numhce" slot-scope="{ row }">
        {{ row.numhce }}
      </template>
      <template slot="paciente" slot-scope="{ row }">
        <div>{{ row.nombre }}</div>
        <div>{{ row.dni }}</div>
        <div>{{ row.edad }} años</div>
      </template>
      <!-- <template slot="cama" slot-scope="{ row }">
        {{ row.cama }}
      </template> -->
      <template slot="ultimaatencion" slot-scope="{ row }">
        {{ row.ultimaatencion }}
      </template>
      <!-- <template slot="acciones" slot-scope="{ row }">
        <div v-if="row.acciones === 'POR_ATENDER'">
          <Tag @click.native="gotnuevohosp" color="success">
            Por atender
          </Tag>
        </div>
        <div v-else-if="row.acciones === 'NUEVO'">
          <Tag key="nuevo" @click.native="gotnuevoot" color="primary">
            Nuevo
          </Tag>
        </div>
      </template> -->
      <template slot="acciones">
        <Tag @click.native="gotoperfil" color="success">
          Acceder a Historia
        </Tag>
      </template>
    </Table>
  </div>
</template>

<script>
export default {
  props: {
    arregloPacientes: {
      type: Array,
      required: true,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      metricas: [
        {
          value: 'CE-PEDIATRIA',
          label: 'CE-PEDIATRIA'
        },
        {
          value: 'Emergencia',
          label: 'Emergencia'
        },
        {
          value: 'HOSP-CIRUGIA',
          label: 'HOSP-CIRUGIA'
        },
        {
          value: 'CE-CARDIOLOGIA',
          label: 'CE-CARDIOLOGIA'
        }
      ],
      columnas: [
        {
          title: 'Número de HCE',
          slot: 'numhce'
        },
        {
          title: 'Paciente',
          slot: 'paciente'
        },
        {
          title: 'Última Atención',
          slot: 'ultimaatencion'
        },
        {
          title: 'Acciones',
          slot: 'acciones'
        }
      ]
    }
  },
  methods: {
    gotnuevohosp() {
      this.$router.push('/hospitalizaciones/nueva')
    },
    gotoperfil() {
      this.$router.push('/perfil')
    }
  }
}
</script>

<style>
.mi-tabla .ivu-table th {
  background-color: rgba(30, 141, 0) !important;
}
.mi-tabla th .ivu-table-cell {
  color: black !important;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
</style>
