<template>
  <Form>
    <h1 class="steps">Emergencia</h1>
    Fecha:{{ fechaHoraActual }}
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Grupo Sanguíneo
            </span>
          </div>
          <div>
            <span class="datos">
              O+
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Número de Triaje:
            </span>
          </div>
          <div>
            <span class="datos">
              12523423
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Paciente: {{ nomp }} {{ apP }} {{ apM }}
    &nbsp;&nbsp;&nbsp; DNI:72573563
    <br />
    Edad: 23 &nbsp;&nbsp;&nbsp;Grupo sanguineo: O+ <br />
    Genero: Femenino <br />Numero de Triaje -->
    <!-- <div style="text-align:right"> -->
    <!-- Nombre Completo: DNI: Edad: Grupo sanguineo: Genero: Numero de Triaje -->
    <img class="imagenenf" src="@/assets/imagen/emergencia.png" />
    <!-- src="https://image.flaticon.com/icons/png/512/119/119059.png" -->
    <!-- </div> -->

    <Divider
      style="margin-bottom:30px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos de Emergencia</Divider
    >
    <Steps :current="current" class="steps">
      <Step title="Triaje" content="Datos médicos"> </Step>
      <Step title="Datos emergencia" content="Datos de la emergencia"> </Step>
      <Step
        title="Diagnostico y tratamiento"
        content="Diagnostico final y tratamiento"
      >
      </Step>
      <Step title="Plan de trabajo" content="Tratar al paciente"> </Step>
    </Steps>
    <template v-if="current === 0">
      <Row>
        <Col span="3">
          <FormItem label="Temperatura">
            <Tooltip
              max-width="210"
              content="Colocar la temperatura del paciente (°C)"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input v-model="temperatura" type="number" style="width: 100px" />
          </FormItem>
        </Col>
        <Col span="4">
          <FormItem label="Presión Arterial (mmHg)">
            <Tooltip
              max-width="210"
              content="Colocar la presión arterial del paciente"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input
              v-model="presionArterial"
              type="number"
              style="width: 100px"
            />
          </FormItem>
          <br />
          <!-- &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; -->
        </Col>
        <Col span="3">
          <FormItem label="F. Cardiaca">
            <Tooltip
              max-width="210"
              content="Colocar la frecuencia cardiaca del paciente en lpm"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input v-model="presionCard" type="number" style="width: 100px" />
          </FormItem>
          <br />
        </Col>
        <Col span="4">
          <FormItem label="F. Respiratoria">
            <Tooltip
              max-width="210"
              content="Colocar la frecuencia respiratoria del paciente en rpm"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input
              v-model="frecuenciaRespiratoria"
              type="number"
              style="width: 100px"
            />
          </FormItem>
          <br />
        </Col>

        <Col span="3">
          <FormItem label="Peso">
            <Tooltip
              max-width="210"
              content="Colocar el peso del paciente en kg"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input v-model="peso" type="number" style="width: 100px" />
          </FormItem>
          <br />
        </Col>
        <Col span="3">
          <FormItem label="Talla">
            <Tooltip
              max-width="210"
              content="Colocar el talla del paciente en metros"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input v-model="talla" type="number" style="width: 100px" />
          </FormItem>
          <br />
        </Col>
        <Col span="3">
          <br />
          IMC: {{ calcularIMC }} (kg/m2)
          <br />
        </Col>
      </Row>
    </template>
    <template v-if="current === 1">
      <Row>
        <Col span="12" style="padding-right:30px">
          <FormItem label="Tipo de prioridad" class="negrita">
            <Tooltip
              max-width="210"
              content="Se coloca el tipo de prioridad según el grado de emergencia y la condición del paciente de mayor (I) a menor prioridad (IV)"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <br />
            <RadioGroup v-model="tipoP">
              <Radio class="nonegrita" label="I" value="1">I (máx)</Radio>
              <Radio class="nonegrita" label="II" value="2">II</Radio>
              <Radio class="nonegrita" label="III" value="3">III</Radio>
              <Radio class="nonegrita" label="IV" value="4">IV (min)</Radio>
            </RadioGroup>
          </FormItem>

          <FormItem class="negrita" label="Motivo de atención:">
            <Tooltip
              max-width="210"
              content="Se coloca el motivo por el cual el paciente se encuentra en emergencia"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <Input
              v-model="motivo"
              type="textarea"
              placeholder="Motivo de atención"
            />
          </FormItem>

          <FormItem class="negrita" label="Tiempo de enfermedad:">
            <Tooltip
              max-width="210"
              content="Se coloca el tiempo que padece con esa enfermedad"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <Input placeholder="Tiempo de enfermedad">
              <Select slot="append" v-model="tiempoE" style="width: 70px">
                <Option value="dias">dias</Option>
                <Option value="meses">meses</Option>
                <Option value="anhios">anhios</Option>
              </Select>
            </Input>
          </FormItem>
          <FormItem
            class="negrita"
            label="
    Sintomas principales:"
          >
            <Tooltip
              max-width="210"
              content="Se coloca los sintomas que padece como fiebre, alteraciones, nauseas entre otros"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <Input
              v-model="sintomasP"
              type="textarea"
              placeholder="Síntomas principales"
            />
            <p></p>
          </FormItem>
          <FormItem class="negrita" label="Relato">
            <Tooltip
              max-width="210"
              content="Se coloca un breve relato de la enfermedad"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <Input v-model="relato" type="textarea" placeholder="Relato" />
            <p></p>
          </FormItem>
        </Col>
        <Col span="12">
          <Label> Ver Antecedentes </Label>

          <Tooltip
            max-width="210"
            content="Ver antecedentes previos del paciente"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <br /><br />
          <Button>
            Ver Antecedentes
          </Button>
          <!-- <Modal is-open=""></Modal> -->
          <p></p>

          <!-- <FormItem
          class="negrita"
          label="
    Hospitalizaciones previas:"
        >
          <Tooltip
            max-width="210"
            content="Ver las hospitales previas del paciente"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input v-model="hospPrev" placeholder="Hospitalizaciones previas" />
        </FormItem> -->

          <!-- <FormItem
          class="negrita"
          label="
    Medicacion habitual:"
        >
          <Tooltip
            max-width="210"
            content="Ver la medicación habitual del paciente"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input v-model="medHab" placeholder="Medicacion habitual" />
        </FormItem> -->

          <!-- <Button>
          Seleccionar Medicamentos
        </Button> -->
          <!-- <Modal is-open="{this.state.modalDiagnosticoImagenes}"></Modal> -->
          <FormItem label="Estado basal:" class="negrita">
            <Tooltip
              max-width="210"
              content="Si el paciente depende de alguna ayuda en sus actividades diarias. Independiente (no depende de nadie). Dependiente (Requiere ayuda no puede hacerlo al 100%). Totalmente dependiente (si o si necesita de una persona)"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <RadioGroup v-model="estadoB">
              <Radio class="nonegrita" value="independiente"
                >Independiente</Radio
              >
              <Radio class="nonegrita" value="dependienteparcial"
                >Dependiente Parcial</Radio
              >
              <Radio class="nonegrita" value="dependientetotal"
                >Dependiente Total</Radio
              >
            </RadioGroup>
          </FormItem>

          <FormItem class="negrita" label=" Examen físico:">
            <Tooltip max-width="210" content="Examinar al paciente">
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <Input
              v-model="exFisico"
              type="textarea"
              placeholder="Examen físico"
            />
          </FormItem>
        </Col>
      </Row>
    </template>
    <template v-if="current === 2">
      <FormItem
        class="negrita"
        label="
    Diagnóstico final:"
      >
        <Tooltip
          max-width="210"
          content="Brindar el diagnóstico final al paciente"
        >
          <Icon type="md-help-circle" size="20" />
        </Tooltip>
        <Input
          v-model="diagFinal"
          type="textarea"
          placeholder="Diagnóstico final"
        />
      </FormItem>
      <FormItem
        class="negrita"
        label="
    Observaciones:"
      >
        <Tooltip
          max-width="210"
          content="Colocar observaciones adicionales tratados en el paciente"
        >
          <Icon type="md-help-circle" size="20" />
        </Tooltip>
        <Input v-model="obser" type="textarea" placeholder="Observaciones" />
      </FormItem>
    </template>
    <template v-if="current === 3">
      <FormItem class="negrita" label="Examenes de ayuda diagnostica">
        <Tooltip max-width="210" content="">
          <Icon type="md-help-circle" size="20" />
        </Tooltip>
        <Button @click="modal1 = true" type="primary">
          Elegir examenes de ayuda diagnostica
        </Button>
        <div>
          <Modal
            v-model="modal1"
            @on-ok="Agregar"
            @on-cancel="Cancelar"
            ok-text="Agregar"
            cancel-text="Cancelar"
            title="Completar los siguientes datos"
          >
            <RadioGroup v-model="examenes" @input="prueba()">
              ¿Elegir examenes de ayuda diagnostica?
              <br />
              <Radio label="Procedimientos medicos"></Radio>
              <Radio label="Procedimientos Quirurgicos"></Radio>
              <Radio label="Interconsultas"></Radio>
            </RadioGroup>
            <br />
          </Modal>
        </div>
      </FormItem>
      <div
        v-if="examenes === 'Procedimientos Quirurgicos'"
        style="margin-top:30px"
      >
        <Form>
          <h2 class="steps">Orden de Intervención quirúrgica</h2>
          <!-- Fecha: 23/08/2020 <br />
          Hora: 13:10:00 -->
          <!-- <Divider
            style="margin-top:40px"
            class="negrita"
            orientation="left"
            size="small"
            >Datos Paciente</Divider
          > -->
          <!--   <div class="contenedor-datos">
            <div class="fila-datos">
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Paciente:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    Katherine Ruiz
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    DNI:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    72573563
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Edad:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    22
                  </span>
                </div>
              </div>
            </div>
            <div class="fila-datos">
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Sexo:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    Femenino
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    HCE:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    28931221
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Cama:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    22
                  </span>
                </div>
              </div>
            </div>
            <div class="fila-datos">
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Servicio:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    Cirugía
                  </span>
                </div>
              </div>
            </div>
          </div> -->

          <Divider class="negrita" orientation="left" size="small"
            >Diagnóstico</Divider
          >
          <Table :columns="columnsO" :data="dataO" border></Table>

          <Divider class="negrita" orientation="left" size="small"
            >Datos Requeridos</Divider
          >
          <FormItem class="negrita" label="Procedimiento quirúgico">
            <Tooltip
              max-width="210"
              content="Colocar si o no dependiendo si se trata de un estudio especial o cultivo "
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>

            <Select v-model="procquirugico" style="width: 250px">
              <Option>
                Seleccione el procedimiento quirúgico que se va a
                realizar</Option
              >
              <Option value="Apendicectomía"> Apendicectomía</Option>
              <Option value="Biopsia de mama"> Biopsia de mama</Option>
              <Option value="Endoarteriectomía de la carótida">
                Endoarteriectomía de la carótida</Option
              >
              <Option value="Cirugía de cataratas">
                Cirugía de cataratas</Option
              >
              <Option value="Cesárea"> Cesárea</Option>
            </Select>
          </FormItem>
          <br />
          <FormItem class="negrita" label="Fecha de la operación">
            <Tooltip max-width="210" content="Colocar la fecha de la operación">
              <Icon type="md-help-circle" size="18" />
            </Tooltip>

            <DatePicker
              v-model="fechaPlaneada"
              format="dd/MM/yyyy"
              type="datetime"
              placeholder="Seleccione la fecha"
              style="width: 250px"
            ></DatePicker>
          </FormItem>
          <br />
          <FormItem class="negrita" label="Cirujanos">
            <Tooltip
              style="margin-bottom:20px"
              max-width="210"
              content="Hacer click en el siguiente botón para buscar los cirujanos disponibles para la operación"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <Button
              @click="modal3 = true"
              style="margin-left:10px"
              type="primary"
              >Búsqueda de cirujanos</Button
            >
            <br />
            <Input> </Input>
            <Modal
              v-model="modal3"
              @on-ok="ok"
              @on-cancel="cancel"
              title="Búsqueda de cirujanos"
            >
              <AutoComplete
                v-model="nombrecirujano"
                icon="ios-search"
                placeholder="Búsqueda de cirujanos"
                style="width:300px"
              >
                <div
                  v-for="item in busquedaCirujano"
                  class="demo-auto-complete-item"
                >
                  <span>{{ item.title }}</span>
                </div>
              </AutoComplete>
            </Modal>
          </FormItem>
          <br />
          <FormItem class="negrita" label="Ayudantes">
            <Tooltip
              style="margin-bottom:20px"
              max-width="210"
              content="Hacer click en el siguiente botón para buscar los ayudantes disponibles para la operación"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <Button
              @click="modal2 = true"
              style="margin-left:10px"
              type="primary"
              >Busqueda de ayudantes</Button
            >
            <br />
            <Input> </Input>
            <Modal
              v-model="modal2"
              @on-ok="ok"
              @on-cancel="cancel"
              title="Búsqueda de ayudantes"
            >
              <AutoComplete
                v-model="nombreayudante"
                icon="ios-search"
                placeholder="Búsqueda de Ayudantes"
                style="width:300px"
              >
                <div
                  v-for="item in busquedaAyudante"
                  class="demo-auto-complete-item"
                >
                  <span>{{ item.title }}</span>
                </div>
              </AutoComplete>
            </Modal>
          </FormItem>
          <FormItem class="negrita" label="Grupo sanguíneo:">
            <Tooltip
              max-width="210"
              content="Se da a conocer el grupo sanguíneo del paciente"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            O+ (obtenido de Filiacion/ Anamnesis)
            <!-- <Input type="text" placeholder="Grupo sanquineo" /> -->
          </FormItem>
          <FormItem class="negrita" label="Hemoglobina:">
            <Tooltip
              max-width="210"
              content="Se da a conocer la cantidad de hemoglobina que posee el paciente"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <Input
              v-model="hemoglobina"
              type="number"
              placeholder="Hemoglobina"
              style="width: 250px"
            />
          </FormItem>
          <FormItem class="negrita" label="Anestesia prevista:">
            <Tooltip
              max-width="210"
              content="Se da a conocer  el tipo de anestesia previsto por el Anestiólogo en el formato Pre-Anestésico"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <!-- <Input type="textarea" placeholder="Anestesia prevista" /> -->
            <span>Anestesia 1 </span>
            <span>Anestesia 2 </span> (obtenido del Formato Pre-Anestesia)
          </FormItem>
          <!-- BRINDAR CONFORME TANTO EL CIRUJANO COMO EL DOCTOR -->
          <!-- <Row type="flex" justify="end">
              <Col>
                <Button @click="anteriorpag" type="error">
                  Cancelar
                </Button>

                <Button @click.native="registrarOIQx" type="success">
                  Guardar
                </Button>
              </Col>
            </Row> -->
        </Form>
      </div>
      <div v-if="examenes === 'Interconsultas'" style="margin-top:30px">
        <Form>
          <h2 class="steps">Solicitud de Interconsulta</h2>
          <!--  Fecha: 23/08/2020 <br />
          Hora: 13:10:00 -->
          <!--  <Divider
            style="margin-top:40px"
            class="negrita"
            orientation="left"
            size="small"
            >Datos Paciente</Divider
          > -->
          <!-- <div class="contenedor-datos">
            <div class="fila-datos">
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Paciente:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    Katherine Ruiz
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    DNI:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    72573563
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Edad:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    22
                  </span>
                </div>
              </div>
            </div>
            <div class="fila-datos">
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Sexo:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    Femenino
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    HCE:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    28931221
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Grupo Sanguíneo:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    A+
                  </span>
                </div>
              </div>
            </div>
          </div> -->
          <FormItem class="negrita" label=" Datos de filiación del paciente">
            <Tooltip
              max-width="210"
              content="Si desea mayor información sobre los datos de filiación del paciente, hacer click en el siguiente botón"
            >
              <Icon type="md-help-circle" size="20" /> </Tooltip
            ><br />
            Ir a:
            <Button type="primary">
              Formato de Filiacion
            </Button>
          </FormItem>
          <FormItem class="negrita" label=" Servicio interconsultado">
            <Tooltip
              max-width="210"
              content="Escoger el servicio al que se le realizará la interconsulta"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <br />
            <Select
              id="servicio"
              v-model="servicio"
              class="nonegrita"
              placeholder="Seleccione el servicio al que se le realizará la interconsulta"
            >
              <Option value="Dermatologia" class="nonegrita">
                Dermatologia</Option
              >
              <Option value="Anestesiologia" class="nonegrita">
                Anestesiologia</Option
              >
              <Option value="Pediatria" class="nonegrita"> Pediatria</Option>
              <Option value="Cardiologia" class="nonegrita">
                Cardiologia</Option
              >
              <Option value="Traumatologia" class="nonegrita">
                Traumatologia</Option
              >
              <Option value="Otro" class="nonegrita"> Otro </Option>
            </Select>
          </FormItem>

          <FormItem
            class="negrita"
            label="Breve descripción de la enfermedad actual"
          >
            <Tooltip
              max-width="210"
              content="Se muestra la enfermedad actual recogida de la información del servicio actual"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <Input
              v-model="enfermedadActual"
              type="textarea"
              placeholder="Coloque una breve descripcion de la enfermedad actual"
              disabled
            />
          </FormItem>
          <FormItem
            class="negrita"
            label="Informacion adicional sobre enfermedad actual"
          >
            <Tooltip
              max-width="210"
              content="Coloque información adicional si es necesario"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <Input
              v-model="infoAdi"
              type="textarea"
              placeholder="Coloque alguna informacion adicional sobre la enfermedad actual"
            />
          </FormItem>
          <FormItem class="negrita" label="Diagnostico presuntivo">
            <Tooltip
              max-width="210"
              content="Se muestra el diagnostico presuntivo recogida de la información del servicio actual"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <Input
              v-model="diagPresuntivo"
              type="textarea"
              placeholder="Coloque el diagnostico presuntivo"
              disabled
            />
          </FormItem>

          <FormItem class="negrita" label=" Motivo de la interconsulta">
            <Tooltip
              max-width="210"
              content="Coloque la consulta que desea brindar a la especialidad escogida indicando el motivo e información adicional"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <!-- <Input
        v-model="motivoInter"
        type="textarea"
        placeholder="Coloque el motivo de la interconsulta"
      /> -->
            <Select
              id="tipo"
              v-model="motivoInter"
              class="nonegrita"
              placeholder="Seleccione el motivo de la interconsulta"
            >
              <Option value="Diagnostico" class="nonegrita">
                Diagnostico</Option
              >
              <Option value="Manejo Terapeutico" class="nonegrita">
                Manejo Terapeutico</Option
              >
              <Option value="Procedimiento" class="nonegrita">
                Procedimiento</Option
              >
              <Option value="Transferencia" class="nonegrita">
                Transferencia</Option
              >
              <Option value="Alta" class="nonegrita"> Alta</Option>
              <Option value="Otro" class="nonegrita"> Otro </Option>
            </Select>
          </FormItem>
          <Row>
            <Col>
              <!-- <Button @click.native="registrarInter" type="success">
                  Confirmar y enviar
                </Button> -->
            </Col>
          </Row>
        </Form>
      </div>
    </template>
    <Row type="flex" justify="end">
      <Col>
        <Button :disabled="current === 0" @click="anteriorpag" type="warning">
          Volver
        </Button>
        <template v-if="current < 3">
          <Button @click="siguientepag" type="success">
            Guardar y continuar
          </Button>
        </template>
        <template v-if="current === 3">
          <Button @click.native="registrarEmergencia" type="success">
            Guardar
          </Button>
        </template>
      </Col>
    </Row>
    <!-- <Row type="flex" justify="end">
      <Col>
        <Button type="error">
          Cancelar
        </Button>

        <Button @click.native="registrarEmergencia" type="success">
          Guardar
        </Button>
      </Col>
    </Row> -->
  </Form>
</template>
<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
.imagenenf {
  /* max-width: 50%;
  padding: 10px 0; */
  max-height: 100px;

  max-width: 100px;
  position: absolute;
  text-align: right;
  /* align-self: end;
  align-content: flex-end; */
  right: 90px;

  /* 120 */
  top: 130px;
}
</style>
<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      modal3: false,
      modal2: false,
      examenes: '',
      modal1: false,
      current: 0,
      fechaHoraActual: '',
      tipoP: null,
      motivo: null,
      tiempoE: null,
      sintomasP: null,
      relato: null,
      hospPrev: null,
      medHab: null,
      estadoB: null,
      exFisico: null,
      nomp: null,
      apP: null,
      apM: null,
      numestadoB: 0,
      numtipoP: 0,
      temperatura: null,
      presionArterial: null,
      talla: 0,
      peso: 0,
      frecuenciaCardiaca: null,
      frecuenciaRespiratoria: null,
      busquedaCirujano: [
        {
          title: 'Sarai Ferraza'
        },
        {
          title: 'Ines Quispe'
        },
        {
          title: 'Michael Espinoza'
        }
      ],
      busquedaAyudante: [
        {
          title: 'Diana Ruiz'
        },
        {
          title: 'Manuel Perez'
        },
        {
          title: 'Francisco Reyes'
        }
      ],
      nombrecirujano: '',
      nombreayudante: '',
      columnsO: [
        {
          title: 'Diagnostico',
          key: 'nombre',
          align: 'center'
        },
        {
          title: 'CIE',
          key: 'codigo',
          align: 'center'
        }
      ],
      dataO: []
    }
  },
  computed: {
    calcularIMC() {
      if (!this.peso || !this.talla) return '...'
      return parseFloat(
        parseFloat(this.peso) /
          (parseFloat(this.talla) * parseFloat(this.talla))
      ).toFixed(4)
    }
  },
  mounted() {
    this.incializacionDatos()
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
  },
  methods: {
    prueba() {
      console.log('prueba:', this.examenes)
    },
    siguientepag() {
      if (this.current < 3) this.current++
    },
    anteriorpag() {
      if (this.current > 0) this.current--
    },
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    registrarEmergencia() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }

      if (this.estadoB === 'independiente') {
        this.numestadoB = 1
      } else if (this.estadoB === 'dependienteparcial') {
        this.numestadoB = 2
      } else if (this.estadoB === 'dependientetotal') {
        this.numestadoB = 3
      }
      if (this.tipoP === '1') {
        this.numtipoP = 1
      } else if (this.tipoP === '2') {
        this.numtipoP = 2
      } else if (this.tipoP === '3') {
        this.numtipoP = 3
      } else {
        this.numtipoP = 4
      }
      // console.log('auxestaB kat: ', auxestaB)
      // ? 1 : 2
      return api
        .post(
          'api/formatos/emergencia',
          {
            paciente: 72573563,
            triaje: {
              temperatura: this.temperatura,
              presionArterial: this.presionArterial,
              frecuenciaCardiaca: this.frecuenciaCardiaca,
              frecuenciaRespiratoria: this.frecuenciaRespiratoria,
              peso: this.peso,
              talla: this.talla
            },
            datosEmergencia: {
              tipoPrioridad: this.numtipoP, // aqui son numeros
              motivo: this.motivo,
              tiempoEnfermedad: this.tiempoE,
              sintomas: this.sintomasP,
              relato: this.relato,
              hospitalizacionPrevia: this.hospPrev,
              medicacionHabitual: this.medHab,
              estadoBasal: this.numestadoB, // aqui
              examenFisico: this.exFisico
            }
          },
          {
            headers
          }
        )
        .then((response) => {
          const data = response.data
          return data
        })
    }
  }
}
</script>
