<template>
  <Form>
    <h2 class="steps">Informe de Alta</h2>
    Fecha: 23/08/2020 <br />
    Hora: 13:10:00
    <br />
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >

    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Cama:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Fecha de Ingreso:
            </span>
          </div>
          <div>
            <span class="datos">
              23/06/2020
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Fecha de Egreso:
            </span>
          </div>
          <div>
            <span class="datos">
              10/07/2020
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--  Paciente: Katherine Ruiz, Edad: 22, Sexo:Femenino,<br />
    HCE:28931221, cama:22, Fecha de ingreso: 23/06/2020, Fecha de egreso:
    10/07/2020 -->
    <Divider class="negrita" orientation="left" size="small"
      >Diagnóstico</Divider
    >
    <span> Ingreso</span>
    <Table :columns="columnIngreso" :data="dataIngreso"> </Table>
    <br />
    <span> Egreso</span>
    <div style="display:flex;flex-direction:row;margin:15px 0">
      <AutoComplete
        v-model="nombreDiagnostico"
        icon="ios-search"
        placeholder="Buscar Diagnosticos"
        style="align:center; width:30%;margin-right:20px"
      >
        <div class="demo-auto-complete-item">
          <Option
            v-for="diag in diagnosticos"
            :value="diag.nombre"
            @click.native="selectDiag(diag)"
            >{{ diag.nombre + ' - ' + diag.cie }}
          </Option>
        </div>
      </AutoComplete>
      <Button @click="anadirDiag()" type="primary">
        Agregar
        <Icon type="md-add-circle" size="17"></Icon>
      </Button>
    </div>
    <Table :columns="columnEgreso" :data="dataEgreso"> </Table>
    <br />
    <Divider></Divider>
    <span> Intervención Qx/ Procedimiento Realizado</span>
    <Table :columns="columnIPrealizado" :data="dataIPrealizado"> </Table>
    <br />
    <Divider></Divider>
    <span> Tratamiento</span>
    <Table :columns="columnTrat" :data="dataTrat"> </Table>
    <br />
    <Divider></Divider>
    <FormItem class="negrita" label="Pronóstico">
      <Tooltip max-width="210" content="Ingresar el pronóstico del paciente">
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <br />
      <Input
        v-model="pronostico"
        type="textarea"
        placeholder="Pronóstico del paciente"
      />
    </FormItem>
    <Divider></Divider>
    <br />
    <FormItem class="negrita" label="Recomendaciones">
      <Tooltip
        max-width="210"
        content="Colocar las recomendaciones que debera tomar el paciente al salir del alta "
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <br />
      <Input
        v-model="recomendaciones"
        type="textarea"
        placeholder="Recomendaciones necesarias"
      />
    </FormItem>
    <Row type="flex" justify="end">
      <Col>
        <Button @click="anteriorpag" type="error">
          Cancelar
        </Button>

        <Button @click.native="registrarAlta" type="success">
          Guardar
        </Button>
      </Col>
    </Row>
  </Form>
</template>
<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      recomendaciones: null,
      pronostico: null,
      nombreDiagnostico: '',
      auxDiag: null,
      diagnosticos: [
        { cie: '0001', nombre: 'Toz seca' },
        { cie: '0002', nombre: 'Covid-19' },
        { cie: '0003', nombre: 'Dolor muscular' }
      ],
      columnIngreso: [
        {
          title: 'Nombre Diagnostico',
          key: 'nombre',
          resizable: true
        },
        {
          title: 'CIE-10',
          key: 'codigo'
        }
      ],
      dataIngreso: [],

      columnEgreso: [
        {
          title: 'Nombre Diagnostico',
          key: 'nombre',
          resizable: true
        },
        {
          title: 'CIE-10',
          key: 'cie'
        }
      ],
      dataEgreso: [],
      columnIPrealizado: [
        {
          title: 'Tipo',
          key: 'tipo'
        },
        {
          title: 'Nombre',
          key: 'nombre'
        },
        {
          title: 'CPT',
          key: 'cpt'
        }
      ],
      dataIPrealizado: [
        {
          tipo: 'Intervencion Qx',
          nombre: 'Diag1',
          cpt: 897
        },
        {
          tipo: 'Procedimiento Qx',
          nombre: 'Diag2',
          cpt: 144
        }
      ],
      columnTrat: [
        {
          title: 'Fármaco',
          key: 'farmaco'
        },
        {
          title: 'Presentación',
          key: 'presentacion'
        },
        {
          title: 'Dosis',
          key: 'dosis'
        },
        {
          title: 'Vía',
          key: 'via'
        },
        {
          title: 'Frecuencia',
          key: 'frecuencia'
        },
        {
          title: 'Duración',
          key: 'duracion'
        }
      ],
      dataTrat: [
        {
          farmaco: 'Paracetamol',
          presentacion: 'Caja',
          dosis: '2 veces por semana',
          via: 'Oral',
          frecuencia: 'semanas',
          duracion: 5
        }
      ]
    }
  },
  mounted() {
    this.incializacionDatos()
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
    this.getHospitalizacion()
  },
  methods: {
    selectDiag(diag) {
      this.auxDiag = diag
    },
    anadirDiag() {
      this.dataEgreso.push(this.auxDiag)
    },
    getHospitalizacion() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return api
        .get('api/formatos/hospitalizacion-actual/10203040', headers)
        .then((response) => {
          const data = response.data
          console.log('DATA:', data)
          this.dataIngreso = data.diagnosticos.ingreso.presuntivos
          console.log('DATAINGRESO:', this.dataIngreso)
        })
    },
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    registrarAlta() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return (
        api
          .post(
            'api/formatos/informe-alta',
            {
              paciente: 72573563,
              ipress: 5946,
              recomendaciones: this.recomendaciones
            },
            {
              headers
            }
          )
          .then((response) => {
            const data = response.data
            return data
          }),
        this.$router.push('/perfil')
      )
    }
  }
}
</script>
<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
.demo-auto-complete-item {
  padding: 4px 0;
  border-bottom: 1px solid #f6f6f6;
}
.demo-auto-complete-group {
  font-size: 12px;
  padding: 4px 6px;
}
.demo-auto-complete-group span {
  color: #666;
  font-weight: bold;
}
.demo-auto-complete-group a {
  float: right;
}
.demo-auto-complete-count {
  float: right;
  color: #999;
}
.demo-auto-complete-more {
  display: block;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
  font-size: 12px;
}
</style>
