<template>
  <div>
    <Form>
      <div>
        <h1>Nota de Enfermeria</h1>
        <template>
          <Tabs type="card">
            <TabPane label="Notas de Ingreso">
              Notad de ingreso as
              <p></p>
              <Form>
                <FormItem label="DNI">
                  <Input style="width: 410px" placeholder="DNI" />
                </FormItem>
                <FormItem label="Domilicio Procedencia">
                  <Input
                    style="width: 410px"
                    placeholder="Domilicio Procedencia"
                  />
                </FormItem>
                <FormItem label="Domilicio Actual">
                  <Input style="width: 410px" placeholder="Domilicio Actual" />
                </FormItem>
              </Form>
            </TabPane>
            <TabePane label="Adicionales">
              aa adf
              <Form>
                <FormItem label="DNI">
                  <Input style="width: 410px" placeholder="DNI" />
                </FormItem>
                <FormItem label="Domilicio Procedencia">
                  <Input
                    style="width: 410px"
                    placeholder="Domilicio Procedencia"
                  >
                  </Input>
                </FormItem>
                <FormItem label="Domilicio Actual">
                  <Input style="width: 410px" placeholder="Domilicio Actual" />
                </FormItem>
              </Form>
            </TabePane>
          </Tabs>
        </template>
      </div>
    </Form>
  </div>
</template>

<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
.imagenenf {
  /* max-width: 50%;
  padding: 10px 0; */
  max-height: 200px;

  max-width: 200px;
  position: absolute;

  right: 30px;

  top: 80px;
}
</style>
