<template>
  <Form>
    <h2 class="steps">Consentimiento informado</h2>
    Fecha: 23/08/2020 <br />
    Hora: 13:10:00
    <br />
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Direccion:
            </span>
          </div>
          <div>
            <span class="datos">
              Dona delmira 365, dpto 203B
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Localidad:
            </span>
          </div>
          <div>
            <span class="datos">
              Surco
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Departamento:
            </span>
          </div>
          <div>
            <span class="datos">
              Lima
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Provincia:
            </span>
          </div>
          <div>
            <span class="datos">
              Lima
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Distrito:
            </span>
          </div>
          <div>
            <span class="datos">
              Surco
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Telefono:
            </span>
          </div>
          <div>
            <span class="datos">
              956738979
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Ocupacion:
            </span>
          </div>
          <div>
            <span class="datos">
              Ingenieria
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Estudios:
            </span>
          </div>
          <div>
            <span class="datos">
              Primaria
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Estado civil:
            </span>
          </div>
          <div>
            <span class="datos">
              Soltero
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Paciente: Katherine Ruiz, Edad: 22, Sexo:Femenino, HCE:28931221 -->
    <FormItem label="TipoConsentimiento" class="negrita">
      <br />
      <RadioGroup>
        <Radio class="nonegrita" label="intervencion"
          >Intervencion quirurgica</Radio
        >
        <Radio class="nonegrita" label="procedimiento"
          >Procedimiento quirurgico</Radio
        >
        <Radio class="nonegrita" label="modalidad">Modalidad de atención</Radio>
      </RadioGroup>
    </FormItem>
    <FormItem class="negrita" label="Descripcion de">
      <Input
        v-model="descripcion"
        type="textarea"
        placeholder="Coloque el diagnostico"
      />
    </FormItem>

    <FormItem class="negrita" label="Riesgos reales y pontenciales">
      <Input
        v-model="riesgos"
        type="textarea"
        placeholder="Riesgos Reales y pontencialea"
      />
    </FormItem>

    <FormItem class="negrita" label="Detalle de los antibioticos/Anestesia">
      <Input v-model="detalle" type="text" placeholder="Grupo sanquineo" />
    </FormItem>
    <FormItem class="negrita" label="Pronosticos y recomendaciones">
      <Input
        v-model="pronosticos"
        type="text"
        placeholder="Pronosticos y recomendaciones"
      />
    </FormItem>
    <!-- BRINDAR CONFORME TANTO EL CIRUJANO COMO EL DOCTOR -->
    <Row>
      <Col>
        <Button
          @click="modal1 = true"
          @click.native="registrarCI"
          type="success"
        >
          Generar documento
        </Button>
        <Modal
          v-model="modal1"
          @on-ok="imprimir"
          @on-cancel="cancel"
          title="Consetimiento informado del paciente"
        >
          <p>CONSENTIMIENTO INFORMADO</p>
          <p>
            Yo, {{ nomp }} {{ apeP }} {{ apeM }}, identificado con DNI N°
            3444444444444444444444444, manifiesto lo siguiente:
          </p>
          <p>
            1. He sido informado por el médico KAT, conforme a la Ley N° 26842 –
            Ley General de Salud, sobre el estado actual de mi salud y he
            comprendido que las molestias y síntomas que presento son provocadas
            por
            <!-- <diagnóstico del paciente (sólo enfermedades)>,  -->
            las cuales han sido especificadas en el diagnóstico de mi atención.
          </p>
          <p>
            2. He sido informado que, a raíz del diagnóstico de mi estado de
            salud, el médico tratante recomendado un tratamiento denominado el
            siguiente plan de tratamiento:
            <!-- <listar tratamiento> -->
          </p>
          3. He sido informado sobre los riesgos y beneficios de las
          intervenciones, exploraciones, pruebas físicas y/o tratamientos que se
          me van a aplicar, y he puesto en conocimiento del profesional que me
          atiende todas los datos sobre mi estado físico o antecedentes de
          Salud. 4. He sido también informado de que mis datos personales serán
          protegidos de acuerdo con lo que dispone la Ley N°29733 – Ley de
          Protección de Datos Personales y no serán usados sin mi consentimiento
          previo. Asimismo, declaro que todos los datos proporcionados para la
          elaboración de la historia clínica son ciertos, por lo que exceptúo al
          personal médico sobre efectos negativos hacia mi estado de salud
          causada por información errónea proporcionado por mi persona. 5. Se me
          ha informado de forma comprensible de las contraindicaciones y/o
          efectos secundarios, he tenido oportunidad de aclarar cuantas dudas
          tenía sobre las actuaciones a realizar.
          <p>
            Por lo tanto, presto mi consentimiento para que se me realice las
            actuaciones indicadas previamente, con conocimiento de los
            eventuales riesgos que origina. Asimismo, en caso de no poder
            brindar mi consentimiento presencial, autorizo a
            <!-- <nombre de tutelar> -->
            , identificado con DNI N° 9834983797394798374, para brindar el
            consentimiento de procedimientos y tratamientos durante el tiempo de
            mi imposibilidad.
          </p>
          <p>Firmo, al día __ de ______ de 2019</p>

          <p>FIRMA DEL PACIENTE</p>
        </Modal>
      </Col>
    </Row>
  </Form>
</template>
<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      fechaHoraActual: '',
      descripcion: null,
      riesgos: null,
      detalle: null,
      pronosticos: null,
      modal1: false
    }
  },
  mounted() {
    this.incializacionDatos()
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
  },
  methods: {
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    registrarCI() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return api
        .post(
          'api/formatos/consentimiento-informado',
          {
            paciente: '72573563',
            ipress: 5946,
            tipoConsentimiento: 1,
            descripcion: 'dsf',
            riesgos: this.riesgos,
            detalleAntibioticos: this.detalle,
            pronosticos: this.pronosticos
          },
          {
            headers
          }
        )
        .then((response) => {
          const data = response.data
          return data
        })
      // this.$router.push('/perfil')
    },
    imprimir() {
      this.$Message.info('Se ha mandando a la bandeja de impresion')
      this.$router.push('/perfil')
    }
  }
}
</script>
<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>
