<template>
  <div>
    <Form>
      <div>
        <h1 class="steps">Notas de Enfermería</h1>
        <div style="text-align:right">
          <img
            class="imagenenf"
            src="http://cliparts.co/cliparts/j5i/Rr8/j5iRr8eca.png"
          />
        </div>
        <template>
          <Tabs :value="tabActual" type="card">
            <TabPane label="Notas de Ingreso" name="1">
              Paciente: Katherine Ruiz
              <p>Edad:22; FechaHora: {{ fechaHoraActual }}</p>

              <!-- <h4><b>Notas de Ingreso: </b></h4> -->

              <div>
                <b>
                  <!-- Fecha: {{ this.state.fechahoy }} &nbsp;&nbsp;&nbsp;&nbsp; Hora:
            {this.state.horahoy} -->
                </b>
              </div>
              <p></p>
              <FormItem class="negrita" label="Forma de Ingreso">
                <Input
                  :disabled="notaIngreso.formaIngreso"
                  v-model="notaIngreso.formaIngreso"
                  type="textarea"
                  placeholder="Forma de Ingreso"
                ></Input>
              </FormItem>
              <Text>
                <b
                  >A continuación, describa los siguientes items sobre la
                  condición del paciente:
                </b>
              </Text>
              <FormItem class="negrita" label="Funciones vitales">
                <Input
                  :disabled="notaIngreso.funcionesVitales"
                  v-model="notaIngreso.funcionesVitales"
                  type="textarea"
                  placeholder="Funciones vitales"
                ></Input>
              </FormItem>
              <FormItem class="negrita" label="Funciones biológicas">
                <Input
                  :disabled="notaIngreso.funcionesBiologicas"
                  v-model="notaIngreso.funcionesBiologicas"
                  type="textarea"
                  placeholder="Funciones biológicas"
                ></Input>
              </FormItem>
              <FormItem class="negrita" label="Estado General">
                <Input
                  :disabled="notaIngreso.estadoGeneral"
                  v-model="notaIngreso.estadoGeneral"
                  type="textarea"
                  placeholder="Estado General"
                ></Input>
              </FormItem>

              <Row type="flex" justify="end" gutter="14">
                <Col>
                  <Button type="warning">
                    Editar
                  </Button>
                </Col>
                <Col>
                  <Button @click.native="registrarNEnf" block type="success">
                    Guardar y Continuar
                  </Button>
                </Col>
              </Row>
            </TabPane>
            <TabPane label="Evolución" name="2">
              <div>
                <Row type="flex" justify="center">
                  <Col>
                    <Button
                      @click="agregarFamiliar"
                      type="dashed"
                      icon="md-add"
                    >
                      Agregar Nota
                    </Button>
                  </Col>
                </Row>
                <template v-for="notas in notasEvoluciones">
                  <Form :key="notas.key">
                    <FormItem>
                      <!-- <b> -->
                      Fecha y hora del registro: {{ fechaHoraActual }}
                      <!-- la hora debe ser estatica una vez que se quiera tomar
                          otro -->
                      <!-- </b> -->
                      <FormItem class="negrita" label="Signos y síntomas">
                        <Input
                          :disabled="notas.sintomas"
                          v-model="notas.sintomas"
                          type="textarea"
                          placeholder="Detalle los signos y sintomas que padece el paciente"
                        />
                      </FormItem>

                      <FormItem class="negrita" label="Tratamiento aplicado">
                        <Input
                          :disabled="notas.tratamiento"
                          v-model="notas.tratamiento"
                          type="textarea"
                          placeholder="Coloque el tratamiento aplicado"
                        />
                      </FormItem>
                    </FormItem>
                  </Form>
                </template>
                <div v-if="notasNuevas">
                  <template v-for="nota in notasNuevas">
                    <Form :key="nota.key">
                      <FormItem>
                        Fecha y hora del registro: {{ fechaHoraActual }}
                        <FormItem class="negrita" label="Signos y síntomas">
                          <Input
                            v-model="nota.sintomas"
                            type="textarea"
                            placeholder="Detalle los signos y sintomas que padece el paciente"
                          />
                        </FormItem>

                        <FormItem class="negrita" label="Tratamiento aplicado">
                          <Input
                            v-model="nota.tratamiento"
                            type="textarea"
                            placeholder="Coloque el tratamiento aplicado"
                          />
                        </FormItem>
                      </FormItem>
                    </Form>
                  </template>
                </div>
                <Row type="flex" justify="end">
                  <Col>
                    <Button @click.native="registrarNEnfEv" type="success">
                      Guardar
                    </Button>
                  </Col>
                </Row>
              </div>
            </TabPane>
          </Tabs>
        </template>
      </div>
    </Form>
  </div>
</template>

<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}

.imagenenf {
  /* max-width: 50%;
  padding: 10px 0; */
  max-height: 200px;

  max-width: 200px;
  position: absolute;

  right: 30px;

  top: 80px;
}
</style>

<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      notaIngreso: {},
      notasEvoluciones: [],
      notasNuevas: null,
      formaIng: null,
      funcionesV: null,
      funcionesBio: null,
      estadoG: null,
      sintomas: null,
      tratamiento: null,
      familiares: [],
      fechaHoraActual: '',
      tabActual: '1',
      current: 0,
      lstGenero: [
        {
          value: 'Femenino',
          label: 'Femenino'
        },
        {
          value: 'Masculino',
          label: 'Masculino'
        }
      ],

      model1: ''
    }
  },
  mounted() {
    this.incializacionDatos()
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
  },
  methods: {
    registrarNEnfEv() {
      // this.$router.push('/anestesia')
      console.log('NOTAS-NUEVAS:', this.notasNuevas)
      console.log('NOTAS:', this.notasEvoluciones)
      for (let i = 0; i < this.notasNuevas.length; i++) {
        console.log('SE PONE NOTA:', this.notasNuevas[i])
        const headers = {
          'Content-Type': 'application/json',
          Authorization: localStorage.getItem('token')
        }
        api.put(
          'api/formatos/nota-enfermeria/604d59e2f4ce216d36a7c4a9/evolucion',
          {
            sintomas: this.notasNuevas[i].sintomas,
            tratamiento: this.notasNuevas[i].tratamiento
          },
          { headers }
        )
      }
      // this.$router.push('/anestesia')
    },
    // this.siguientepag()

    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
      api.get('/api/formatos/604d59e2f4ce216d36a7c4a9').then((response) => {
        const data = response.data
        this.notaIngreso = data.notaIngreso
        this.notasEvoluciones = data.notasEvoluciones
        console.log('NOTAS INGRESO:', this.notaIngreso)
        console.log('NOTAS EVOLUCIONES:', this.notasEvoluciones)
      })
    },
    registrarNEnf() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return (
        api
          .post(
            'api/formatos/nota-enfermeria',
            {
              paciente: 72573563,
              ipress: 5946,
              notaIngreso: {
                formaIngreso: this.formaIng,
                funcionesVitales: this.funcionesV,
                funcionesBiologicas: this.funcionesBio,
                estadoGeneral: this.estadoG
              }
            },
            {
              headers
            }
          )
          .then((response) => {
            const data = response.data
            return data
          }),
        this.siguientepag()
      )
    },
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    siguientepag() {
      if (this.tabActual === '1') {
        this.tabActual = '2'
      } else {
        this.tabActual = '1'
      }
    },
    duplicarpant() {
      this.index++
      this.formDynamic.items.push({
        value: '',
        index: this.index,
        status: 1
      })
    },
    agregarFamiliar() {
      if (!this.notasNuevas) {
        this.notasNuevas = [{}]
      } else {
        this.notasNuevas.push({})
      }
    }
  }
}
</script>
