<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
.imagenenf {
  max-height: 100px;
  max-width: 100px;
  position: absolute;
  text-align: right;
  right: 90px;
  top: 130px;
}
</style>
<template>
  <Form>
    <h1 class="steps">Gráfica de Signos Vitales</h1>
    <br /><br />
    <Row type="flex" justify="center">
      <Button @click="modal1 = true" type="primary">Ingresar Datos</Button>
    </Row>
    <div>
      <Modal
        v-model="modal1"
        @on-ok="ok"
        @on-cancel="cancel"
        title="Completar los siguientes datos"
      >
        <!-- <template> -->
        <Form label-width="110" label-position="left">
          <p label-width="110" label-position="left">
            <FormItem
              label="Presión (mmhg)"
              style="padding-right:30px;label-width=110;label-position=left"
            >
              <Row>
                <Col span="6">
                  <InputNumber
                    :max="10"
                    :min="1"
                    :step="0.2"
                    v-model="presionS"
                  />
                </Col>
                <Col span="2"> <b class="steps"> /</b></Col>
                <!-- <b>/</b> -->
                <Col span="5">
                  <InputNumber
                    :max="10"
                    :min="1"
                    :step="0.2"
                    v-model="presionD"
                  />
                </Col>
              </Row>
              &nbsp; &nbsp;&nbsp;&nbsp;Sistólica &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;Diastólica
            </FormItem>

            <FormItem label="Temperatura (°C)" style="padding-right:30px">
              <InputNumber
                :max="10"
                :min="1"
                v-model="temperatura"
                :step="0.2"
              />
            </FormItem>

            <FormItem label="Frecuencia Cardíaca (lpm)">
              <InputNumber :max="10" :min="1" v-model="fcardiaca" :step="0.2" />
            </FormItem>

            <FormItem label="Frecuencia Respiratoria(lpm)">
              <InputNumber
                :max="10"
                :min="1"
                v-model="frespiratoria"
                :step="0.2"
              />
            </FormItem>

            <FormItem label="Talla (cm)">
              <InputNumber
                :max="250"
                :min="110"
                v-model="talla"
                :disabled="disabledTalla"
              />
              <Button @click="disabledTalla = !disabledTalla" type="primary"
                >Editar</Button
              >
            </FormItem>

            <FormItem label="Peso (kg)">
              <InputNumber
                :max="10"
                :min="1"
                v-model="peso"
                :disabled="disabledPeso"
              />
              <Button @click="disabledPeso = !disabledPeso" type="primary"
                >Editar</Button
              >
            </FormItem>
          </p>
        </Form>
        <!-- </template> -->
      </Modal>
      <br /><br />
      <br /><br />
    </div>
    <GChart :data="chartData" :options="chartOptions" type="LineChart" />
    <br /><br />
    <br /><br />
    <GChart
      :data="chartDataPeso"
      :options="chartOptionsPeso"
      type="ScatterChart"
    />
  </Form>
</template>

<script>
import axios from 'axios'
import { GChart } from 'vue-google-charts'

const api = axios.create({
  baseURL: 'localhost:8090'
})
export default {
  components: {
    GChart
  },
  data() {
    return {
      modal1: false,
      disabledTalla: true,
      disabledPeso: true,
      presionS: null,
      presionD: null,
      temperatura: null,
      fcardiaca: null,
      frespiratoria: null,
      talla: null,
      peso: null,
      // chartData: [],
      chartData: [
        ['Year', 'Presión', 'Temperatura', 'Frecuencia C/R'],
        ['2014', 1000, 400, 200],
        ['2015', 1170, 460, 120],
        ['2016', 660, 1120, 300],
        ['2017', 1030, 540, 350],
        ['2017', 400, 540, 123],
        ['2017', 47, 333, 432],
        ['2017', 23, 444, 63],
        ['2017', 565, 222, 222]
      ],
      chartOptions: {
        title:
          'Signos Vitales: Presión, Temperatura y Frecuencia Cardiaca/Respiratoria',
        subtitle: 'Seguimiento: 2014-2017',
        chartArea: { width: '70%' }
      },
      chartDataPeso: [
        ['Talla', 'Peso'],
        [8, 12],
        [8, 5.5],
        [7.5, 14],
        [7, 5],
        [8, 3.5],
        [8, 7]
      ],
      chartOptionsPeso: {
        title: 'Peso vs. Talla',
        hAxis: { minValue: 0, maxValue: 15 },
        vAxis: { minValue: 0, maxValue: 15 },
        chartArea: { width: '60%' },
        trendlines: {
          0: {
            type: 'linear',
            showR2: true,
            visibleInLegend: true
          }
        }
      }
    }
  },
  mounted() {
    this.actualizartabla()
  },
  methods: {
    prueba() {
      const medicion = {
        temperatura: this.temperatura,
        frecuenciaCardiaca: this.fcardiaca,
        frecuenciaRespiratoria: this.frespiratoria,
        peso: this.peso,
        talla: this.talla
      }
      medicion.presionArterial = {
        sistolica: this.presionS,
        diastolica: this.presionD
      }
      this.registrarMedicion(
        '5f0921d96896a7603a3bd386',
        medicion
      ).then((response) => {})
    },
    registrarMedicion(formato, medicion) {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      // const auxapi = localStorage.getItem('api')
      console.log('headers kat: ', headers)
      // console.log('api: ', localStorage.getItem('api'))
      return api
        .put('api/formatos/signos-vitales/' + formato + '/medicion', medicion, {
          headers
        })
        .then((response) => {
          const data = response.data
          console.log('data: ', data)
          return data
        })
    },
    // registrarGrafClinica() {
    //   const currentObj = this
    //   axios
    //     .put(
    //       'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090//api/formatos/signos-vitales/5eee78fa3873c87a4f3d12f0/medicion',
    //       {
    //         presionArterial: {
    //           sistolica: this.presionS,
    //           diastolica: this.presionD
    //         },
    //         temperatura: this.temperatura,
    //         frecuenciaCardiaca: this.fcardiaca,
    //         frecuenciaRespiratoria: this.frespiratoria,
    //         peso: this.peso,
    //         talla: this.talla
    //       }
    //     )
    //     .then(function(response) {
    //       currentObj.output = response.data
    //     })

    //   .catch((e) => {
    //     this.errors.push(e)
    //   }
    //   )
    //   this.$Message.info({
    //     render: (h) => {
    //       return h('success', ['Se ha guardado correctamente'])
    //     }
    //   })
    //   this.$Message.error({
    //     render: (h) => {
    //       return h('success', ['No se ha podido guardar'])
    //     }
    //   })
    // },
    // static obtenerHC(paciente, token){
    //     let headers = {
    //         'Content-Type': 'application/json',
    //         'Authorization': 'Bearer ' + token
    //     };
    //     return api.get("api/formatos/historia-clinica/" + paciente, {headers:  headers}).then(response => {
    //         let data = response.data;
    //         return data;
    //     });
    // }
    actualizartabla() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api
        .get('api/formatos/60161c8ecace9f172772dc6a', { headers })
        .then((response) => {
          const data = response.data
          this.chartData = [['Fecha', 'Presión', 'Temperatura', 'Frecuencia R']]
          data.mediciones.forEach((element) => {
            const dataGraficos = []
            dataGraficos.push(element.horaMedicion)
            dataGraficos.push(element.presionArterial.sistolica)
            dataGraficos.push(element.temperatura)
            dataGraficos.push(element.frecuenciaCardiaca)
            this.chartData.push(dataGraficos)
          })
        })
    },
    ok() {
      this.prueba()
      // this.registrarGrafClinica()
      this.$Message.info('Se registro correctamente')
    },
    cancel() {
      this.$Message.info('Se cancelo')
    }
  }
}
</script>
