<template>
  <Form>
    <div>
      <!-- Nueva Hospitalizacion -->
      <Steps :current="current" class="steps">
        <Step title="Anamnesis" content="Enfermedad Actual"> </Step>
        <Step title="Examen Fisico" content="Examinar al paciente"> </Step>

        <Step
          title="Diagnóstico"
          content="Sindrómico, presuntivo y CIE-10"
        ></Step>
        <Step title="Tratamiento" content="Tratamiento y medicación"></Step>
        <Step title="Plan de Trabajo" content="Tratar al paciente"></Step>
      </Steps>
      <template v-if="current === 0">
        <!-- <Form> -->
        <br /><br />
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Episodio actual">
              <Tooltip
                max-width="210"
                content="Se describe la situación actual del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Episodio actual"> </Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem label="Tiempo de enfermedad" class="negrita">
              <Tooltip
                max-width="210"
                content="Se coloca el tiempo que padece con esta enfermedad"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input placeholder="Tiempo de enfermedad">
                <Tooltip
                  max-width="210"
                  content="Se coloca un breve relato de la enfermedad"
                >
                  <Icon type="md-help-circle" size="20" />
                </Tooltip>
                <span slot="append">
                  <Select style="width: 100px">
                    <Option> dia(s)</Option>
                    <Option> semana(s)</Option>
                    <Option> mes(es)</Option>
                    <Option> año(s)</Option>
                  </Select>
                </span>
              </Input>
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Forma de inicio">
              <Tooltip
                max-width="210"
                content="Se coloca como ha inciado el proceso de inicio el paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Forma de inicio"> </Input>
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="Curso" class="negrita">
              <Tooltip
                max-width="210"
                content="Se coloca como ha ido transcurriendo en el proceso de la enfermedad"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Curso"> </Input>
            </FormItem>

            <br />
          </Col>
        </Row>
        <FormItem class="negrita" label="Signos y síntomas principales">
          <Tooltip
            max-width="210"
            content="Se coloca los signos y sintomas que padece como fiebre, alteraciones entre otros"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input
            type="textarea"
            placeholder="Signos y sintomas principales"
          ></Input>
        </FormItem>
        <FormItem class="negrita" label="Relato de la enfermedad">
          <Tooltip
            max-width="210"
            content="Se coloca un breve relato de la enfermedad"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input type="textarea" placeholder="Relato de la enfermedad"></Input>
        </FormItem>
        <FormItem class="negrita" label="Funciones Biológicas">
          <Tooltip
            max-width="210"
            content="Se coloca las funciones biológicas del paciente"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input type="textarea" placeholder="Funciones Biológicas"></Input>
        </FormItem>
        <!-- </Form> -->
      </template>
      <template v-if="current === 1">
        <!-- <Form> -->
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Estado general">
              <Tooltip
                max-width="210"
                content="Se coloca el estado general en condición al paciente a simple vista"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Select placeholder="Estado general">
                <Option value="Normal"> Normal</Option>
                <Option value="Regular"> Regular</Option>
                <Option value="Grave"> Grave</Option>
                <Option value="Otro"> Otro</Option>
              </Select>
              <!-- <Input placeholder="Describir o colocar observaciones sobre el estado general"> </Input> -->
            </FormItem>
            <FormItem class="negrita" label="Facies">
              <Tooltip
                max-width="210"
                content="Se coloca cómo se encuentra el estado de su rostro"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Select placeholder="Facies">
                <Option value="Normal"> Normal</Option>
                <Option value="Serrosa"> Serrosa</Option>
                <Option value="Amarilla"> Amarilla</Option>
                <Option value="Machas"> Machas</Option>
                <Option value="Otro"> Otro</Option>
              </Select>
              <!-- <Input placeholder="Describir o colocar observaciones sobre el estado del rostro"> </Input> -->
            </FormItem>
            <FormItem class="negrita" label="Actitud">
              <Tooltip
                max-width="210"
                content="Se coloca cómo se encuentra su actitud"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Select placeholder="Actitud">
                <Option value="Colaborativo"> Colaborativo</Option>
                <Option value="Exaltado"> Exaltado</Option>
                <Option value="No colabora"> No colabora</Option>
                <Option value="Otro"> Otro</Option>
              </Select>
              <!-- <Input placeholder="Describir o colocar observaciones sobre su actitud"> </Input> -->
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem class="negrita" label="Constitución">
              <Tooltip
                max-width="210"
                content="Detallar sobre la contextura del paciente indicando si está delgado, normal o con sobrepeso, si coloca Otros puede especificarlo mejor"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Select placeholder="Constitución">
                <Option value="Delgado"> Delgado</Option>
                <Option value="Normal"> Normal</Option>
                <Option value="Sobrepeso"> Sobrepeso</Option>
                <Option value="Otro"> Otro</Option>
              </Select>
              <!-- <Input placeholder="Describir o colocar observaciones sobre su constitución"> </Input> -->
            </FormItem>
            <FormItem class="negrita" label="Estado Nutrición">
              <Tooltip
                max-width="210"
                content="Se coloca el estado de nutrición a simple vista"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Select placeholder="Estado Nutrición">
                <Option value="Normal"> Normal</Option>
                <Option value="Regular"> Regular</Option>
                <Option value="Desnutrido"> Grave</Option>
                <Option value="Otro"> Otro</Option>
              </Select>
              <!-- <Input placeholder="Estado Nutrición"> </Input> -->
            </FormItem>
          </Col>
        </Row>
        <br />
        <h3>Funciones vitales</h3>
        <br />
        <Row>
          <Col span="4">
            <FormItem label="Temperatura (°C)">
              <Tooltip
                max-width="210"
                content="Colocar la temperatura del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                placeholder="Temperatura"
                type="number"
                style="width: 100px"
              />
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Presión Arterial (mmHg)">
              <Tooltip
                max-width="210"
                content="Colocar la presión arterial del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                placeholder="Presión Arterial"
                type="number"
                style="width: 100px"
              />
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="F. Cardiaca (lpm)">
              <Tooltip
                max-width="210"
                content="Colocar la frecuencia cardiaca del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input placeholder="FC" type="number" style="width: 100px" />
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="F. Respiratoria (lpm)">
              <Tooltip
                max-width="210"
                content="Colocar la frecuencia respiratoria del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input placeholder="FR" type="number" style="width: 100px" />
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Presión venosa central">
              <Tooltip
                max-width="210"
                content="Colocar la presión venosa central"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                type="number"
                style="width: 100px"
                placeholder="Presión venosa central"
              />
            </FormItem>
            <br />
          </Col>
        </Row>
        <h3>Somatometria</h3>
        <br />
        <Row>
          <Col span="3">
            <FormItem class="negrita" label="Peso">
              <Tooltip max-width="210" content="Colocar el peso del paciente">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                type="number"
                style="width: 100px"
                placeholder="Peso"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Talla">
              <Tooltip max-width="210" content="Colocar el talla del paciente">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />
              <Input
                type="number"
                style="width: 100px"
                placeholder="Talla"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="IMC">
              <Tooltip max-width="210" content="Colocar el IMC del paciente">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                type="number"
                style="width: 100px"
                placeholder="IMC"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Peso/Edad">
              34
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem class="negrita" label="Talla/Edad">12 </FormItem>
          </Col>
          <Col span="4">
            <FormItem class="negrita" label="Peso/Talla">12 </FormItem>
          </Col>
        </Row>

        <FormItem class="negrita" label="Piel y faneras">
          <Tooltip
            max-width="210"
            content="Colocar una breve descripción a simple vista sobre el estado de la piel y faneras del paciente"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input type="textarea" placeholder="Piel y faneras"></Input>
        </FormItem>
        <FormItem class="negrita" label="Tejido celular subcutáneo">
          <Tooltip
            max-width="210"
            content="Colocar una breve descripción a simple vista sobre el tejido celular subcutaneo del paciente"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input
            type="textarea"
            placeholder="Tejido celular subcutáneo"
          ></Input>
        </FormItem>
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem type="textarea" class="negrita" label="Cabeza">
              <Tooltip
                max-width="210"
                content="Colocar una breve descripción a simple vista sobre el estado de la cabeza del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input placeholder="Cabeza"></Input>
            </FormItem>
            <FormItem class="negrita" label="Ojos">
              <Tooltip
                max-width="210"
                content="Colocar una breve descripción a simple vista sobre el estado de los ojos del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Ojos"></Input>
            </FormItem>
            <FormItem class="negrita" label="Nariz">
              <Tooltip
                max-width="210"
                content="Colocar una breve descripción a simple vista sobre el estado de la nariz del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Nariz"></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Oidos">
              <Tooltip
                max-width="210"
                content="Colocar una breve descripción a simple vista sobre el estado de los oídos del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Oidos"></Input>
            </FormItem>
            <FormItem class="negrita" label="Boca">
              <Tooltip
                max-width="210"
                content="Colocar una breve descripción a simple vista sobre el estado de la boca del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Boca"></Input>
            </FormItem>
            <FormItem class="negrita" label="Cuello">
              <Tooltip
                max-width="210"
                content="Colocar una breve descripción a simple vista sobre el estado del cuello del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Cuello"></Input>
            </FormItem>
          </Col>
        </Row>
        <h3>Aparato respiratorio</h3>
        <br />
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Inspección">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Inspección"></Input>
            </FormItem>

            <FormItem class="negrita" label="Palpación">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Palpación"></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Percusión">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Percusión"></Input>
            </FormItem>
            <FormItem class="negrita" label="Auscultación">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Auscultación"></Input>
            </FormItem>
          </Col>
        </Row>
        <h3>Aparato cardiovascular</h3>
        <br />
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Inspección">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Inspección"></Input>
            </FormItem>

            <FormItem class="negrita" label="Palpación">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Palpación"></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Percusión">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Percusión"></Input>
            </FormItem>
            <FormItem class="negrita" label="Auscultación">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Auscultación"></Input>
            </FormItem>
          </Col>
        </Row>
        <br />
        <h4>Pulsos Perifericos</h4>
        <br />
        <Row>
          <Col span="3">
            <FormItem class="negrita" label="Carotideo">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                type="number"
                style="width: 100px"
                placeholder="Carotideo"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Radial">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                type="number"
                style="width: 100px"
                placeholder="Radial"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Branquial">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                type="number"
                style="width: 100px"
                placeholder="Branquial"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Femoral">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                type="number"
                style="width: 100px"
                placeholder="Femoral"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Tibia Posterior">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                type="number"
                style="width: 100px"
                placeholder="Tibia Posterior"
              ></Input>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem class="negrita" label="Pedio">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                type="number"
                style="width: 100px"
                placeholder="Pedio"
              ></Input>
            </FormItem>
          </Col>
        </Row>

        <h3>Abdomen</h3>
        <br />
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Inspección">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Inspección"></Input>
            </FormItem>

            <FormItem class="negrita" label="Palpación">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Palpación"></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Percusión">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Percusión"></Input>
            </FormItem>
            <FormItem class="negrita" label="Auscultación">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Auscultación"></Input>
            </FormItem>
          </Col>
        </Row>
        <br />
        <FormItem class="negrita" label="Aparato urinario">
          <Tooltip max-width="210" content="">
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input type="textarea" placeholder="Aparato urinario"></Input>
        </FormItem>
        <h3>Examen Ginecológico</h3>
        <br />
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Mamas">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Mamas"></Input>
            </FormItem>
            <FormItem class="negrita" label="Genitales externos">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Genitales externos"></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Tacto rectal">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Tacto rectal"></Input>
            </FormItem>
            <FormItem class="negrita" label="Aparato locomotor">
              <Tooltip
                max-width="210"
                content="El paciente puede moverse correctamente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Aparato locomotor"></Input>
            </FormItem>
          </Col>
        </Row>
        <br />
        <h3>Examen Neurológico</h3>
        <br />
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Estado de conciencia">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Estado de conciencia"></Input>
            </FormItem>
            <FormItem class="negrita" label="Escala Glasgow">
              <Tooltip
                max-width="210"
                content="Comprendido entre los valores de 3 al 15, evalúa el sistema nervioso"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />
              <InputNumber
                placeholder="Escala Glasgow"
                style="width: 60px"
              ></InputNumber>
              <!-- <Input type="textarea" placeholder="Escala Glasgow"></Input> -->
            </FormItem>
            <FormItem class="negrita" label="Marcha">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Marcha"></Input>
            </FormItem>
            <FormItem class="negrita" label="Fuerza muscular">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Fuerza muscular"></Input>
            </FormItem>
            <FormItem class="negrita" label="Sensibilidad">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Sensibilidad"></Input>
            </FormItem>
            <FormItem class="negrita" label="Equilibrio y coordinacion">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input
                type="textarea"
                placeholder="Equilibrio y coordinacion"
              ></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Reflejos">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Reflejos"></Input>
            </FormItem>
            <FormItem class="negrita" label="Pares craneales">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Pares craneales"></Input>
            </FormItem>
            <FormItem class="negrita" label="Funciones superiores">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Funciones superiores"></Input>
            </FormItem>
            <FormItem class="negrita" label="Estado emocional">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Estado emocional"></Input>
            </FormItem>
            <FormItem class="negrita" label="Otros datos">
              <Tooltip max-width="210" content="">
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <Input type="textarea" placeholder="Otros datos"></Input>
            </FormItem>
          </Col>
        </Row>
        <!-- </Form> -->
      </template>
      <template v-if="current === 2">
        <!-- Diagnostico -->
        <!-- <Form> -->
        <Row>
          <Col span="12" style="padding-right:30px">
            <div class="negrita">
              Presuntivos <Button @click="modalD = true" icon="md-add-circle" />
            </div>
            <Modal
              v-model="modalD"
              @on-ok="ok"
              @on-cancel="cancel"
              title="Ingresar diagnóstico presuntivo"
              ok-text="Agregar"
            >
              <FormItem label="Categoría CIE:">
                <br />
                <Select placeholder="Categoría">
                  <Option> Seleccionar un distrito</Option>
                  <Option> Santiago de Surco</Option></Select
                >
              </FormItem>
              <FormItem label="Subcategoría CIE:">
                <br />
                <Select placeholder="Sub-categoría">
                  <Option> Seleccionar una Sub-categoría</Option>
                  <Option> Febril</Option>
                </Select>
              </FormItem>
              <FormItem label="Sub-subcategoría CIE:">
                <br />
                <Select placeholder="Sub-sub-categoría">
                  <Option> Seleccionar una Sub-categoría</Option>
                  <Option> Febril</Option>
                </Select>
              </FormItem>
            </Modal>
            <Table :columns="columnsD" :data="dataD"></Table>
          </Col>

          <Col span="12" style="padding-right:30px">
            <div class="negrita">
              Sindrómicos <Button @click="modalS = true" icon="md-add-circle" />
            </div>
            <Modal
              v-model="modalS"
              @on-agregar="Agregar"
              @on-cancel="cancel"
              title="Ingresar diagnóstico presuntivo"
              ok-text="Agregar"
            >
              <Transfer
                :data="datadiagnostico"
                :target-keys="targetKeysDiag"
                :list-style="listStyle"
                :render-format="render3"
                :operations="[' Izq', 'Der']"
                @on-change="handleChange3"
              >
                <div :style="{ float: 'right', margin: '5px' }">
                  <Button @click="reloadMockData" size="small">Refresh</Button>
                </div>
              </Transfer>
              >
            </Modal>
            <Table :columns="columnsD" :data="dataD"></Table>
          </Col>
        </Row>
        <!-- </Form> -->
      </template>
      <template v-if="current === 3">
        <!-- Tratamiento -->
        <!-- <Form> -->
        <FormItem class="negrita" label="Dieta">
          <Tooltip max-width="210" content="">
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Select v-model="model1" style="width:200px">
            <Option
              v-for="item in tratamiento"
              :value="item.value"
              :key="item.value"
              >{{ item.label }}</Option
            >
          </Select>
          <br />
          <RadioGroup>
            ¿Desea anadir alguna observación adicional?
            <Radio label="SI"></Radio>
            <Radio label="NO"></Radio>
          </RadioGroup>
          <br />
          <Input
            type="textarea"
            placeholder="Añadir algunas observaciones"
          ></Input>
        </FormItem>
        <FormItem class="negrita" label="Cuidados de enfermería">
          <Tooltip max-width="210" content="">
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Input
            type="textarea"
            placeholder="Escribir los cuidados de enfermería a tratar"
          ></Input>
        </FormItem>
        <FormItem class="negrita" label="Medicamentos">
          <Tooltip max-width="210" content="">
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Button type="primary" to="/controlmedicamentos">
            Ir al Formato de Medicamentos
          </Button>
        </FormItem>
        <!-- </Form> -->
      </template>
      <template v-if="current === 4">
        <!-- Plan de ejecucion -->
        <!-- <Form> -->
        <FormItem class="negrita" label="Examenes de ayuda diagnostica">
          <Tooltip max-width="210" content="">
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <Button @click="modal1 = true" type="primary">
            Elegir examenes de ayuda diagnostica
          </Button>
          <div>
            <Modal
              v-model="modal1"
              @on-ok="Agregar"
              @on-cancel="Cancelar"
              ok-text="Agregar"
              cancel-text="Cancelar"
              title="Completar los siguientes datos"
            >
              <RadioGroup>
                ¿Elegir examenes de ayuda diagnostica?
                <br />
                <Radio label="Procedimientos medicos"></Radio>
                <Radio label="Procedimientos Quirurgicos"></Radio>
                <Radio label="Interconsultas"></Radio>
              </RadioGroup>
              <br />
            </Modal>
          </div>
        </FormItem>
        <!-- </Form> -->
      </template>
      <Row type="flex" justify="end">
        <Col>
          <Button :disabled="current === 0" @click="anteriorpag" type="warning">
            Volver
          </Button>

          <Button @click="siguientepag" type="success">
            <template v-if="current < 4">
              Guardar y continuar
            </template>
            <template v-if="current === 4">
              Guardar
            </template>
          </Button>
        </Col>
      </Row>
    </div>
  </Form>
</template>

<script>
export default {
  data() {
    return {
      modalS: false,
      modalD: false,
      columnsD: [
        {
          title: 'Código CIE',
          key: 'codigocie'
        },
        {
          title: 'Nombre',
          key: 'nombre'
        },
        {
          title: 'Relacionado',
          key: 'relacionado'
        }
      ],
      dataD: [
        {
          codigocie: 'A18.3',
          nombre:
            'Tuberculosis intestinal, peritoneal y de glándulas mesentéricas',
          relacionado: 'NO'
        },
        {
          codigocie: 'J3.11',
          nombre: 'Nasofaringitis crónica',
          relacionado: 'NO'
        },
        {
          codigocie: 'K02.0',
          nombre: 'Caries limitada al esmalte',
          relacionado: 'SI'
        },
        {
          codigocie: 'K04.1',
          nombre: 'Necrosis de la pulpa dentaria',
          relacionado: 'SI'
        }
      ],
      // datadiagnostico: this.getMockData(),
      // targetKeysDiag: this.getTargetKeys(),
      datadiagnostico: [
        { key: '1', label: 'Sindrome Febril', disabled: false },
        { key: '2', label: 'Nasofaringitis crónica', disabled: false },
        { key: '3', label: 'Necrosis de la pulpa dentaria', disabled: false }
      ],
      targetKeysDiag: ['1', '2', '3'],
      listStyle: {
        width: '150px',
        height: '200px'
      },
      modal1: false,
      model1: false,
      radiocurrent: '0',
      tratamiento: [
        {
          value: 'Completo',
          label: 'Completo'
        },
        {
          value: 'Liquido',
          label: 'Liquido'
        },
        {
          value: 'Bajo en grasas',
          label: 'Bajo en grasas'
        },
        {
          value: 'Hiposodica',
          label: 'Hiposódica'
        }
      ],
      current: 0
    }
  },
  methods: {
    siguientepag() {
      if (this.current < 4) this.current++
    },
    anteriorpag() {
      if (this.current > 0) this.current--
    },
    getMockData() {
      const mockData = []
      for (let i = 1; i <= 20; i++) {
        mockData.push({
          key: i.toString(),
          label: 'Content ' + i,
          // label: mockData[0].key
          description: 'The desc of content  ' + i,
          disabled: Math.random() * 3 < 1
        })
      }
      return mockData
    },
    getTargetKeys() {
      return this.getMockData()
        .filter(() => Math.random() * 2 > 1)
        .map((item) => item.key)
    },
    handleChange3(newTargetKeys) {
      this.targetKeysDiag = newTargetKeys
    },
    render3(item) {
      return item.key + ':' + item.label
      // return item.label + ' - ' + item.description
    },
    onChange(newTargetKeys) {
      this.targetKeysDiag = newTargetKeys
    }
    // reloadMockData() {
    //   this.datadiagnostico = this.getMockData()
    //   this.targetKeysDiag = this.getTargetKeys()
    // }
  }
}
</script>

<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
.imagenenf {
  /* max-width: 50%;
  padding: 10px 0; */
  max-height: 200px;

  max-width: 200px;
  position: absolute;

  right: 30px;

  top: 80px;
}
</style>
