<template>
  <div class="container">
    <div>
      <h1 style="margin-top:-70px">Busqueda del Perfil del Paciente</h1>
    </div>
    <span>Listado de Pacientes</span>
    <AutoComplete
      @on-change="handleSearch"
      v-model="auxPaciente"
      icon="ios-search"
      placeholder="Seleccione Paciente"
      style="width:70%;max-width:500px;margin-top:15px"
    >
      <Option v-for="item in pacientes" :value="item" :key="item.nombre">{{
        item.nombre + ' -  ' + item.dni
      }}</Option>
    </AutoComplete>

    <div v-if="pac">
      <Button
        @click="$router.push('/perfil')"
        style="margin-top:50px"
        type="primary"
        size="large"
        >Ver Perfil</Button
      >
    </div>
  </div>
</template>

<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      estadoInicial: [],
      auxPaciente: '',
      paciente: '',
      pacientes: [],
      pac: null
    }
  },
  watch: {
    auxPaciente() {
      if (this.paciente.nombre) {
        console.log('HOLA:', this.paciente)
        this.pac = 1
      }
    }
  },
  mounted() {
    this.obtenerListadoPacientes()
    this.incializacionDatos()
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
  },
  methods: {
    handleSearch(paciente) {
      this.paciente = paciente
      this.auxPaciente = paciente.nombre
      const auxPacientes = []
      this.pacientes.map((x) => {
        auxPacientes.push(x.nombre + '  -  ' + x.dni)
      })

      const auxLista = []
      const listaIndices = []
      if (paciente.nombre) {
        for (const i in auxPacientes) {
          if (
            auxPacientes[i]
              .toUpperCase()
              .includes(paciente.nombre.toUpperCase())
          ) {
            auxLista.push(auxPacientes[i])
          } else {
            listaIndices.push(i)
          }
        }
      } else {
        for (const i in auxPacientes) {
          if (auxPacientes[i].toUpperCase().includes(paciente.toUpperCase())) {
            auxLista.push(auxPacientes[i])
          } else {
            listaIndices.push(i)
          }
        }
      }
      listaIndices.sort((a, b) => b - a)
      for (const i in listaIndices) {
        this.pacientes.splice(listaIndices[i], 1)
      }
      // return auxLista.length === 0 ? (paciente = '') : auxLista
      // this.pacientes = auxPacientes
      console.log('PAC:', paciente)
      if (paciente.length === 0) {
        this.pacientes = [...this.estadoInicial]
        console.log('EI:', this.estadoInicial)
      }
    },
    obtenerListadoPacientes() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return api
        .get('api/formatos/general/lista-pacientes', {
          headers
        })
        .then((response) => {
          const data = response.data
          console.log('DATA:', data)
          this.pacientes = [...data]
          this.estadoInicial = [...data]
        })
    },
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    filterMethod(value, option) {
      console.log('VALUE:', value, '\nOPTION:', option)
      return option.toUpperCase().includes(value.toUpperCase())
    },
    show(index) {
      this.$Modal.info({
        title: 'Detalles de Hospitalización',
        content: `Prueba ` + (index + 1)
      })
    },
    remove(index) {
      this.data.splice(index, 1)
    }
  }
}
</script>

<style>
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
}
.card {
  text-align: center;
  width: 30%;
  padding: 10px;
  background-color: #515a6e;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  font-family: 'Segoe UI';
  cursor: pointer;
  height: 120px;
  user-select: none;
}
.card:hover {
  background-color: #6a7691;
}
</style>
