<template>
  <Form>
    <h2 class="steps">
      Informe del Examen Anatomía Patológica
    </h2>
    Fecha: 23/08/2020 <br />
    Hora: 13:10:00
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Cama:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Servicio:
            </span>
          </div>
          <div>
            <span class="datos">
              Pabellon E-2
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--  Paciente: Katherine Ruiz, Edad: 22,<br />
    Sexo:Femenino, HCE:28931221,<br />cama:22, servicio:PABELLO E-2 -->

    <Divider class="negrita" orientation="left" size="small">
      Resultados</Divider
    >
    <!-- POR CADA EXAMEN APARECERA LO SIGUIENTE -->
    <FormItem class="negrita" label="N° informe del examen">
      <Tooltip
        max-width="210"
        content="Se da a conocer el número del informe del examen obtenido "
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <br />
      <!-- SE COLOCA EL NUMERO -->
      123
    </FormItem>
    <FormItem class="negrita" label="Resultado del examen">
      <Tooltip
        max-width="210"
        content="Describir el resultado del examen considerando hallazgos y diagnósticos "
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <br />
      <Input
        type="textarea"
        placeholder="Descripción de hallazgos y diagnósticos"
      />
    </FormItem>

    <!-- BRINDAR CONFORME TANTO EL CIRUJANO COMO EL DOCTOR -->
    <Row type="flex" justify="end">
      <Col>
        <Button @click="anteriorpag" type="error">
          Cancelar
        </Button>

        <Button @click.native="registrarIAP" type="success">
          Guardar
        </Button>
      </Col>
    </Row>
  </Form>
</template>
<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      modal1: false
    }
  },
  methods: {
    registrarIAP() {
      const headers = {
        'Content-Type': 'text/plain',
        Authorization: localStorage.getItem('token')
      }
      api
        .put(
          'api/formatos/anatomia-patologica/5f0e5e1d239c4b0eff54505d',
          'El paciente esta estable', // ver la forma de consulta
          { headers }
        )
        .then((response) => {
          const data = response.data
          return data
        })
    },
    ok() {
      this.$Message.info('Clicked ok')
    },
    cancel() {
      this.$Message.info('Clicked cancel')
    }
  }
}
</script>
<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
.solid {
  border-style: dotted;
}
</style>
