<template>
  <Form>
    <h2 class="steps">Retiro voluntario</h2>
    Fecha: 23/08/2020 <br />
    Hora: 13:10:00
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- <Text>Es el paciente quien solicita este retiro?</Text> -->
    <FormItem
      label="Es el paciente quien solicita este retiro?"
      class="negrita"
    >
      <br />
      <RadioGroup>
        <Radio class="nonegrita" label="si">Si</Radio>
        <Radio class="nonegrita" label="no">No </Radio>
      </RadioGroup>
    </FormItem>
    <FormItem
      class="negrita"
      label="Nombre de la persona legalmente responsable"
    >
      <Input placeholder="Nombre de la persona legalmente responsable" />
    </FormItem>
    <FormItem class="negrita" label="DNI de la persona legalmente responsable">
      <Input placeholder="DNI de la persona legalmente responsable" />
    </FormItem>

    <FormItem class="negrita" label="Condicion actual del paciente">
      <Input placeholder="Condicion actual del paciente" />
    </FormItem>

    <!-- BRINDAR CONFORME TANTO EL CIRUJANO COMO EL DOCTOR -->
    <Row>
      <Col>
        <Button type="success"> Generar documento </Button>
      </Col>
    </Row>
  </Form>
</template>
<script>
export default {
  data() {
    return {
      modal1: false
    }
  },
  methods: {
    ok() {
      this.$Message.info('Clicked ok')
    },
    cancel() {
      this.$Message.info('Clicked cancel')
    }
  }
}
</script>
<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>
