<style scoped>
.layout-header-bar.ivu-layout-header {
  padding: 0 50px 0 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px auto;
  grid-template-rows: 64px auto;
  justify-items: stretch;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  background: #f5f7f9;
}
.layout-header-bar {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.layout-logo-left {
  width: 90%;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  margin: 15px auto;
}
.menu-icon {
  transition: all 0.3s;
}
.rotate-icon {
  transform: rotate(-90deg);
}
.menu-item span {
  display: inline-block;
  overflow: hidden;
  width: 69px;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
  transition: width 0.2s ease 0.2s;
}
.menu-item i {
  transform: translateX(0px);
  transition: font-size 0.2s ease, transform 0.2s ease;
  vertical-align: middle;
  font-size: 16px;
}
.collapsed-menu span {
  width: 0px;
  transition: width 0.2s ease;
}
.collapsed-menu i {
  transform: translateX(5px);
  transition: font-size 0.2s ease 0.2s, transform 0.2s ease 0.2s;
  vertical-align: middle;
  font-size: 22px;
}
.justifyend {
  text-align: right;
  padding-right: 33px;
  right: 50px;
}
.padd {
  padding: 0;
}
</style>
<template>
  <div class="layout">
    <Sider
      v-if="userlogged === 'true'"
      style=" height: 100%; grid-area: sidebar"
    >
      <Menu v-if="logging" active-name="1-2" theme="dark" width="auto">
        <MenuItem
          v-if="logging"
          @click.native="$router.push('/busquedaHospitalizacion')"
          name="1-1"
        >
          <Icon type="ios-settings"></Icon>
          <span>Hospitalizaciones</span>
        </MenuItem>
        <MenuItem
          @click.native="$router.push('/busquedaEmergencias')"
          name="1-1"
        >
          <Icon type="ios-settings"></Icon>
          <span>Emergencias</span>
        </MenuItem>
        <MenuItem @click.native="$router.push('/busquedaConsulta')" name="1-1">
          <Icon type="ios-settings"></Icon>
          <span>Consulta Externa</span>
        </MenuItem>
        <MenuItem @click.native="$router.push('/busquedaNotasEnf')" name="1-1">
          <Icon type="ios-settings"></Icon>
          <span>Notas de Enf.</span>
        </MenuItem>
        <MenuItem @click.native="$router.push('/busquedaNotasObs')" name="1-1">
          <Icon type="ios-settings"></Icon>
          <span>Notas de Obstetricia</span>
        </MenuItem>
        <MenuItem
          @click.native="$router.push('/busquedaResultados')"
          name="1-1"
        >
          <Icon type="ios-settings"></Icon>
          <span>Resultados</span>
        </MenuItem>
        <MenuItem
          @click.native="$router.push('/busquedaOdontologia')"
          name="1-1"
        >
          <Icon type="ios-settings"></Icon>
          <span>Odontología</span>
        </MenuItem>
        <MenuItem @click.native="$router.push('/busquedaPerfil')" name="1-1">
          <Icon type="ios-settings"></Icon>
          <span>Perfiles</span>
        </MenuItem>
      </Menu>
    </Sider>

    <Layout style="grid-area:header">
      <Header :style="{ padding: 0 }" class="layout-header-bar">
        <Icon
          :class="rotateIcon"
          :style="{ margin: '0 20px' }"
          @click.native="collapsedSider"
          style="color: white;"
          type="md-menu"
          size="24"
        >
        </Icon>

        <Dropdown class="padd">
          <template v-if="userlogged === 'true'">
            <div v-if="!curUser || curUser === 'NaN'">
              <!--  Doctor(a) Carolina Quiroga
              <Icon type="ios-contact ios-arrow-down" size="28"></Icon> -->
            </div>
            <div v-else>
              Doctor(a) {{ curUser }}
              <Icon type="ios-contact ios-arrow-down" size="28"></Icon>
            </div>
          </template>
          <DropdownMenu slot="list">
            <DropdownItem>Inicio</DropdownItem>
            <DropdownItem @click.native="inicio">Cerrar sesión</DropdownItem>
          </DropdownMenu>
        </Dropdown>

        <!-- <Icon
          :style="{ align: 'end' }"
          class="justifyend"
          type="ios-contact"
          size="28"
        >
        </Icon> -->
        <!-- <div :style="{ margin: '0 20px' }" class="justifyend"> -->
        <!-- &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -->
        <!-- <template>
          <div>Doctor(a) Carolina Quiroga}</div>
          <div>id Medico: 1332</div>
        </template> -->

        <!-- </div> -->
        <!-- </Col>
        </Row> -->
      </Header>
    </Layout>
    <Layout style="grid-area: main"
      ><Content
        :style="{ margin: '20px', background: '#fff', padding: '24px' }"
      >
        <nuxt />
      </Content>
    </Layout>
  </div>
</template>
<script>
export default {
  data() {
    return {
      num: 0,
      logging: false,
      curUser: '',
      usuari: null,
      userlogged: 'false'
    }
  },
  watch: {
    curUser(newCurUser) {
      this.curUser = newCurUser
    }
  },
  created() {},
  mounted() {
    if (process.browser) {
      const varkat = localStorage.getItem('logging')
      this.curUser = localStorage.getItem('usuari')
      console.log('Aca', this.curUser)
      if (varkat === null) {
        this.logging = false
        this.userlogged = 'false'
      } else {
        this.logging = true
        this.userlogged = varkat
      }
    }
  },
  methods: {
    inicio() {
      localStorage.setItem('userlogged', 'false')
      localStorage.setItem('logging', 'false')
      this.curUser = ''
      this.$router.push('/')
      window.location.replace('/')
    },
    // goToPageOne() {
    //   this.$router.push('/notasenfermeria')
    // },
    // goToPageTwo() {
    //   this.$router.push('/notasobstetricia')
    // },
    // goToPageThree() {
    //   this.$router.push('/reporteoperatorio')
    // },
    goToPageFour() {
      this.$router.push('/anestesia')
    },
    goToPageFive() {
      this.$router.push('/balancehidrico')
    },
    // goToPageSix() {
    //   this.$router.push('/consentimientoinformado')
    // },
    // goToPageSeven() {
    //   this.$router.push('/consultaexterna')
    // },
    goToPageEigth() {
      this.$router.push('/controlmedicamentos')
    },
    // goToPageNight() {
    //   this.$router.push('/emergencia')
    // },
    // goToPageTen() {
    //   this.$router.push('/familiar')
    // },
    goToPageOnce() {
      this.$router.push('/filiacion')
    },
    goToPageDoce() {
      this.$router.push('/hospitalizaciones')
    },
    // goToPageTrece() {
    //   this.$router.push('/infanatomiapatologica')
    // },
    // goToPageCatorce() {
    //   this.$router.push('/infdiagimagen')
    // },
    goToPageQuince() {
      this.$router.push('/infinterconsulta')
    },
    // goToPageDieciseis() {
    //   this.$router.push('/infpatologiaclinica')
    // },
    goToPageDiecisiete() {
      this.$router.push('/ordeninterq')
    },
    goToPageDieciocho() {
      this.$router.push('/hospitalizaciones/nueva/i')
    },
    goToPageNueve() {
      this.$router.push('/graficaclinica')
    },
    goToPageDiecinueve() {
      this.$router.push('/infalta')
    },
    goToPageVeinte() {
      this.$router.push('/odonto')
    },
    goToPageVeintiuno() {
      this.$router.push('/maternoperinatal')
    }
  }
}
</script>
