<template>
  <div>
    <h2 class="steps">Filiación - Antecedentes</h2>
    <Steps :current="current" class="steps">
      <Step title="Anamnesis" content="Datos del Paciente"> </Step>
      <Step title="Generales" content="Descripcion General"> </Step>
      <Step title="Personales" content="Examinar al paciente"> </Step>
      <Step title="Patologicos" content="Resultado"></Step>
      <Step title="Familiares" content="Tratamiento y medicacion"></Step>
    </Steps>
    <br />
    <template v-if="current === 0">
      <Form :label-width="100" label-position="left">
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="DNI">
              <Input
                id="dni"
                v-model="docdni"
                name="DNI"
                style="width: 120px"
                disabled
              />
            </FormItem>
            <FormItem class="negrita" label="Nombres">
              <Input
                id="nombres"
                v-model="nombre"
                style="width: 250px"
                disabled
              />
            </FormItem>
            <FormItem class="negrita" label="Apellidos">
              <Input v-model="apellido" style="width: 250px" disabled />
            </FormItem>
            <FormItem class="negrita" label="Fecha de nacimiento">
              <!-- <Input
                v-model="fecnac"
                type="date"
                lang="es"
                style="width: 250px"
              /> -->
              <!-- :value="fecnac" -->
              <DatePicker
                v-model="fecnac"
                format="dd/MM/yyyy"
                type="datetime"
                placeholder="Seleccione la fecha"
                style="width: 250px"
                disabled
              ></DatePicker>
            </FormItem>

            <FormItem class="negrita" label="Género">
              <RadioGroup v-model="sexo" disabled>
                <Radio label="femenino" disabled>Femenino</Radio>
                <Radio label="masculino" disabled>Masculino</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem class="negrita" label="Teléfono">
              <Input v-model="telefono" style="width: 250px" disabled />
            </FormItem>

            <FormItem class="negrita" label="Estado Civil">
              <Select v-model="estadocivil" style="width: 250px" disabled>
                <Option> Seleccione Estado civil</Option>
                <Option value="Soltero"> Soltero</Option>
                <Option value="Conviviente"> Conviviente</Option>
                <Option value="Casado"> Casado</Option>
                <Option value="Separado"> Separado</Option>
                <Option value="Divorciado"> Divorciado</Option>
                <Option value="Viudo"> Viudo</Option>
                <Option value="Otros"> Otros</Option>
              </Select>
            </FormItem>
            <FormItem class="negrita" label="Lugar Nacimiento">
              <Input
                v-model="lugarnac"
                style="width: 300px"
                type="textarea"
                disabled
              />
            </FormItem>
            <!-- <FormItem class="negrita" label="Provincia">
              <Select
                v-model="provincia"
                disabled="{this.state.provinciadisab}"
                style="width: 250px"
              >
                <Option> Seleccionar una provincia</Option>
                <Option value="Lima" disabled> Lima</Option>
                <Option value="Tacna" disabled> Tacna</Option>
                <Option value="Ica" disabled> Ica</Option>
                <Option value="Loreto" disabled> Loreto</Option>
              </Select>
            </FormItem> -->
            <FormItem class="negrita" label="Distrito">
              <Select
                v-model="distrito"
                disabled="{this.state.distritodisab}"
                style="width: 250px"
              >
                <Option> Seleccionar un distrito</Option>
                <Option value="Santiago de Surco" disabled>
                  Santiago de Surco</Option
                >
                <Option value="San Isidro" disabled> San Isidro</Option>
                <Option value="San Borja" disabled> San Borja</Option>
                <Option value="Miraflores" disabled> Miraflores</Option>
              </Select>
            </FormItem>

            <FormItem class="negrita" label="Domilicio Procedencia">
              <Input
                v-model="domicilioProcedencia"
                style="width: 300px"
                type="text"
                disabled
              />
            </FormItem>
            <FormItem class="negrita" label="Domilicio Actual">
              <Input
                v-model="domicilioactual"
                style="width: 300px"
                type="textarea"
                disabled
              />
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Grupo Sanguíneo">
              <Input v-model="tipgrupossa" style="width: 250px" />
            </FormItem>
            <FormItem class="negrita" label="Factor Rh">
              <Input v-model="tipfactorRH" style="width: 250px" />
            </FormItem>
            <FormItem class="negrita" label="Grado de Instrucción">
              <Select v-model="gradoins" style="width: 250px" disabled>
                <Option> Sin instruccion</Option>
                <Option value="Inicial" disabled> Inicial</Option>
                <Option value="Primaria completa" disabled>
                  Primaria completa</Option
                >
                <Option value="Primaria incompleta" disabled>
                  Primaria incompleta</Option
                >
                <Option value="Superior completo" disabled>
                  Superior completo</Option
                >
                <Option value="Superior incompleto" disabled>
                  Superior incompleto</Option
                >
                <Option value="Universitaria completa" disabled>
                  Universitaria completa</Option
                >
              </Select>
            </FormItem>

            <FormItem class="negrita" label="Ocupación">
              <Select v-model="ocupacion" style="width: 250px" disabled>
                <Option> Seleccione ocupacion</Option>
                <Option value="Sin ocupacion" disabled> Sin ocupacion</Option>
                <Option value="Carpintero" disabled> Carpintero</Option>
                <Option value="Ingeniero" disabled> Ingeniero</Option>
                <Option value="Medico" disabled> Medico</Option>
                <Option value="Abogado" disabled> Abogado</Option>
                <Option value="Gerente" disabled> Gerente</Option>
              </Select>
            </FormItem>

            <FormItem class="negrita" label="Religión">
              <Input
                v-model="religion"
                disabled
                style="width: 250px"
                required
              />
            </FormItem>

            <FormItem class="negrita" label="¿Cuenta con seguro médico?">
              <RadioGroup v-model="seguro" disabled>
                <Radio label="si" disabled>Si</Radio>
                <Radio label="no" disabled>No</Radio>
              </RadioGroup>
            </FormItem>

            <FormItem class="negrita" label="Tipo de seguro médico">
              <Select v-model="tiposeg" style="width: 250px" disabled>
                <Option value="SIS" disabled> SIS</Option>
                <Option value="SOAT" disabled> SOAT</Option>
              </Select>
            </FormItem>
            <FormItem class="negrita" label="Número del seguro">
              <Input v-model="numseguro" style="width: 250px" disabled />
            </FormItem>
            <FormItem
              class="negrita"
              label="DNI,

               Nombre
              y   Parentesco de la persona responsable o acompañante"
              style="width: 250px"
            >
              <Input v-model="dniAcom" style="width: 250px" />
              <Input v-model="nomAcomp" style="width: 250px" />
              <Input v-model="parAcomp" style="width: 250px" />
            </FormItem>
          </Col>
        </Row>
      </Form>
    </template>
    <template v-if="current === 1">
      <Form label-position="top">
        <Row>
          <Col span="12" style="padding-right:30px">
            <h3>Vivienda:</h3>
            <br />
            <FormItem class="negrita" label="Material">
              <RadioGroup v-model="material">
                <Radio label="Noble">Noble</Radio>
                <Radio label="Precario">Precario</Radio>
                <Radio label="Mixto">Mixto</Radio>
              </RadioGroup>
            </FormItem>
            <Row
              ><Col span="6" style="padding-right:50px">
                <FormItem class="negrita" label="Numero de personas:">
                  <InputNumber v-model="numPersonas"></InputNumber>
                </FormItem>
              </Col>
              <Col span="6" style="padding-right:50px">
                <FormItem class="negrita" label="Numero de Habitaciones:">
                  <InputNumber v-model="numHabitaciones"></InputNumber>
                </FormItem>
              </Col>
            </Row>
            <h3>Trabajo:</h3>
            <br />
            <FormItem class="negrita" label="Ocupacion actual">
              <Select v-model="ocupacionActual" placeholder="Banco">
                <Option value="constructora"> Constructora</Option>
                <Option value="pintor"> Pintor</Option>
              </Select>
            </FormItem>

            <FormItem class="negrita" label="Ocupacion anterior">
              <Select v-model="ocupacionAnt" placeholder="Carpintero">
                <Option value="Carpintero"> Carpintero</Option>
                <Option value="Constructora"> Constructora</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Condicion socio economica:">
              <RadioGroup v-model="condicionsocioecon">
                <Radio label="Alta">Alta</Radio>
                <Radio label="Media">Media</Radio>
                <Radio label="Baja">Baja</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem class="negrita" label="Crianza animales">
              <Select v-model="crianzaAnimales" placeholder="Gato">
                <Option value="Gallina"> Gallina</Option>
                <Option value="Perros"> Perros</Option>
                <Option value="Gato"> Gato</Option>
              </Select>
            </FormItem>
            <FormItem class="negrita" label="Viajes Recientes:">
              <Select v-model="viajesRecientes" placeholder="Alemania">
                <Option value="Alemania"> Alemania</Option>
                <Option value="Estados Unidos"> Estados Unidos</Option>
              </Select>
            </FormItem>
          </Col></Row
        >
      </Form>
    </template>

    <template v-if="current === 2">
      <!-- Antecedentes Fisiologicos -->
      <Form>
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="¿Tiene hijos actualmente?">
              <RadioGroup v-model="tienehijos">
                <Radio label="Si">Si</Radio>
                <Radio label="No">No</Radio>
              </RadioGroup>
            </FormItem>
            <div v-if="tienehijos === 'Si' && sexo === 'femenino'">
              <FormItem class="negrita" label="Prenatal">
                <Tooltip
                  max-width="120"
                  content="Colocar una breve descripcion de su estado prenatal"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <Input
                  v-model="prenatal"
                  type="textarea"
                  placeholder="Prenatal"
                >
                </Input>
              </FormItem>
              <FormItem class="negrita" label="Natal">
                <Tooltip
                  max-width="210"
                  content="Colocar una breve descripcion de su estado natal"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <Input
                  v-model="natal"
                  type="textarea"
                  placeholder="Natal"
                ></Input>
              </FormItem>
              <FormItem class="negrita" label="Parto">
                <Tooltip
                  max-width="210"
                  content="Colocar una breve descripcion del parto"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />

                <Select v-model="parto" placeholder="Parto">
                  <Option value="Natural"> Natural</Option>
                  <Option value="Vaginal"> Vaginal</Option>
                  <Option value="Cesarea"> Cesarea</Option>
                </Select>
              </FormItem>
              <FormItem class="negrita" label="Atendido en:">
                <Tooltip
                  max-width="210"
                  content="Colocar el lugar donde fue atendido en el parto"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <Input
                  v-model="atendidoen"
                  :rows="1"
                  type="textarea"
                  placeholder="Atendido en"
                ></Input>
              </FormItem>
              <FormItem class="negrita" label="Lactancia materna:">
                <Tooltip
                  max-width="120"
                  content="Colocar el tipo de lactancia materna que brinda a su hijo. Exlusiva: Solo leche materna. Predominante: Leche materna con agua u otros líquidos. Complementaria: Leche materna con sólido o purés. Parcial: Niños que reciben leche materna y otros alimentos, incluyendo otros tipos de leche"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />

                <Select v-model="lactanciaMat" placeholder="Lactancia materna">
                  <Option value="Exclusiva"> Exclusiva</Option>
                  <Option value="Predominante"> Predominante</Option>
                  <Option value="Complementaria"> Complementaria</Option>
                  <Option value="Parcial"> Parcial</Option>
                </Select>
              </FormItem>

              <FormItem class="negrita" label="Ablactancia">
                <Tooltip
                  max-width="120"
                  content="Colocar desde cuando se dejó de dar lactancia al niño, es decir, el periodo donde se le otorga alimentos sólidos y líquidos"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <Input
                  v-model="ablactancia"
                  type="textarea"
                  placeholder="Ablactancia"
                ></Input>
              </FormItem>
              <FormItem class="negrita" label=" Gestación: ">
                <Tooltip
                  max-width="120"
                  content="Colocar detalle durante el periodo de gestación"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <Input
                  v-model="gestacion"
                  type="textarea"
                  placeholder=" Gestación:"
                ></Input>
              </FormItem>
              <FormItem class="negrita" label="Último parto:  ">
                <Tooltip
                  max-width="120"
                  content="Colocar la fecha del último parto que ha tenido el paciente"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <Row>
                  <Col span="6">
                    <RadioGroup v-model="noultimoparto" vertical>
                      <Radio class="nonegrita" label="Si">Si Aplica</Radio>
                      <Radio class="nonegrita" label="No">No Aplica</Radio>
                    </RadioGroup>
                  </Col>
                  <Col span="15">
                    <DatePicker
                      v-model="ultimoparto"
                      format="dd/MM/yyyy"
                      type="datetime"
                      placeholder="Fecha del último parto"
                      style="width: 250px"
                    ></DatePicker>
                  </Col>
                </Row>
              </FormItem>
            </div>
            <div v-if="tienehijos === 'No' || sexo === 'masculino'">
              <FormItem class="negrita" label="Prenatal">
                <Tooltip
                  max-width="120"
                  content="Colocar una breve descripcion de su estado prenatal"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <Input
                  v-model="prenatal"
                  type="textarea"
                  placeholder="Prenatal"
                  disabled
                >
                </Input>
              </FormItem>
              <FormItem class="negrita" label="Natal">
                <Tooltip
                  max-width="210"
                  content="Colocar una breve descripcion de su estado natal"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <Input
                  v-model="natal"
                  type="textarea"
                  placeholder="Natal"
                  disabled
                ></Input>
              </FormItem>
              <FormItem class="negrita" label="Parto">
                <Tooltip
                  max-width="210"
                  content="Colocar una breve descripcion del parto"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />

                <Select v-model="parto" placeholder="Parto" disabled>
                  <Option value="Natural"> Natural</Option>
                  <Option value="Vaginal"> Vaginal</Option>
                  <Option value="Cesarea"> Cesarea</Option>
                </Select>
              </FormItem>
              <FormItem class="negrita" label="Atendido en:">
                <Tooltip
                  max-width="210"
                  content="Colocar el lugar donde fue atendido en el parto"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <Input
                  v-model="atendidoen"
                  :rows="1"
                  type="textarea"
                  placeholder="Atendido en"
                  disabled
                ></Input>
              </FormItem>
              <FormItem class="negrita" label="Lactancia materna:">
                <Tooltip
                  max-width="120"
                  content="Colocar el tipo de lactancia materna que brinda a su hijo. Exlusiva: Solo leche materna. Predominante: Leche materna con agua u otros líquidos. Complementaria: Leche materna con sólido o purés. Parcial: Niños que reciben leche materna y otros alimentos, incluyendo otros tipos de leche"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />

                <Select
                  v-model="lactanciaMat"
                  placeholder="Lactancia materna"
                  disabled
                >
                  <Option value="Exclusiva"> Exclusiva</Option>
                  <Option value="Predominante"> Predominante</Option>
                  <Option value="Complementaria"> Complementaria</Option>
                  <Option value="Parcial"> Parcial</Option>
                </Select>
              </FormItem>

              <FormItem class="negrita" label="Ablactancia">
                <Tooltip
                  max-width="120"
                  content="Colocar desde cuando se dejó de dar lactancia al niño, es decir, el periodo donde se le otorga alimentos sólidos y líquidos"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <Input
                  v-model="ablactancia"
                  type="textarea"
                  placeholder="Ablactancia"
                  disabled
                ></Input>
              </FormItem>
              <FormItem class="negrita" label=" Gestación: ">
                <Tooltip
                  max-width="120"
                  content="Colocar detalle durante el periodo de gestación"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <Input
                  v-model="gestacion"
                  type="textarea"
                  placeholder=" Gestación:"
                  disabled
                ></Input>
              </FormItem>
              <FormItem class="negrita" label="Último parto:  ">
                <Tooltip
                  max-width="120"
                  content="Colocar la fecha del último parto que ha tenido el paciente"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <Row>
                  <Col span="6">
                    <RadioGroup v-model="noultimoparto" vertical disabled>
                      <Radio class="nonegrita" label="Si" disabled
                        >Si Aplica</Radio
                      >
                      <Radio class="nonegrita" label="No" disabled
                        >No Aplica</Radio
                      >
                    </RadioGroup>
                  </Col>
                  <Col span="15">
                    <DatePicker
                      v-model="ultimoparto"
                      format="dd/MM/yyyy"
                      type="datetime"
                      placeholder="Fecha del último parto"
                      style="width: 250px"
                      disabled
                    ></DatePicker>
                  </Col>
                </Row>
              </FormItem>
            </div>
          </Col>
          <Col span="12" style="padding-right:30px">
            <div v-if="sexo === 'femenino'">
              <FormItem class="negrita" label="Menarquia: ">
                <Tooltip
                  max-width="120"
                  content="Colocar a qué edad tuvo su primera menstruación"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <InputNumber
                  v-model="Menarquia"
                  placeholder="Menarquia"
                  type="number"
                  style="width: 60px"
                  required
                />

                años
              </FormItem>
              <FormItem
                class="negrita"
                label="Régimen catamenial:"
                style="padding-right:30px"
              >
                <Tooltip
                  max-width="120"
                  content="Cada cuántos días ocurre su periodo de mestruación (colocar la desviación a la derecha)"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <Row>
                  <Col span="6">
                    <InputNumber
                      :max="10"
                      :min="1"
                      v-model="regimencatamenal"
                    />
                  </Col>
                  <Col span="2"> <b class="steps"> + / -</b></Col>
                  <!-- <b>/</b> -->
                  <Col span="5">
                    <InputNumber :max="10" :min="1" v-model="desviacion" />
                  </Col>
                </Row>
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Días &nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Desviación
              </FormItem>
            </div>
            <div v-if="sexo === 'masculino'">
              <FormItem class="negrita" label="Menarquia: ">
                <Tooltip
                  max-width="120"
                  content="Colocar a qué edad tuvo su primera menstruación"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <br />
                <InputNumber
                  v-model="Menarquia"
                  placeholder="Menarquia"
                  type="number"
                  style="width: 60px"
                  required
                  disabled
                />

                años
              </FormItem>
              <FormItem
                class="negrita"
                label="Régimen catamenial:"
                style="padding-right:30px"
              >
                <Tooltip
                  max-width="120"
                  content="Cada cuántos días ocurre su periodo de mestruación (colocar la desviación a la derecha)"
                >
                  <Icon type="md-help-circle" size="18" />
                </Tooltip>
                <Row>
                  <Col span="6">
                    <InputNumber
                      :max="10"
                      :min="1"
                      v-model="regimencatamenal"
                      disabled
                    />
                  </Col>
                  <Col span="2"> <b class="steps"> + / -</b></Col>
                  <!-- <b>/</b> -->
                  <Col span="5">
                    <InputNumber
                      :max="10"
                      :min="1"
                      v-model="desviacion"
                      disabled
                    />
                  </Col>
                </Row>
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Días &nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Desviación
              </FormItem>
            </div>
            <FormItem class="negrita" label=" Inicio relaciones sexuales: ">
              <Tooltip
                max-width="120"
                content="Si aplica, colocar la fecha de inicio de la relación sexual, de lo contrario, colocar No aplica"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br />
              <Row>
                <Col span="6">
                  <RadioGroup v-model="inicioRelaSex" vertical>
                    <Radio class="nonegrita" label="Si">Si Aplica</Radio>
                    <Radio class="nonegrita" label="No">No Aplica</Radio>
                  </RadioGroup>
                </Col>
                <Col span="15">
                  <DatePicker
                    v-model="inicioRelaSex"
                    format="dd/MM/yyyy"
                    type="datetime"
                    placeholder="Fecha de la última relación sexual"
                    style="width: 250px"
                  ></DatePicker>
                </Col>
              </Row>
            </FormItem>
            <FormItem class="negrita" label=" Uso anticonceptivos: ">
              <Tooltip
                max-width="120"
                content="Colocar si hace uso de métodos anticonceptivos"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br />
              <AutoComplete
                v-model="usoanticonceptivo"
                :data="dataanticonceptivos"
                :filter-method="filterMethod"
                placeholder="Coloque aquí los metodos anticonceptivos utilizados"
                style="width:300px"
              >
              </AutoComplete>
              <!-- <Input type="textarea" placeholder="Uso anticonceptivos:"></Input> -->
            </FormItem>
            <FormItem class="negrita" label="Desarrollo psicomotriz:  ">
              <Tooltip
                max-width="120"
                content="Colocar si ha ocurrido alguna dificultad en el desarrollo o habilidades propias cuando era pequeño"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br />
              <Select
                v-model="desarrollopsicomotriz"
                placeholder="Desarrollo psicomotriz"
              >
                <Option value="Habla"> Habla</Option>
                <Option value="Deambulacion"> Deambulación</Option>
                <Option value="Controlesfinter"> Control Esfinter</Option>
                <Option value="Otros"> Otros</Option>
              </Select>
            </FormItem>

            <FormItem class="negrita" label=" Inmunizaciones ">
              <Tooltip
                max-width="120"
                content="Colocar las inmunizaciones que ha padecido el paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br />
              <AutoComplete
                v-model="inmunizaciones"
                :data="datainmunizaciones"
                :filter-method="filterMethod"
                placeholder="Inmunizaciones"
                style="width:300px"
              >
              </AutoComplete>
            </FormItem>
          </Col>
        </Row>
      </Form>
    </template>
    <template v-if="current === 3">
      <Form>
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Enfermedades de la infancia">
              <Tooltip
                max-width="120"
                content="Colocar la enfermedad que haya tenido el paciente en la infancia"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br /><Input
                v-model="enfinfancia"
                type="textarea"
                placeholder="Enfermedades de la infancia"
              >
              </Input>
            </FormItem>
            <FormItem class="negrita" label="Enfermedades Hereditarias">
              <Tooltip
                max-width="120"
                content="Colocar las enfermedades hereditarias que haya tenido el paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br /><Input
                v-model="enfhereditarias"
                type="text"
                placeholder="Enfermedades Hereditarias"
              ></Input>
            </FormItem>

            <FormItem class="negrita" label="Antecedentes clinicos">
              <Tooltip
                max-width="120"
                content="Colocar antecedentes clinicos del paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br /><Input
                v-model="antecedentesClinicos"
                type="text"
                placeholder="Antecedentes clinicos"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Enfermedades infectocontagiosas">
              <Tooltip
                max-width="120"
                content="Colocar las enfermedades que haya padecido el paciente de forma contagiosa"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br /><Input
                v-model="infectocontagiosas"
                type="text"
                placeholder="Enfermedades infectocontagiosas"
              ></Input>
            </FormItem>

            <FormItem class="negrita" label="Alergias">
              <Tooltip
                max-width="120"
                content="Colocar las alergias que padece el paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br /><Input
                v-model="alergias"
                type="text"
                placeholder="Alergias"
              ></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Antecedentes quirurgicos">
              <Tooltip
                max-width="120"
                content="Colocar antecedentes quirurgicos que haya realizado el paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br /><Input
                v-model="antecedentesQuirurgicos"
                type="text"
                placeholder="Antecedentes quirurgicos"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Enfermedades ginecológicas">
              <Tooltip
                max-width="120"
                content="Colocar las enfermedades ginecologicas que haya padecido el paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br /><Input
                v-model="ginecologicas"
                type="text"
                placeholder="Enfermedades ginecológicas"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Transfusiones">
              <Tooltip
                max-width="120"
                content="Colocar las transfusiones que tiene el paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br /><Input
                v-model="transfusiones"
                type="text"
                placeholder="Transfusiones"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Hábitos nocivos">
              <Tooltip
                max-width="120"
                content="Colocar los hábitos nocivos que padece el paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br /><Input
                v-model="habitosNocivos"
                type="text"
                placeholder="Habitos nocivos"
              ></Input>
            </FormItem>
          </Col>
        </Row>
      </Form>
    </template>
    <template v-if="current === 4">
      <Row type="flex" justify="center">
        <Button @click="modal1 = true" type="primary"
          >Agregar Antecentes Familiares
        </Button>
      </Row>
      <br /><br />
      <div>
        <Modal
          v-model="modal1"
          @on-ok="agregar"
          @on-cancel="Cancelar"
          draggable="false"
          ok-text="Agregar"
          cancel-text="Cancelar"
          title="Completar los siguientes datos"
        >
          <template>
            <Form :label-width="100" label-position="left">
              <div>
                <FormItem label="Familiar">
                  <Select v-model="familiar" placeholder="Madre">
                    <Option value="Madre"> Madre</Option>
                    <Option value="Padre"> Padre</Option>
                    <Option value="Abuelo(a)"> Abuelo(a)</Option>
                  </Select>
                </FormItem>
              </div>
              <div>
                <FormItem label="¿Vive actualmente?">
                  <RadioGroup v-model="vive">
                    <Radio class="nonegrita" label="SI">SI</Radio>
                    <Radio class="nonegrita" label="NO">NO</Radio>
                  </RadioGroup>
                </FormItem>
              </div>
              <div>
                <FormItem label="Edad">
                  <InputNumber :max="10" :min="1" v-model="edad" />
                </FormItem>
              </div>

              <div>
                <FormItem label="Enfermedad o causa de desfunción">
                  <Input
                    :disabled="vive === 'SI'"
                    v-model="observacion"
                    :value="observacion"
                    placeholder="Describir la enfermedad o causa de desfunción"
                    type="textarea"
                    width="300px"
                  />
                </FormItem>
              </div>
            </Form>
          </template>
        </Modal>
      </div>
      <template>
        <Table :columns="columns1" :data="data1" border></Table>
        <br /><br />
      </template>
    </template>
    <br />
    <Row type="flex" justify="end">
      <Col>
        <Button :disabled="current === 0" @click="anteriorpag" type="warning">
          Volver
        </Button>
        <template v-if="current < 4">
          <Button @click="siguientepag" type="success">
            Guardar y continuar
          </Button>
        </template>
        <template v-if="current === 4">
          <Button @click.native="registrarFil" type="success">
            Guardar
          </Button>
        </template>
      </Col>
    </Row>
  </div>
</template>

<style scoped>
.pdouble {
  border-style: double;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
.imagenenf {
  /* max-width: 50%;
  padding: 10px 0; */
  max-height: 200px;
  max-width: 200px;
  position: absolute;
  right: 30px;
  top: 80px;
}
.demo-tabs-style1 > .ivu-tabs-card > .ivu-tabs-content {
  height: 120px;
  margin-top: -16px;
}

.demo-tabs-style1 > .ivu-tabs-card > .ivu-tabs-content > .ivu-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.demo-tabs-style1 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
  border-color: transparent;
}

.demo-tabs-style1 > .ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
  border-color: #fff;
}
.demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
  border-radius: 0;
  background: #fff;
}
.demo-tabs-style2
  > .ivu-tabs.ivu-tabs-card
  > .ivu-tabs-bar
  .ivu-tabs-tab-active {
  border-top: 1px solid #3399ff;
}
.demo-tabs-style2
  > .ivu-tabs.ivu-tabs-card
  > .ivu-tabs-bar
  .ivu-tabs-tab-active:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #3399ff;
  position: absolute;
  top: 0;
  left: 0;
}
</style>

<script>
import axios from 'axios'
// import moment from 'moment'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      observacion: '',
      edad: null,
      familiar: '',
      vive: 'SI',
      tienehijos: 'Si',
      dataanticonceptivos: [
        'Implante anticonceptivo',
        'DIU',
        'Condón',
        'Condón Interno',
        'Diafragma'
      ],
      datainmunizaciones: [
        'BCG',
        'Polio',
        'DPT',
        'Sarampión',
        'Hepatitis',
        'Haemophilus',
        'Varicela',
        'Influenza',
        'Neumococo',
        'Otros'
      ],

      dniAcom: null,
      nomAcomp: null,
      apePAcomp: null,
      apeMAcomp: null,
      parAcomp: null,
      current: 0,
      select3: 'day',
      doctipo: null,
      docdni: null,
      nombre: null,
      apellido: null,
      apellidoMat: null,
      apellidoPat: null,
      domicilioProcedencia: null,
      domicilioactual: null,
      auxfecnac: null,
      fecnac: null,
      sexo: 'femenino',
      numseguro: 0,
      tiposeg: null,
      seguro: null,
      gradoins: null,
      ocupacion: null,
      tipgrupossa: null,
      tipfactorRH: null,
      peso: 0,
      talla: 0,
      modal1: false,
      estadocivil: null,
      lugarnac: null,
      religion: null,
      // provincia: 'Lima',
      distrito: 'Santiago de Surco',
      nombreEnfermedad: null,
      tiempoEnfermedad: null,
      signosysintPrincipales: null,
      relatocronologico: null,
      funcionesBiologicas: null,
      material: null,
      numPersonas: 0,
      numHabitaciones: 0,
      ocupacionActual: null,
      ocupacionAnt: null,
      condicionsocioecon: null,
      crianzaAnimales: null,
      viajesRecientes: null,
      prenatal: null,
      parto: null,
      inmunizaciones: '',
      atendidoen: null,
      lactanciaMat: null,
      ablactancia: null,
      desarrollopsicomotriz: null,
      menarquia: 0,
      inicioRelaSex: null,
      regimencatamenal: null,
      usoanticonceptivo: '',
      ultimoparto: null,
      enfinfancia: null,
      enfhereditarias: null,
      antecedentesClinicos: null,
      infectocontagiosas: null,
      alergias: null,
      antecedentesQuirurgicos: null,
      transfusiones: null,
      habitosNocivos: null,
      porcCompletado: 0,
      activeTab: '1',
      gestacion: null,
      cancelarForm: false,
      dropdownOpen: false,
      splitButtonOpen: false,
      tipFecha: 'dia',
      nombrep: null,
      apeP: null,
      apeM: null,
      telefono: null,
      datafechanac: null,
      columns1: [
        {
          title: 'Familiar',
          key: 'familiar',
          align: 'center'
        },
        {
          title: 'Vive',
          key: 'vive',
          align: 'center'
        },
        { title: 'Edad', key: 'edad', align: 'center' },
        {
          title: 'Enfermedad 0 causa de defunción',
          key: 'enfermedad',
          align: 'center'
        }
      ],
      data1: [
        {
          familiar: 'Madre',
          vive: 'SI',
          edad: 55,
          enfermedad: 'Diabetes'
        }
      ]
    }
  },
  mounted() {
    this.obtenerFil()
  },
  methods: {
    agregar() {
      console.log('FAM:', this.familiar)
      const aux = {}
      aux.familiar = this.familiar
      aux.vive = this.vive
      aux.edad = this.edad
      aux.enfermedad = this.observacion ? this.observacion : '-'
      this.data1.push(aux)
    },
    filterMethod(value, option) {
      return option.toUpperCase().includes(value.toUpperCase())
    },
    success() {
      this.$Message.success({
        content: 'Se guardó correctamente',
        duration: 3,
        background: 'true'
      })
    },
    siguientepag() {
      if (this.current < 4) this.current++
    },
    anteriorpag() {
      if (this.current > 0) this.current--
    },
    obtenerFil() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api
        .get('api/formatos/601309644410f62ad262e964', { headers })
        .then((response) => {
          const data = response.data
          this.docdni = data.basicos.dni
          this.apellidoPat = data.basicos.apellidoPaterno
          this.apellidoMat = data.basicos.apellidoMaterno
          this.apellido =
            data.basicos.apellidoPaterno + ' ' + data.basicos.apellidoMaterno
          this.nombre = data.basicos.nombres
          localStorage.setItem('dnip', data.basicos.dni)
          localStorage.setItem('nombrep', data.basicos.nombres)
          localStorage.setItem('apeP', data.basicos.apellidoPaterno)
          localStorage.setItem('apeM', data.basicos.apellidoMaterno)
          const auxsexo = data.basicos.genero === 1 ? 'femenino' : 'masculino'
          this.sexo = auxsexo
          this.datafechanac = new Date(data.basicos.nacimiento.fecha)
          const auxfechanacimiento = new Date(data.basicos.nacimiento.fecha)
          this.fecnac =
            auxfechanacimiento.getDate() +
            '/' +
            0 +
            (auxfechanacimiento.getMonth() + 1) +
            '/' +
            auxfechanacimiento.getFullYear()

          this.tipgrupossa = data.basicos.sangre.grupoSanguineo
          this.tipfactorRH = data.basicos.sangre.factorRh === 'true' ? '+' : '-'
          this.estadocivil = data.basicos.estadoCivil
          this.gradoins = data.basicos.gradoInstruccion
          this.ocupacion = data.basicos.ocupacion
          this.religion = data.basicos.religion
          this.domicilioactual = data.comunicacion.domicilio
          this.domicilioProcedencia = data.basicos.procedencia.direccion
          this.telefono = data.comunicacion.telefono
          this.seguro = data.seguro.tipo === '' ? 'no' : 'si'
          this.tiposeg = data.seguro.tipo
          this.numseguro = data.seguro.numero
          this.dniAcom = data.seguro.acompanante.dni
          this.nomAcomp = data.seguro.acompanante.nombres
          this.apePAcomp = data.seguro.acompanante.apellidoPaterno
          this.apeMAcomp = data.seguro.acompanante.apellidoMaterno
          this.parAcomp = data.seguro.acompanante.parentesco

          this.lugarnac = data.basicos.nacimiento.lugar.direccion
          // this.distrito
          this.gradoInstruccion = data.basicos.gradoInstruccion
          this.material = data.generales.vivienda.material
          this.numPersonas = data.generales.vivienda.personas
          this.numHabitaciones = data.generales.vivienda.habitaciones
          this.ocupacionActual = data.generales.ocupacionActual
          this.ocupacionAnt = data.generales.ocupacionAnterior
          this.condicionsocioecon = data.generales.condicionSEc
          this.crianzaAnimales = data.generales.crianzaAnimales
          // this.viajesRecientes=data.generales.viajesRecientes
        })
    },

    registrarFil() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api.put(
        'api/formatos/filiacion/601309644410f62ad262e964',

        { headers }
      )
    }
    // 5ef176bcdd26bf5a129223db
    // registrarFil() {
    //   const headers = {
    //     'Content-Type': 'application/json',
    //     Authorization: localStorage.getItem('token')
    //   }
    //   api
    //     .put(
    //       'api/formatos/filiacion/601309644410f62ad262e964',

    //       {
    //         basicos: {
    //           dni: this.docdni,
    //           apellidoPaterno: this.apellidoPat,
    //           apellidoMaterno: this.apellidoMat,
    //           nombres: this.nombre,
    //           genero: 0,
    //           nacimiento: {
    //             fecha: this.datafechanac,
    //             lugar: {
    //               direccion: this.lugarnac,
    //               distrito: 0
    //             }
    //           },
    //           sangre: {
    //             grupoSanguineo: this.tipgrupossa,
    //             factorRh: this.tipfactorRH
    //           },
    //           procedencia: {
    //             direccion: this.domicilioProcedencia,
    //             distrito: 0
    //           },
    //           gradoInstruccion: this.gradoins,
    //           estadoCivil: this.estadocivil,
    //           ocupacion: this.ocupacion,
    //           religion: this.religion
    //         },
    //         comunicacion: {
    //           domicilio: this.domicilioactual,
    //           telefono: this.telefono
    //         },
    //         seguro: {
    //           tipo: this.tiposeg,
    //           numero: this.numseguro,
    //           acompanante: {
    //             dni: this.dniAcom,
    //             nombreCompleto:
    //               this.nomAcomp + ' ' + this.apePAcomp + '' + this.apellidoMat,
    //             parentesco: this.parAcomp
    //           }
    //         },
    //         generales: {
    //           vivienda: {
    //             material: this.material,
    //             personas: this.numPersonas,
    //             habitaciones: this.numHabitaciones
    //           },
    //           crianzaAnimales: this.crianzaAnimales,
    //           condicionSEc: this.condicionsocioecon,
    //           ocupacionActual: this.ocupacionActual,
    //           ocupacionAnterior: this.ocupacionAnt,
    //           viajesAnteriores: this.viajesAnteriores
    //         },
    //         personales: {
    //           prenatal: this.prenatal,
    //           natal: this.natal,
    //           parto: this.parto,
    //           atendidoEn: this.atendidoen,
    //           lactanciaMaterna: this.lactanciaMat,
    //           ablactancia: this.ablactancia,
    //           desarrolloPsicomotriz: this.desarrollopsicomotriz,
    //           menarquia: this.menarquia,
    //           inicioRSX: null,
    //           regimenCatamenal: this.regimencatamenal,
    //           gestacion: this.gestacion,
    //           usoAntiConcep: this.usoanticonceptivo,
    //           // ultimoParto: this.ultimoparto,
    //           ultimoParto: null,
    //           inmunizaciones: this.inmunizaciones
    //         },
    //         patologicos: {
    //           infancia: this.enfinfancia,
    //           hereditarias: this.enfhereditarias,
    //           antecedentesClinicos: this.antecedentesClinicos,
    //           infectocontagiosas: this.infectocontagiosas,
    //           alergias: this.alergias,
    //           antecedentesQuirurgicos: this.antecedentesQuirurgicos,
    //           ginecologicas: this.ginecologicas,
    //           transfusiones: this.transfusiones,
    //           habitosNocivos: this.habitosNocivos
    //         },
    //         familiares: [
    //           {
    //             parentesco: 'Padre',
    //             edad: 51,
    //             vive: false,
    //             causaMuerte: 'Cirrosis'
    //           },
    //           {
    //             parentesco: 'Madre',
    //             edad: 49,
    //             vive: true
    //           }
    //         ]
    //       },
    //       { headers }
    //     )
    //     .then((response) => {
    //       const data = response.data
    //       return data
    //     })
    //   this.$Message.info({
    //     render: (h) => {
    //       return h('success', ['Se ha guardado correctamente'])
    //     }
    //   })
    //   this.$router.push('/perfil')
    // }
    // registrarFil() {
    //   const resultado = this.sexo === 'femenino' ? 1 : 0
    //   axios.post('http://localhost:8081/api/formatos/filiacion', {
    //     id: 7,
    //     documento: {
    //       tipo: 'DNI',
    //       numero: this.docdni
    //     },
    //     nombres: this.nombre,
    //     apellidos: this.apellido,
    //     fechaNacimiento: this.fecnac,
    //     sexo: resultado,
    //     tipoSangre: {
    //       grupoSanguineo: this.tipgruposa,
    //       factorRh: this.tipfactorRH
    //     },
    //     peso: 85.0,
    //     talla: 1.83
    //   })

    //   this.$Message.info({
    //     render: (h) => {
    //       return h('success', ['Se ha guardado correctamente'])
    //     }
    //   })
    // }

    // Date hoy= new Date(),
    // hoyString() {
    //   hoy.getDate() + '/' + (hoy.getMonth() + 1) + '/' + hoy.getFullYear()
    // }
  }
}
</script>
