<template>
  <div>
    <Form>
      <div>
        <h1 class="steps">Notas de Obstetricia</h1>
        <div style="text-align:right">
          <img class="imagenenf" src="@/assets/imagen/obstetra.png" />
        </div>
        <template>
          <Tabs :value="tabActual" type="card">
            <TabPane label="Notas de Ingreso" name="1">
              Paciente: Katherine Ruiz
              <p>Edad:22; FechaHora: {{ fechaHoraActual }}</p>

              <!-- <h4><b>Notas de Ingreso: </b></h4> -->

              <div>
                <b>
                  <!-- Fecha: {{ this.state.fechahoy }} &nbsp;&nbsp;&nbsp;&nbsp; Hora:
            {this.state.horahoy} -->
                </b>
              </div>
              <p></p>
              <FormItem class="negrita" label="Forma de Ingreso">
                <Input
                  v-model="formaIng"
                  type="textarea"
                  placeholder="Forma de Ingreso"
                ></Input>
              </FormItem>
              <Text>
                <b
                  >A continuación, describa los siguientes items sobre la
                  condición del paciente:
                </b>
              </Text>
              <FormItem class="negrita" label="Funciones vitales">
                <Input
                  v-model="funcionesV"
                  type="textarea"
                  placeholder="Funciones vitales"
                ></Input>
              </FormItem>
              <FormItem class="negrita" label="Funciones biológicas">
                <Input
                  v-model="funcionesBio"
                  type="textarea"
                  placeholder="Funciones biológicas"
                ></Input>
              </FormItem>
              <FormItem class="negrita" label="Estado General">
                <Input
                  v-model="estadoG"
                  type="textarea"
                  placeholder="Estado General"
                ></Input>
              </FormItem>

              <Row type="flex" justify="end" gutter="14">
                <Col>
                  <Button type="warning">
                    Editar
                  </Button>
                </Col>
                <Col>
                  <Button @click.native="registrarNObs" block type="success">
                    Guardar y Continuar
                  </Button>
                </Col>
              </Row>
            </TabPane>
            <TabPane label="Evolución" name="2">
              <div>
                <Row type="flex" justify="center">
                  <Col>
                    <Button
                      @click="agregarFamiliar"
                      type="dashed"
                      icon="md-add"
                    >
                      Agregar Nota
                    </Button>
                  </Col>
                </Row>
                <template v-for="familiar in familiares">
                  <Form :key="familiar.key">
                    <FormItem>
                      <!-- <b> -->
                      Fecha y hora del registro: {{ fechaHoraActual }}
                      <!-- la hora debe ser estatica una vez que se quiera tomar
                          otro -->
                      <!-- </b> -->
                      <FormItem class="negrita" label="Signos y síntomas">
                        <Input
                          v-model="sintomas"
                          type="textarea"
                          placeholder="Detalle los signos y sintomas que padece el paciente"
                        />
                      </FormItem>

                      <FormItem class="negrita" label="Tratamiento aplicado">
                        <Input
                          v-model="tratamiento"
                          type="textarea"
                          placeholder="Coloque el tratamiento aplicado"
                        />
                      </FormItem>
                      <Row type="flex" justify="end">
                        <Col>
                          <Button
                            @click.native="registrarNObsEv"
                            type="success"
                          >
                            Guardar
                          </Button>
                        </Col>
                      </Row>
                    </FormItem>
                  </Form>
                </template>
              </div>
            </TabPane>
          </Tabs>
        </template>
      </div>
    </Form>
  </div>
</template>

<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}

.imagenenf {
  /* max-width: 50%;
  padding: 10px 0; */
  max-height: 200px;

  max-width: 200px;
  position: absolute;

  right: 30px;

  top: 80px;
}
</style>

<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      familiares: [],
      fechaHoraActual: '',
      tabActual: '1',
      current: 0,
      lstGenero: [
        {
          value: 'Femenino',
          label: 'Femenino'
        },
        {
          value: 'Masculino',
          label: 'Masculino'
        }
      ],

      model1: '',
      formaIng: null,
      funcionesV: null,
      funcionesBio: null,
      estadoG: null,
      sintomas: null,
      tratamiento: null
    }
  },
  mounted() {
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
    if (this.familiares.length === 0) {
      this.agregarFamiliar()
    }
  },
  methods: {
    registrarNObsEv() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return (
        api
          .put(
            '/api/formatos/nota-obstetricia/5f13439c7cb5da3cec9df426/evolucion',
            {
              sintomas: this.sintomas,
              tratamiento: this.tratamiento
            },
            {
              headers
            }
          )
          .then((response) => {
            const data = response.data
            return data
          }),
        this.siguientepag()
      )
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    registrarNObs() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return (
        api
          .post(
            'api/formatos/nota-obstetricia',
            {
              paciente: 72573563,
              ipress: 5946,
              notaIngreso: {
                formaIngreso: this.formaIng,
                funcionesVitales: this.funcionesV,
                funcionesBiologicas: this.funcionesBio,
                estadoGeneral: this.estadoG
              }
            },
            {
              headers
            }
          )
          .then((response) => {
            const data = response.data
            return data
          }),
        this.siguientepag()
      )
    },
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    siguientepag() {
      if (this.tabActual === '1') {
        this.tabActual = '2'
      } else {
        this.tabActual = '1'
      }
    },
    duplicarpant() {
      this.index++
      this.formDynamic.items.push({
        value: '',
        index: this.index,
        status: 1
      })
    },
    agregarFamiliar() {
      this.familiares.unshift({
        key: Date.now()
      })
    }
  }
}
</script>
