<template>
  <div>
    <Steps :current="current" class="steps">
      <Step title="Pre-Anestesia" content="Descripción antes de la anestesia">
      </Step>
      <Step title="Anestesia" content="Descripción durante la anestesia">
      </Step>
      <Step
        title="Post-Anestesia"
        content="Descripción despues de la anestesia"
      >
      </Step>
    </Steps>
    Fecha: 23/08/2020 <br />
    Hora: 13:10:00
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Direccion:
            </span>
          </div>
          <div>
            <span class="datos">
              Dona delmira 365, dpto 203B
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Localidad:
            </span>
          </div>
          <div>
            <span class="datos">
              Surco
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Departamento:
            </span>
          </div>
          <div>
            <span class="datos">
              Lima
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Provincia:
            </span>
          </div>
          <div>
            <span class="datos">
              Lima
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Distrito:
            </span>
          </div>
          <div>
            <span class="datos">
              Surco
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Telefono:
            </span>
          </div>
          <div>
            <span class="datos">
              956738979
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Ocupacion:
            </span>
          </div>
          <div>
            <span class="datos">
              Ingenieria
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Estudios:
            </span>
          </div>
          <div>
            <span class="datos">
              Primaria
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Estado civil:
            </span>
          </div>
          <div>
            <span class="datos">
              Soltero
            </span>
          </div>
        </div>
      </div>
    </div>
    <template v-if="current === 0">
      <Form>
        <Divider class="negrita" orientation="left" size="small">
          Antecedentes clinicos</Divider
        >

        <Button @click="modalAntecedentes = true">Ver Antecedentes</Button>
        <Modal
          :mask="false"
          v-model="modalAntecedentes"
          draggable
          sticky
          scrollable
          title="Antecedentes clinicos"
        >
          <div class="contenedor-datosModal">
            <div
              class="fila-datos"
              style="margin-bottom:40px;justify-content:space-between"
            >
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Infancia:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !antecedentes
                      ? ''
                      : antecedentes.infancia
                      ? antecedentes.infancia
                      : 'No Figura'
                  }}
                </span>
              </div>
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Hereditarias:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !antecedentes
                      ? ''
                      : antecedentes.hereditarias
                      ? antecedentes.hereditarias
                      : 'No Figura'
                  }}
                </span>
              </div>
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Antecedentes Clinicos:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !antecedentes
                      ? ''
                      : antecedentes.antecedentesClinicos
                      ? antecedentes.antecedentesClinicos
                      : 'No Figura'
                  }}
                </span>
              </div>
            </div>
            <div
              class="fila-datos"
              style="margin-bottom:40px;justify-content:space-between"
            >
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Infecciones Contagiosas:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !antecedentes
                      ? ''
                      : antecedentes.infectocontagiosas
                      ? antecedentes.infectocontagiosas
                      : 'No Figura'
                  }}
                </span>
              </div>
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Alergias:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !antecedentes
                      ? ''
                      : antecedentes.alergias
                      ? antecedentes.alergias
                      : 'No Figura'
                  }}
                </span>
              </div>
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Ginecologicas:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !antecedentes
                      ? ''
                      : antecedentes.ginecologicas
                      ? antecedentes.ginecologicas
                      : 'No Figura'
                  }}
                </span>
              </div>
            </div>
            <div class="fila-datos" style="justify-content:space-between">
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Transfusiones:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !antecedentes
                      ? ''
                      : antecedentes.transfusiones
                      ? antecedentes.transfusiones
                      : 'No Figura'
                  }}
                </span>
              </div>
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Hábitos nocivos:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !antecedentes
                      ? ''
                      : antecedentes.habitosNocivos
                      ? antecedentes.habitosNocivos
                      : 'No Figura'
                  }}
                </span>
              </div>
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Antecedentes Quirurgicos:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !antecedentes
                      ? ''
                      : antecedentes.antecedentesQuirurgicos
                      ? antecedentes.antecedentesQuirurgicos
                      : 'No Figura'
                  }}
                </span>
              </div>
            </div>
          </div>
          <div slot="footer">
            <Button
              :loading="modal_loading"
              @click="modalAntecedentes = false"
              type="success"
              size="large"
              medium
              >Cerrar</Button
            >
          </div>
          <br />
        </Modal>
        <Button @click="modalEnfermedadAct = true"
          >Ver Enfermedad actual</Button
        >
        <Modal
          v-model="modalEnfermedadAct"
          :mask="false"
          class-name="vertical-center-modal"
          draggable
          sticky
          scrollable
          title="Enfermedad actual"
        >
          El paciente presenta el siguiente diagnóstico:
          <Table
            :columns="columnsD"
            :data="dataD"
            style="margin:30px 10px 0 10px"
          ></Table>
          <div slot="footer">
            <Button
              :loading="modal_loading"
              @click="modalEnfermedadAct = false"
              type="success"
              size="large"
              medium
              >Cerrar</Button
            >
          </div>
          <br />
        </Modal>
        <Button @click="modalExamenes = true">Ver Examen Fisicos</Button>
        <Modal
          :mask="false"
          v-model="modalExamenes"
          draggable
          sticky
          scrollable
          title="Exámenes físicos"
        >
          <div class="contenedor-datosModal">
            <div
              class="fila-datos"
              style="margin-bottom:40px;justify-content:space-between"
            >
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Apetito:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !examenes
                      ? ''
                      : examenes.apetito
                      ? examenes.apetito
                      : 'No Figura'
                  }}
                </span>
              </div>
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Deposiciones:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !examenes
                      ? ''
                      : examenes.deposiciones
                      ? examenes.deposiciones
                      : 'No Figura'
                  }}
                </span>
              </div>
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Estado de Animo:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !examenes
                      ? ''
                      : examenes.estadoAnimo
                      ? examenes.estadoAnimo
                      : 'No Figura'
                  }}
                </span>
              </div>
            </div>
            <div
              class="fila-datos"
              style="margin-bottom:40px;justify-content:space-between"
            >
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Orina:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !examenes
                      ? ''
                      : examenes.orina
                      ? examenes.orina
                      : 'No Figura'
                  }}
                </span>
              </div>
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Sed:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !examenes ? '' : examenes.sed ? examenes.sed : 'No Figura'
                  }}
                </span>
              </div>
              <div class="columna-datos">
                <span style="font-size: 12px;font-weight:700">
                  Sueño:
                </span>
                <span style="font-size: 14px;text-align:left">
                  {{
                    !examenes
                      ? ''
                      : examenes.sueno
                      ? examenes.sueno
                      : 'No Figura'
                  }}
                </span>
              </div>
            </div>
            <span style="font-size: 12px;font-weight:700;margin-bottom:7px"
              >Triaje</span
            >
            <div v-if="examenes">
              <div class="fila-datos" style="justify-content:space-between">
                <div class="columna-datos">
                  <span style="font-size: 12px;font-weight:700">
                    Frecuencia Cardiaca:
                  </span>
                  <span style="font-size: 14px;text-align:left">
                    {{
                      !examenes.triaje
                        ? ''
                        : examenes.triaje.frecuenciaCardiaca
                        ? examenes.triaje.frecuenciaCardiaca
                        : 'No Figura'
                    }}
                  </span>
                </div>
                <div class="columna-datos">
                  <span style="font-size: 12px;font-weight:700">
                    Frecuencia Respiratoria:
                  </span>
                  <span style="font-size: 14px;text-align:left">
                    {{
                      !examenes.triaje
                        ? ''
                        : examenes.triaje.frecuenciaRespiratoria
                        ? examenes.triaje.frecuenciaRespiratoria
                        : 'No Figura'
                    }}
                  </span>
                </div>
                <div class="columna-datos">
                  <span style="font-size: 12px;font-weight:700">
                    Peso:
                  </span>
                  <span style="font-size: 14px;text-align:left">
                    {{
                      !examenes.triaje
                        ? ''
                        : examenes.triaje.peso
                        ? examenes.triaje.peso
                        : 'No Figura'
                    }}
                  </span>
                </div>
              </div>
              <div class="fila-datos" style="justify-content:space-between">
                <div class="columna-datos">
                  <span style="font-size: 12px;font-weight:700">
                    Presión Arterial:
                  </span>
                  <span style="font-size: 14px;text-align:left">
                    {{
                      !examenes.triaje
                        ? ''
                        : examenes.triaje.presionArterial
                        ? examenes.triaje.presionArterial
                        : 'No Figura'
                    }}
                  </span>
                </div>
                <div class="columna-datos">
                  <span style="font-size: 12px;font-weight:700">
                    Talla:
                  </span>
                  <span style="font-size: 14px;text-align:left">
                    {{
                      !examenes.triaje
                        ? ''
                        : examenes.triaje.talla
                        ? examenes.triaje.talla
                        : 'No Figura'
                    }}
                  </span>
                </div>
                <div class="columna-datos">
                  <span style="font-size: 12px;font-weight:700">
                    Temperatura:
                  </span>
                  <span style="font-size: 14px;text-align:left">
                    {{
                      !examenes.triaje
                        ? ''
                        : examenes.triaje.temperatura
                        ? examenes.triaje.temperatura
                        : 'No Figura'
                    }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div slot="footer">
            <Button
              :loading="modal_loading"
              @click="modalExamenes = false"
              type="success"
              size="large"
              medium
              >Cerrar</Button
            >
          </div>
          <br />
        </Modal>

        <br /><br />
        <FormItem class="negrita" label="Tipo de anestesia prevista">
          <Tooltip
            width="210"
            content="Describir el tipo de anestesia prevista"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>

          <Input
            v-model="tipo"
            style="width: 250px"
            placeholder="Tipo de anestesia prevista"
          ></Input>
        </FormItem>
        <Divider class="negrita" orientation="left" size="small">
          Riesgo anestesiológicos</Divider
        >

        <FormItem class="negrita" label="ASA">
          <Tooltip width="210" content="Colocar el número de ASA">
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <InputNumber
            :max="10"
            :min="1"
            v-model="asa"
            style="width: 100px"
          ></InputNumber>
        </FormItem>

        <FormItem class="negrita" label="Conclusiones">
          <Tooltip
            width="210"
            content="Describir el tipo de anestesia prevista"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <Input
            v-model="conclusiones"
            type="textarea"
            name="Conclusiones"
            placeholder="Conclusiones"
          ></Input>
        </FormItem>
        <Row type="flex" justify="end">
          <Col>
            <Button @click.native="registrarPREAnestesia" type="success">
              Guardar y continuar
            </Button>
          </Col>
        </Row>
      </Form>
    </template>
    <template v-if="current === 1">
      <Form>
        <Divider class="negrita" orientation="left" size="small"
          >Información registrada</Divider
        >
        <span>Diagnóstico pre-operatorio:</span>
        <span>PRE1</span> <br />
        <span>Diagnóstico post-operatorio::</span>
        <span>POST1</span> <br />
        <span>Intervención Quirúrgica: </span>
        <span>IQx1</span> <br />
        <span>Medicacion Pre-anestesica utilizada:</span>
        <span>Med Pred Utilizada 1</span> <br />
        <span>Resumen del valor Pre-operatorio: </span>
        <span
          >Se realizó una investigación de la operación con riesgo a ...</span
        >
        <br />
        <Divider class="negrita" orientation="left" size="small"
          >Información requerida</Divider
        >
        <FormItem class="negrita" label="Técnica Anestésica">
          <Tooltip width="210" content="Describir el Técnica Anestésica">
            <Icon type="md-help-circle" size="18" /> </Tooltip
          ><br />
          <Input
            v-model="tecnica"
            type="textarea"
            placeholder="Técnica Anestésica"
          ></Input>
        </FormItem>

        <FormItem class="negrita" label="Ventilación mecánica">
          <Tooltip width="210" content="Describir el Ventilación mecánica">
            <Icon type="md-help-circle" size="18" /> </Tooltip
          ><br />
          <Input
            v-model="ventilacionMecanica"
            type="textarea"
            placeholder="Ventilación mecánica"
          ></Input>
        </FormItem>

        <FormItem class="negrita" label="Indicidencias de interés">
          <Tooltip
            width="210"
            content="Describir el Indicidencias de interés en relacion con el estado vital del paciente"
          >
            <Icon type="md-help-circle" size="18" /> </Tooltip
          ><br />
          <Input
            v-model="indicaciones"
            type="textarea"
            placeholder="Indicidencias de interés"
          ></Input>
        </FormItem>

        IMAGEN MINUTADA

        <FormItem
          class="negrita"
          label="Estado clínico durante y al final de la intervención"
        >
          <Tooltip
            width="210"
            content="Describir la Estado clínico del paciente durante y al final de la intervención "
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <br />
          <Select v-model="estado" style="width: 250px">
            <Option> Seleccione el estado clínico</Option>
            <Option value="Sano"> Sano</Option>
            <Option value="Traslado"> Traslado</Option>
            <Option value="Recuperacion"> Recuperacion</Option>
            <Option value="Con Dolencias"> Con Dolencias</Option>
            <Option value="Otros"> Otros</Option>
          </Select>
        </FormItem>
        <FormItem class="negrita" label="Observaciones">
          <Tooltip width="210" content="Describir el Observaciones">
            <Icon type="md-help-circle" size="18" /> </Tooltip
          ><br />
          <Input
            v-model="observaciones"
            type="textarea"
            placeholder="Observaciones"
          ></Input>
        </FormItem>
        <Row type="flex" justify="end">
          <Col>
            <Button
              :disabled="current === 0"
              @click="anteriorpag"
              type="warning"
            >
              Volver
            </Button>

            <Button @click.native="registrarAnes" type="success">
              Guardar y continuar
            </Button>
          </Col>
        </Row>
      </Form>
    </template>
    <template v-if="current === 2">
      <Form>
        <Divider class="negrita" orientation="left" size="small"
          >Información</Divider
        >
        <span>Fecha Ingreso:</span>
        <span>12/03/2020 13:20:00</span> <br />
        <span>Fecha Egreso:</span>
        <span>12/03/2020 19:10:20</span> <br />
        <Button type="primary">Registrar Graf. Clínicas</Button><br /><br />
        <Button @click="goToEnfermeria" type="primary"
          >Revisar notas de enfermería</Button
        ><br /><br />
        <Button type="primary">Acceso a Balance Hídrico</Button><br /><br />
        <FormItem class="negrita" label="Tratamiento Aplicado">
          <Tooltip width="210" content="Describir el tratamiento aplicado">
            <Icon type="md-help-circle" size="18" /> </Tooltip
          ><br />
          <Input
            v-model="tratamiento"
            type="textarea"
            placeholder="Tratamiento Aplicado"
          ></Input>
        </FormItem>
        <FormItem class="negrita" label="Observaciones">
          <Tooltip width="210" content="Describir el Observaciones">
            <Icon type="md-help-circle" size="18" /> </Tooltip
          ><br />
          <Input
            v-model="observacionesPOST"
            type="textarea"
            placeholder="Observaciones"
          ></Input>
        </FormItem>
        <FormItem class="negrita" label="Condición de egreso">
          <Tooltip
            width="210"
            content="Describir la condición de egreso del paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <br />
          <Select v-model="condicionEgreso" style="width: 250px">
            <Option> Seleccione la forma de egreso</Option>
            <Option value="Sano"> Sano</Option>
            <Option value="Traslado"> Traslado</Option>
            <Option value="Recuperacion"> Recuperacion</Option>
            <Option value="Con Dolencias"> Con Dolencias</Option>
            <Option value="Otros"> Otros</Option>
          </Select>
        </FormItem>
        <Row type="flex" justify="end">
          <Col>
            <Button
              :disabled="current === 0"
              @click="anteriorpag"
              type="warning"
            >
              Volver
            </Button>

            <Button @click.native="registrarPOSTAnes" type="success">
              Guardar
            </Button>
          </Col>
        </Row>
      </Form>
    </template>
    <!-- <Row type="flex" justify="end">
      <Col>
        <Button :disabled="current === 0" @click="anteriorpag" type="warning">
          Volver
        </Button>

        <Button @click="siguientepag" type="success">
          <template v-if="current === 0">
            Guardar y continuar
          </template>
          <template v-if="current === 1">
            Guardar y continuar
          </template>
          <template v-if="current === 2">
            Guardar
          </template>
        </Button>
      </Col>
    </Row> -->
  </div>
</template>

<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      antecedentes: null,
      modalAntecedentes: false,
      modalEnfermedadAct: false,
      modalExamenes: false,
      current: 0,
      tipo: null,
      asa: 0,
      conclusiones: null,
      tecnica: null,
      ventilacionMecanica: null,
      indicaciones: null,
      estado: null,
      observaciones: null,
      idAnestesia: null,
      tratamiento: null,
      observacionesPOST: null,
      condicionEgreso: null,
      columnsD: [
        {
          title: 'Código CIE',
          key: 'codigocie'
        },
        {
          title: 'Nombre',
          key: 'nombre'
        },
        {
          title: 'Relacionado',
          key: 'relacionado'
        }
      ],
      dataD: [
        {
          codigocie: 'A18.3',
          nombre:
            'Tuberculosis intestinal, peritoneal y de glándulas mesentéricas',
          relacionado: 'NO'
        },
        {
          codigocie: 'J3.11',
          nombre: 'Nasofaringitis crónica',
          relacionado: 'NO'
        },
        {
          codigocie: 'K02.0',
          nombre: 'Caries limitada al esmalte',
          relacionado: 'SI'
        },
        {
          codigocie: 'K04.1',
          nombre: 'Necrosis de la pulpa dentaria',
          relacionado: 'SI'
        }
      ],
      examenes: null
    }
  },
  mounted() {
    this.incializacionDatos()
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
    this.current = localStorage.getItem('curStep')
      ? parseInt(localStorage.getItem('curStep'))
      : 0
    this.getAntecedentes()
    this.getExamenes()
  },
  methods: {
    getExamenes() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api
        .get('api/formatos/602098fe6532440d8db443b0', { headers })
        .then((response) => {
          const data = response.data
          console.log('DATA EXA:', data)
          this.examenes = data.examen
        })
    },
    getAntecedentes() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api
        .get('api/formatos/hospitalizacion/antecedentes/23568989', { headers })
        .then((response) => {
          const data = response.data
          console.log('DATA ANTE:', data)
          this.antecedentes = data
        })
    },
    goToEnfermeria() {
      localStorage.setItem('curStep', 2)
      this.$router.push('/notasenfermeria')
    },
    siguientepag() {
      if (this.current < 2) this.current++
    },
    anteriorpag() {
      if (this.current > 0) this.current--
    },
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    registrarPREAnestesia() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return (
        api
          .post(
            'api/formatos/anestesia',
            {
              paciente: 72573563,
              ipress: 5946,
              preAnestesia: {
                tipo: this.tipo,
                clasificacionASA: 2,
                conclusiones: this.conclusiones
              }
            },
            { headers }
          )
          .then((response) => {
            const data = response.data
            localStorage.setItem('idAnestesia', data.id)
            console.log('data: ', data)
            return data
          }),
        this.siguientepag()
      )
    },
    registrarAnes() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      const idAnestesiaA = localStorage.getItem('idAnestesia')
      return (
        api
          .put(
            '/api/formatos/anestesia/' + idAnestesiaA + '/anestesia',
            {
              tecnica: this.tecnica,
              ventilacionMecanica: this.ventilacionMecanica,
              indicaciones: this.ventilacionMecanica,
              estado: this.estado,
              observaciones: this.observaciones
            },
            {
              headers
            }
          )
          .then((response) => {
            const data = response.data
            return data
          }),
        this.siguientepag()
      )
    },
    registrarPOSTAnes() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      const idAnestesiaB = localStorage.getItem('idAnestesia')
      return api
        .put(
          '/api/formatos/anestesia/' + idAnestesiaB + '/post-anestesia',
          {
            tratamiento: this.tratamiento,
            observaciones: this.observacionesPOST,
            condicionEgreso: this.condicionEgreso
          },
          {
            headers
          }
        )
        .then((response) => {
          const data = response.data
          return data
        })
    }
  }
}
</script>
<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.contenedor-datosModal {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
}
.negrita {
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ivu-modal {
  top: 0;
}
</style>
