<template>
  <div>
    <Form>
      <div>
        <h1 class="steps">Ficha familiar</h1>
        <div style="text-align:right">
          <img class="imagenenf" src="@/assets/imagen/familiar.png" />
        </div>
        <br /><br />
        <Row>
          <FormItem label="Ciclo vital familiar">
            <Tooltip max-width="210" content="Colocar el ciclo vital familiar">
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input v-model="ciclovital" placeholder="ciclovital" required />
          </FormItem>
          <FormItem label="Tipo de familia">
            <Tooltip max-width="210" content="Colocar el tipo de familia">
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Select v-model="tipfamilia" style="width: 250px">
              <Option> Seleccione el tipo de familia</Option>
              <Option value="Nuclear"> Nuclear</Option>
              <Option value="Extensa"> Extensa</Option>
              <Option value="Monoparental"> Monoparental</Option>
            </Select>
          </FormItem>
        </Row>
        <br />
        <Button @click="agregarFamiliar" type="dashed" long icon="md-add"
          >Agregar Familiar</Button
        >
        <template v-for="familiar in familiares">
          <Form :key="familiar.key">
            <FormItem>
              <Row>
                <Col span="12" style="padding-right:30px">
                  <FormItem label="Nombres">
                    <br />
                    <Input v-model="nombres" placeholder="Nombres" required />
                  </FormItem>
                  <FormItem label="Apellidos">
                    <br />
                    <Input
                      v-model="apellidos"
                      placeholder="Apellidos"
                      required
                    />
                  </FormItem>
                  <FormItem label="DNI">
                    <br />
                    <Input v-model="dni" placeholder="DNI" required />
                  </FormItem>

                  <FormItem class="negrita" label="Fecha de nacimiento">
                    <DatePicker
                      v-model="fecnac"
                      format="dd/MM/yyyy"
                      type="datetime"
                      placeholder="Seleccione la fecha"
                      style="width: 250px"
                    ></DatePicker>
                  </FormItem>

                  <FormItem label="Género" class="negrita">
                    <br />
                    <RadioGroup v-model="genero">
                      <Radio class="nonegrita" label="femenino">Femenino</Radio>
                      <Radio class="nonegrita" label="masculino"
                        >Masculino</Radio
                      >
                    </RadioGroup>
                  </FormItem>
                </Col>
                <Col span="12">
                  <FormItem label="Parentesco a">
                    <br />
                    <!-- <Input type="select" name="select" placeholder="Parentesco" }> -->
                    <Select v-model="parentesco">
                      <Option> Padre</Option>
                      <Option> Madre</Option>
                      <Option> Hijo(a)</Option>
                      <Option> Hijo(a) Adoptivo(a)</Option>
                      <Option> Abuelo(a)</Option>
                      <Option> Tio(a)</Option>
                      <Option> Nieto(a)</Option>
                      <Option> Padrastro</Option>
                      <Option> Madrastra</Option>
                      <Option> Sobrino(a)</Option>
                      <Option> Primo(a)</Option>
                      <Option> Bisabuelo(a)</Option>
                      <Option> Amigo(a)</Option>
                      <Option> Hermano(a)</Option>
                      <Option> Yerno</Option>
                      <Option> Nuera</Option>
                    </Select>
                    <!-- </Input> -->
                  </FormItem>

                  <FormItem label="Estado Civil">
                    <br />
                    <Select v-model="estadocivil">
                      <!-- <Input type="select" name="select" placeholder="Estado Civil" }> -->
                      <Option> Soltero</Option>
                      <Option> Conviviente</Option>
                      <Option> Casado</Option>
                      <Option> Separado</Option>
                      <Option> Divorciado</Option>
                      <Option> Viudo</Option>
                      <Option> Otros</Option>
                      <!-- </Input> -->
                    </Select>
                  </FormItem>
                  <FormItem label="Grado de Instrucción">
                    <Select v-model="gradoIns">
                      <!-- <Input                  type="Select"                  name="Select"                  placeholder="Grado de Instruccion"                  }                > -->
                      <Option> Sin instruccion</Option>
                      <Option> Inicial</Option>
                      <Option> Primaria completa</Option>
                      <Option> Primaria incompleta</Option>
                      <Option> Superior completo</Option>
                      <Option> Superior incompleto</Option>
                      <!-- </Input> -->
                    </Select>
                  </FormItem>

                  <FormItem label="Condición de Ocupación">
                    <Select v-model="condicionOc">
                      <Option> Trabajador estable</Option>
                      <Option> Eventual</Option>
                      <Option> Sin ocupacion</Option>
                      <Option> Jubilado</Option>
                      <Option> Estudiante</Option>
                      <!-- </Input> -->
                    </Select>
                  </FormItem>
                  <FormItem label="Riesgo identificado en su ciclo de vida">
                    <Input
                      v-model="riesgoVida"
                      type="textarea"
                      placeholder="Riesgo identificado en su ciclo de vida"
                    >
                    </Input>
                  </FormItem>
                  <br />
                  <Row type="flex" justify="end">
                    <Col>
                      <Button @click="anteriorpag" type="error">
                        Cancelar
                      </Button>

                      <Button @click.native="registrarFamiliar" type="success">
                        Guardar
                      </Button>
                    </Col>
                  </Row>
                </Col>
              </Row>
            </FormItem>

            <br /><br />
          </Form>
        </template>
      </div>
    </Form>
  </div>
</template>

<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.imagenenf {
  /* max-width: 50%;
  padding: 10px 0; */
  max-height: 200px;

  max-width: 200px;
  position: absolute;

  right: 30px;

  top: 80px;
}
</style>

<script>
import axios from 'axios'
import moment from 'moment'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      familiares: [],
      lstGenero: [
        {
          value: 'Femenino',
          label: 'Femenino'
        },
        {
          value: 'Masculino',
          label: 'Masculino'
        }
      ],

      model1: '',
      formItem: {
        input: '',
        parentesco: '',
        radio: 'male',
        checkbox: [],
        switch: true,
        date: '',
        time: '',
        slider: [20, 50],
        textarea: ''
      },
      ciclovital: null,
      tipfamilia: null,
      dni: null,
      nombres: null,
      apellidos: null,
      fecnac: null,
      genero: null,
      parentesco: null,
      estadocivil: null,
      gradoIns: null,
      condicionOc: null,
      riesgoVida: null
    }
  },
  mounted() {
    this.incializacionDatos()
    // this.obtenerFechaHora()
    // setInterval(this.obtenerFechaHora, 1000)
    if (this.familiares.length === 0) {
      this.agregarFamiliar()
    }
  },
  methods: {
    duplicarpant() {
      this.index++
      this.formDynamic.items.push({
        value: '',
        index: this.index,
        status: 1
      })
    },
    agregarFamiliar() {
      this.familiares.unshift({
        key: Date.now()
      })
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    registrarFamiliar() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      const resultado = this.genero === 'femenino' ? 1 : 0
      return api
        .post(
          'api/formatos/familiar',
          {
            paciente: 89898989,
            ipress: 5946,
            cicloVital: this.ciclovital,
            tipoFamilia: this.tipfamilia,
            familiares: [
              {
                dni: this.dni,
                nombres: this.nombres,
                apellidos: this.apellidos,
                // fechaNacimiento: this.fecnac,
                fechaNacimiento: moment(String(this.fecnac)).format(
                  'yyyy-MM-DD'
                ),

                genero: resultado,
                parentesco: this.parentesco,
                estadoCivil: this.estadocivil,
                gradoInstruccion: this.gradoIns,
                condicionOcupacion: this.condicionOc,
                riesgoVida: this.riesgoVida
              }
            ]
          },
          {
            headers
          }
        )
        .then((response) => {
          const data = response.data
          return data
        })
    }
  }
}
</script>
