<template>
  <Form>
    <h1 class="steps">Consulta Externa</h1>
    Fecha: 23/08/2020 Hora:13:10:00
    <Divider class="negrita" orientation="left" size="small"
      >Datos Paciente</Divider
    >
    Paciente: Katherine Ruiz Edad:22 Fecha:23/09/2019

    <FormItem>
      <Row>
        <Col span="12">
          <FormItem label="Motivo de la enfermedad">
            <Tooltip
              max-width="210"
              content="Se coloca el motivo por el cual el paciente asiste a la consulta"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <br />
            <!-- v-model="motivoEnfermedad" -->
            <Input
              type="textarea"
              style="width: 410px"
              placeholder="Motivo de la enfermedad"
            />
          </FormItem>
        </Col>
        <Col span="12">
          <FormItem label="Tiempo de enfermedad">
            <Tooltip
              max-width="210"
              content="Se coloca el tiempo, el cual el paciente padece esta enfermedad"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <br />

            <Input
              v-model="tiempoEnfermedad"
              style="width: 300px"
              placeholder="Tiempo de enfermedad"
            >
              <span slot="append"
                ><Select style="width: 100px">
                  <Option> dia(s)</Option>
                  <Option> semana(s)</Option>
                  <Option> mes(es)</Option>
                  <Option> año(s)</Option>
                </Select></span
              >
            </Input>
          </FormItem>

          <br />
        </Col>
      </Row>

      <span> Datos adicionales</span>
      <Row>
        <Col span="4">
          <FormItem label="Apetito">
            <Tooltip
              max-width="210"
              content="Seleccionar el apetito del paciente afrontando la enfermedad actual"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <br />
            <Select style="width: 100px">
              <Option> Seleccione estado</Option>
              <Option> Bajo</Option>
              <Option> Estable</Option>
              <Option> Alto</Option>
              <Option> Otro</Option>
            </Select>
          </FormItem>
        </Col>
        <Col span="4">
          <FormItem label="Sed">
            <Tooltip
              max-width="210"
              content="Seleccionar la sed del paciente afrontando la enfermedad actual"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <br />
            <Select style="width: 100px">
              <Option> Seleccione estado</Option>
              <Option> Baja</Option>
              <Option> Estable</Option>
              <Option> Alto</Option>
              <Option> Otro</Option>
            </Select>
          </FormItem>
        </Col>
        <Col span="4">
          <FormItem label="Sueño">
            <Tooltip
              max-width="210"
              content="Seleccionar cómo va el sueño del paciente afrontando la enfermedad actual"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <br />
            <Select style="width: 100px">
              <Option> Seleccione estado</Option>
              <Option> Bajo</Option>
              <Option> Estable</Option>
              <Option> Alto</Option>
              <Option> Otro</Option>
            </Select>
          </FormItem>
        </Col>
        <Col span="4">
          <FormItem label="Estado de ánimo">
            <Tooltip
              max-width="210"
              content="Seleccionar cómo se encuentra el estado de ánimo del paciente afrontando la enfermedad actual"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <br />
            <Select style="width: 100px">
              <Option> Seleccione estado</Option>
              <Option> Desanimado</Option>
              <Option> Normal</Option>
              <Option> Euforico</Option>
              <Option> Depresivo</Option>
              <Option> Ansioso</Option>
            </Select>
          </FormItem>
        </Col>
        <Col span="4">
          <FormItem label="Orina">
            <Tooltip
              max-width="210"
              content="Seleccionar el estado de la orina del paciente afrontando la enfermedad actual"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <br />
            <Select style="width: 100px">
              <Option> Seleccione estado</Option>
              <Option> Bajo</Option>
              <Option> Normal</Option>
              <Option> Alto</Option>
            </Select>
          </FormItem>
        </Col>
        <Col span="4">
          <FormItem label="Deposiciones">
            <Tooltip
              max-width="210"
              content="Seleccionar el estado de las deposiciones del paciente afrontando la enfermedad actual"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Select style="width: 100px">
              <Option> Seleccione estado</Option>
              <Option> Bajo</Option>
              <Option> Normal</Option>
              <Option> Alto</Option>
            </Select>
          </FormItem>
        </Col>
      </Row>
      <br />
      <Row>
        <Col span="3">
          <FormItem label="Temperatura">
            <Tooltip
              max-width="210"
              content="Colocar la temperatura del paciente"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input type="number" style="width: 100px" />
          </FormItem>
        </Col>
        <Col span="4">
          <FormItem label="Presión Arterial">
            <Tooltip
              max-width="210"
              content="Colocar la presión arterial del paciente"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input type="number" style="width: 100px" />
          </FormItem>
          <br />
          <!-- &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; -->
        </Col>
        <Col span="3">
          <FormItem label="F. Cardiaca">
            <Tooltip
              max-width="210"
              content="Colocar la frecuencia cardiaca del paciente"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input type="number" style="width: 100px" />
          </FormItem>
          <br />
        </Col>
        <Col span="4">
          <FormItem label="F. Respiratoria">
            <Tooltip
              max-width="210"
              content="Colocar la frecuencia respiratoria del paciente"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input type="number" style="width: 100px" />
          </FormItem>
          <br />
        </Col>

        <Col span="3">
          <FormItem label="Peso">
            <Tooltip max-width="210" content="Colocar el peso del paciente">
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input type="number" style="width: 100px" />
          </FormItem>
          <br />
        </Col>
        <Col span="3">
          <FormItem label="Talla">
            <Tooltip max-width="210" content="Colocar el talla del paciente">
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input type="number" style="width: 100px" />
          </FormItem>
          <br />
        </Col>
        <Col span="3">
          <FormItem label="IMC">
            <Tooltip max-width="210" content="Colocar el IMC del paciente">
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <br />
            <Input type="number" style="width: 100px" />
          </FormItem>
          <br />
        </Col>
      </Row>
      <Row>
        <Col span="12">
          <FormItem label="Diagnóstico">
            <Tooltip
              max-width="210"
              content="Detallar el diagnóstico del paciente"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <br />
            <Input
              type="textarea"
              style="width: 410px"
              placeholder="Diagnostico"
            />
          </FormItem>
        </Col>
        <Col span="12">
          <FormItem class="negrita" label="Tratamiento">
            <Tooltip
              max-width="210"
              content="Detallar el tratamiento del paciente"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <br />
            <Input
              type="textarea"
              style="width: 410px"
              placeholder="Tratamiento"
            />
          </FormItem>

          <br />
        </Col>
      </Row>

      <FormItem class="negrita" label="Próxima cita">
        <Tooltip max-width="210" content="Colocar la próxima cita del paciente">
          <Icon type="md-help-circle" size="20" />
        </Tooltip>
        <!-- v-model="proximaCita" -->
        <DatePicker
          format="dd/MM/yyyy"
          type="datetime"
          placeholder="Seleccione la fecha"
          style="width: 250px"
        ></DatePicker>
      </FormItem>

      <FormItem class="negrita" label="¿Desea añadir exámenes médicos?">
        <Tooltip
          max-width="210"
          content="Coloque SI para añadir exámenes médicos"
        >
          <Icon type="md-help-circle" size="18" />
        </Tooltip>
        <br />
        <!-- <RadioGroup>
                  <Radio class="nonegrita" label="SI">SI</Radio>
                  <Radio class="nonegrita" label="NO">NO</Radio>
                </RadioGroup> -->
        <!-- @click="value3 = true" -->
        <Button type="primary">Buscar Examenes Medicos</Button>
      </FormItem>
      <FormItem class="negrita" label="Observación">
        <Tooltip max-width="210" content="Colocar alguna observación adicional">
          <Icon type="md-help-circle" size="18" />
        </Tooltip>
        <br />
        <Input type="textarea" style="width: 410px" placeholder="Observación" />
      </FormItem>
      <br />
      <Row type="flex" justify="end">
        <Col>
          <Button type="error">
            Cancelar
          </Button>

          <Button type="success">
            Guardar
          </Button>
        </Col>
      </Row>
    </FormItem>
  </Form>
</template>

<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.nonegrita {
  font-weight: normal;
}

.negrita {
  font-weight: bold;
}
.demo-auto-complete-item {
  padding: 4px 0;
  border-bottom: 1px solid #f6f6f6;
}
.demo-auto-complete-group {
  font-size: 12px;
  padding: 4px 6px;
}
.demo-auto-complete-group span {
  color: #666;
  font-weight: bold;
}
.demo-auto-complete-group a {
  float: right;
}
.demo-auto-complete-count {
  float: right;
  color: #999;
}
.demo-auto-complete-more {
  display: block;
  margin: 0 auto;
  padding: 4px;
}
</style>
