<template>
  <Form>
    <h1 class="steps">Consulta Externa</h1>
    Fecha:{{ fechaHoraActual }}
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Direccion:
            </span>
          </div>
          <div>
            <span class="datos">
              Dona delmira 365, dpto 203B
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Localidad:
            </span>
          </div>
          <div>
            <span class="datos">
              Surco
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Departamento:
            </span>
          </div>
          <div>
            <span class="datos">
              Lima
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Provincia:
            </span>
          </div>
          <div>
            <span class="datos">
              Lima
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Distrito:
            </span>
          </div>
          <div>
            <span class="datos">
              Surco
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Telefono:
            </span>
          </div>
          <div>
            <span class="datos">
              956738979
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Ocupacion:
            </span>
          </div>
          <div>
            <span class="datos">
              Ingenieria
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Estudios:
            </span>
          </div>
          <div>
            <span class="datos">
              Primaria
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Estado civil:
            </span>
          </div>
          <div>
            <span class="datos">
              Soltero
            </span>
          </div>
        </div>
      </div>
    </div>

    <Divider class="negrita" orientation="left" size="small"
      >Datos de Evaluación</Divider
    >
    <Steps :current="current" class="steps">
      <Step title="Datos de Evaluación" content="Datos médicos"> </Step>
      <Step title="Plan de trabajo" content="Tratar al paciente"> </Step>
    </Steps>
    <div v-if="current === 0">
      <FormItem>
        <Row>
          <Col span="12">
            <FormItem label="Motivo de la enfermedad">
              <Tooltip
                max-width="210"
                content="Se coloca el motivo por el cual el paciente asiste a la consulta"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />
              <!-- v-model="motivoEnfermedad" -->
              <Input
                v-model="motivoEnf"
                type="textarea"
                style="width: 410px"
                placeholder="Motivo de la enfermedad"
              />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="Tiempo de enfermedad">
              <Tooltip
                max-width="210"
                content="Se coloca el tiempo, el cual el paciente padece esta enfermedad"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />

              <Input
                v-model="tiempoEnfermedad"
                style="width: 300px"
                placeholder="Tiempo de enfermedad"
              >
                <span slot="append"
                  ><Select v-model="tiempoEnf" style="width: 100px">
                    <Option value="dia(s)"> dia(s)</Option>
                    <Option value="semana(s)"> semana(s)</Option>
                    <Option value="mes(es)"> mes(es)</Option>
                    <Option value="año(s)"> año(s)</Option>
                  </Select></span
                >
              </Input>
            </FormItem>
            {{ tiempoEnfermedad }}{{ tiempoEnf }}
            <br />
          </Col>
        </Row>

        <span> Datos adicionales</span>
        <Row>
          <Col span="4">
            <FormItem label="Apetito">
              <Tooltip
                max-width="210"
                content="Seleccionar el apetito del paciente afrontando la enfermedad actual"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />
              <Select v-model="apetito" style="width: 100px">
                <Option> Seleccione estado</Option>
                <Option value="Bajo"> Bajo</Option>
                <Option value="Estable"> Estable</Option>
                <Option value="Alto"> Alto</Option>
                <Option value="Otro"> Otro</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Sed">
              <Tooltip
                max-width="210"
                content="Seleccionar la sed del paciente afrontando la enfermedad actual"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />
              <Select v-model="sed" style="width: 100px">
                <Option> Seleccione estado</Option>
                <Option value="Baja"> Baja</Option>
                <Option value="Estable"> Estable</Option>
                <Option value="Alto"> Alto</Option>
                <Option value="Otro"> Otro</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Sueño">
              <Tooltip
                max-width="210"
                content="Seleccionar cómo va el sueño del paciente afrontando la enfermedad actual"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />
              <Select v-model="sueno" style="width: 100px">
                <Option> Seleccione estado</Option>
                <Option value="Bajo"> Bajo</Option>
                <Option value="Estable"> Estable</Option>
                <Option value="Alto"> Alto</Option>
                <Option value="Otro"> Otro</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Estado de ánimo">
              <Tooltip
                max-width="210"
                content="Seleccionar cómo se encuentra el estado de ánimo del paciente afrontando la enfermedad actual"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />
              <Select v-model="estadoanimo" style="width: 100px">
                <Option> Seleccione estado</Option>
                <Option value="Desanimado"> Desanimado</Option>
                <Option value="Normal"> Normal</Option>
                <Option value="Euforico"> Euforico</Option>
                <Option value="Depresivo"> Depresivo</Option>
                <Option value="Ansioso"> Ansioso</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Orina">
              <Tooltip
                max-width="210"
                content="Seleccionar el estado de la orina del paciente afrontando la enfermedad actual"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />
              <Select v-model="orina" style="width: 100px">
                <Option> Seleccione estado</Option>
                <Option value="Bajo"> Bajo</Option>
                <Option value="Normal"> Normal</Option>
                <Option value="Alto"> Alto</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Deposiciones">
              <Tooltip
                max-width="210"
                content="Seleccionar el estado de las deposiciones del paciente afrontando la enfermedad actual"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br />
              <Select v-model="deposiciones" style="width: 100px">
                <Option> Seleccione estado</Option>
                <Option value="Bajo"> Bajo</Option>
                <Option value="Normal"> Normal</Option>
                <Option value="Alto"> Alto</Option>
              </Select>
            </FormItem>
          </Col>
        </Row>
        <br />
        <Row>
          <Col span="3">
            <FormItem label="Temperatura">
              <Tooltip
                max-width="210"
                content="Colocar la temperatura del paciente (°C)"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br />
              <Input v-model="temperatura" type="number" style="width: 100px" />
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Presión Arterial (mmHg)">
              <Tooltip
                max-width="210"
                content="Colocar la presión arterial del paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br />
              <Input
                v-model="presionArterial"
                type="number"
                style="width: 100px"
              />
            </FormItem>
            <br />
            <!-- &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; -->
          </Col>
          <Col span="3">
            <FormItem label="F. Cardiaca">
              <Tooltip
                max-width="210"
                content="Colocar la frecuencia cardiaca del paciente en lpm"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br />
              <Input v-model="presionCard" type="number" style="width: 100px" />
            </FormItem>
            <br />
          </Col>
          <Col span="4">
            <FormItem label="F. Respiratoria">
              <Tooltip
                max-width="210"
                content="Colocar la frecuencia respiratoria del paciente en rpm"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br />
              <Input
                v-model="frecuenciaRespiratoria"
                type="number"
                style="width: 100px"
              />
            </FormItem>
            <br />
          </Col>

          <Col span="3">
            <FormItem label="Peso">
              <Tooltip
                max-width="210"
                content="Colocar el peso del paciente en kg"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br />
              <Input v-model="peso" type="number" style="width: 100px" />
            </FormItem>
            <br />
          </Col>
          <Col span="3">
            <FormItem label="Talla">
              <Tooltip
                max-width="210"
                content="Colocar el talla del paciente en metros"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br />
              <Input v-model="talla" type="number" style="width: 100px" />
            </FormItem>
            <br />
          </Col>
          <Col span="3">
            <br />
            IMC: {{ calcularIMC }} (kg/m2)
            <br />
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="Diagnóstico" style="margin-right:10px">
              <Tooltip
                max-width="210"
                content="Detallar el diagnóstico del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />
              <!-- <Input
              v-model="diagnostico"
              type="textarea"
              style="width: 410px"
              placeholder="Diagnostico"
            /> -->
              <Select
                v-model="selectedDiagnostico"
                @input="prueba2"
                multiple
                placeholder="Elegir diagnóstico"
                icon="ios-search"
                filterable
              >
                <Option v-for="diag in diagnostico" :value="diag"
                  >{{ diag.codigo }} - {{ diag.descripcion }}</Option
                >
              </Select>
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem class="negrita" label="Tratamiento">
              <Tooltip
                max-width="210"
                content="Detallar el tratamiento del paciente"
              >
                <Icon type="md-help-circle" size="20" />
              </Tooltip>
              <br />
              <Input
                v-model="tratamiento"
                type="textarea"
                style="width: 410px"
                placeholder="Tratamiento"
              />
            </FormItem>

            <br />
          </Col>
        </Row>

        <FormItem class="negrita" label="Próxima cita">
          <Tooltip
            max-width="210"
            content="Colocar la próxima cita del paciente"
          >
            <Icon type="md-help-circle" size="20" />
          </Tooltip>
          <DatePicker
            v-model="proximaCita"
            format="dd/MM/yyyy"
            type="datetime"
            placeholder="Seleccione la fecha"
            style="width: 250px"
          ></DatePicker>
        </FormItem>

        <FormItem class="negrita" label="¿Desea añadir exámenes médicos?">
          <Tooltip
            max-width="210"
            content="Coloque SI para añadir exámenes médicos"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <br />
          <RadioGroup v-model="estadoob">
            <Radio class="nonegrita" label="SI">SI</Radio>
            <Radio class="nonegrita" label="NO">NO</Radio>
          </RadioGroup>
          <div v-if="estadoob === 'SI'">
            <Button @click.native="obtenerExamenes" type="primary"
              >Buscar Exámenes Médicos</Button
            >
            <div
              v-if="value4 && social !== [] && social"
              style="display:flex;margin:10px 0"
            >
              {{ value4 }} con
              <span v-for="(item, index) in social" :key="index">
                &nbsp;{{ item }}</span
              >
              <div style="margin-left:25px">
                <a @click="deleteExam" style="color:red">X</a>
              </div>
            </div>
          </div>
          <Drawer
            v-model="value3"
            :mask-closable="false"
            :styles="styles"
            title="Búsqueda de Exámenes"
            width="720"
          >
            <Divider orientation="left" size="small">Lista de exámenes</Divider>
            <!-- <RadioGroup v-model="tipoexam" @change.native="prueba">
            <Radio class="nonegrita" label="Ecografia">Ecografía</Radio>
            <Radio class="nonegrita" label="Radiografia">Radiografía </Radio>
          </RadioGroup>
          <br /><br />  -->
            <Select
              v-model="value4"
              @change="prueba1"
              @input="prueba1"
              multiple
              placeholder="Buscar Exámenes"
              icon="ios-search"
              filterable
            >
              <Option
                @change="prueba1"
                @input="prueba1"
                v-for="exam in busquedaExam"
                :value="exam"
                >{{ exam }}</Option
              >
            </Select>

            <!-- <AutoComplete
            v-model="value4"
            @on-search="handleSearch1"
            icon="ios-search"
            placeholder="Buscar Exámenes"
            style="align:center width:30px"
          >
            <div v-if="tipoexam === 'Ecografia'">
              <Option v-for="exam in busquedaExam" :value="exam">{{
                exam
              }}</Option>
            </div>
            <div v-if="tipoexam === 'Radiografia'">
              <Option v-for="exam1 in busquedaExam1" :value="exam1">{{
                exam1
              }}</Option>
            </div>
          </AutoComplete> -->
            <br /><br />
            <!-- <Divider orientation="left" size="small">Lista de exámenes</Divider>
          <CheckboxGroup v-model="social">
            <Checkbox label="Rayos-X">
              <span>Rayos-X</span>
            </Checkbox>
            <br />
            <Checkbox label="Visor">
              <span>Visor</span>
            </Checkbox>
            <br />
            <Checkbox label="Tomografia">
              <span>Tomografia</span>
            </Checkbox>
          </CheckboxGroup> -->

            <br /><br />
            <div class="demo-drawer-footer">
              <Button @click="value3 = false" style="margin-right: 8px"
                >Cancelar</Button
              >
              <Button @click.native="aceptar" type="primary">Guardar</Button>
            </div>
          </Drawer>
        </FormItem>
        <FormItem class="negrita" label="Observación">
          <Tooltip
            max-width="210"
            content="Colocar alguna observación adicional"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <br />

          <Input
            v-model="observacion"
            type="textarea"
            style="width: 410px"
            placeholder="Observación"
          />
        </FormItem>
        <br />
        <!-- <Row type="flex" justify="end">
          <Col>
            <Button type="error">
              Cancelar
            </Button>

            <Button @click.native="registrarConsultaExt" type="success">
              Guardar
            </Button>
          </Col>
        </Row> -->
      </FormItem>
    </div>
    <div v-if="current === 1">
      <FormItem class="negrita" label="Examenes de ayuda diagnostica">
        <Tooltip max-width="210" content="">
          <Icon type="md-help-circle" size="20" />
        </Tooltip>
        <Button @click="modal1 = true" type="primary">
          Elegir examenes de ayuda diagnostica
        </Button>
        <div>
          <Modal
            v-model="modal1"
            @on-ok="Agregar"
            @on-cancel="Cancelar"
            ok-text="Agregar"
            cancel-text="Cancelar"
            title="Completar los siguientes datos"
          >
            <RadioGroup v-model="examenes" @input="prueba()">
              ¿Elegir examenes de ayuda diagnostica?
              <br />
              <Radio label="Procedimientos medicos"></Radio>
              <Radio label="Procedimientos Quirurgicos"></Radio>
              <Radio label="Interconsultas"></Radio>
            </RadioGroup>
            <br />
          </Modal>
        </div>
      </FormItem>
      <div
        v-if="examenes === 'Procedimientos Quirurgicos'"
        style="margin-top:30px"
      >
        <Form>
          <h2 class="steps">Orden de Intervención quirúrgica</h2>
          <!-- Fecha: 23/08/2020 <br />
          Hora: 13:10:00 -->
          <!-- <Divider
            style="margin-top:40px"
            class="negrita"
            orientation="left"
            size="small"
            >Datos Paciente</Divider
          > -->
          <!--   <div class="contenedor-datos">
            <div class="fila-datos">
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Paciente:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    Katherine Ruiz
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    DNI:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    72573563
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Edad:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    22
                  </span>
                </div>
              </div>
            </div>
            <div class="fila-datos">
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Sexo:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    Femenino
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    HCE:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    28931221
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Cama:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    22
                  </span>
                </div>
              </div>
            </div>
            <div class="fila-datos">
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Servicio:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    Cirugía
                  </span>
                </div>
              </div>
            </div>
          </div> -->

          <Divider class="negrita" orientation="left" size="small"
            >Diagnóstico</Divider
          >
          <Table :columns="columnsO" :data="dataO" border></Table>

          <Divider class="negrita" orientation="left" size="small"
            >Datos Requeridos</Divider
          >
          <FormItem class="negrita" label="Procedimiento quirúgico">
            <Tooltip
              max-width="210"
              content="Colocar si o no dependiendo si se trata de un estudio especial o cultivo "
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>

            <Select v-model="procquirugico" style="width: 250px">
              <Option>
                Seleccione el procedimiento quirúgico que se va a
                realizar</Option
              >
              <Option value="Apendicectomía"> Apendicectomía</Option>
              <Option value="Biopsia de mama"> Biopsia de mama</Option>
              <Option value="Endoarteriectomía de la carótida">
                Endoarteriectomía de la carótida</Option
              >
              <Option value="Cirugía de cataratas">
                Cirugía de cataratas</Option
              >
              <Option value="Cesárea"> Cesárea</Option>
            </Select>
          </FormItem>
          <br />
          <FormItem class="negrita" label="Fecha de la operación">
            <Tooltip max-width="210" content="Colocar la fecha de la operación">
              <Icon type="md-help-circle" size="18" />
            </Tooltip>

            <DatePicker
              v-model="fechaPlaneada"
              format="dd/MM/yyyy"
              type="datetime"
              placeholder="Seleccione la fecha"
              style="width: 250px"
            ></DatePicker>
          </FormItem>
          <br />
          <FormItem class="negrita" label="Cirujanos">
            <Tooltip
              style="margin-bottom:20px"
              max-width="210"
              content="Hacer click en el siguiente botón para buscar los cirujanos disponibles para la operación"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <Button
              @click="modal3 = true"
              style="margin-left:10px"
              type="primary"
              >Búsqueda de cirujanos</Button
            >
            <br />
            <Input> </Input>
            <Modal
              v-model="modal3"
              @on-ok="ok"
              @on-cancel="cancel"
              title="Búsqueda de cirujanos"
            >
              <AutoComplete
                v-model="nombrecirujano"
                icon="ios-search"
                placeholder="Búsqueda de cirujanos"
                style="width:300px"
              >
                <div
                  v-for="item in busquedaCirujano"
                  class="demo-auto-complete-item"
                >
                  <span>{{ item.title }}</span>
                </div>
              </AutoComplete>
            </Modal>
          </FormItem>
          <br />
          <FormItem class="negrita" label="Ayudantes">
            <Tooltip
              style="margin-bottom:20px"
              max-width="210"
              content="Hacer click en el siguiente botón para buscar los ayudantes disponibles para la operación"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <Button
              @click="modal2 = true"
              style="margin-left:10px"
              type="primary"
              >Busqueda de ayudantes</Button
            >
            <br />
            <Input> </Input>
            <Modal
              v-model="modal2"
              @on-ok="ok"
              @on-cancel="cancel"
              title="Búsqueda de ayudantes"
            >
              <AutoComplete
                v-model="nombreayudante"
                icon="ios-search"
                placeholder="Búsqueda de Ayudantes"
                style="width:300px"
              >
                <div
                  v-for="item in busquedaAyudante"
                  class="demo-auto-complete-item"
                >
                  <span>{{ item.title }}</span>
                </div>
              </AutoComplete>
            </Modal>
          </FormItem>
          <FormItem class="negrita" label="Grupo sanguíneo:">
            <Tooltip
              max-width="210"
              content="Se da a conocer el grupo sanguíneo del paciente"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            O+ (obtenido de Filiacion/ Anamnesis)
            <!-- <Input type="text" placeholder="Grupo sanquineo" /> -->
          </FormItem>
          <FormItem class="negrita" label="Hemoglobina:">
            <Tooltip
              max-width="210"
              content="Se da a conocer la cantidad de hemoglobina que posee el paciente"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <Input
              v-model="hemoglobina"
              type="number"
              placeholder="Hemoglobina"
              style="width: 250px"
            />
          </FormItem>
          <FormItem class="negrita" label="Anestesia prevista:">
            <Tooltip
              max-width="210"
              content="Se da a conocer  el tipo de anestesia previsto por el Anestiólogo en el formato Pre-Anestésico"
            >
              <Icon type="md-help-circle" size="18" />
            </Tooltip>
            <!-- <Input type="textarea" placeholder="Anestesia prevista" /> -->
            <span>Anestesia 1 </span>
            <span>Anestesia 2 </span> (obtenido del Formato Pre-Anestesia)
          </FormItem>
          <!-- BRINDAR CONFORME TANTO EL CIRUJANO COMO EL DOCTOR -->
          <!-- <Row type="flex" justify="end">
              <Col>
                <Button @click="anteriorpag" type="error">
                  Cancelar
                </Button>

                <Button @click.native="registrarOIQx" type="success">
                  Guardar
                </Button>
              </Col>
            </Row> -->
        </Form>
      </div>
      <div v-if="examenes === 'Interconsultas'" style="margin-top:30px">
        <Form>
          <h2 class="steps">Solicitud de Interconsulta</h2>
          <!--  Fecha: 23/08/2020 <br />
          Hora: 13:10:00 -->
          <!--  <Divider
            style="margin-top:40px"
            class="negrita"
            orientation="left"
            size="small"
            >Datos Paciente</Divider
          > -->
          <!-- <div class="contenedor-datos">
            <div class="fila-datos">
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Paciente:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    Katherine Ruiz
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    DNI:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    72573563
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Edad:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    22
                  </span>
                </div>
              </div>
            </div>
            <div class="fila-datos">
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Sexo:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    Femenino
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    HCE:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    28931221
                  </span>
                </div>
              </div>
              <div class="columna-datos">
                <div>
                  <span class="Label">
                    Grupo Sanguíneo:
                  </span>
                </div>
                <div>
                  <span class="datos">
                    A+
                  </span>
                </div>
              </div>
            </div>
          </div> -->
          <FormItem class="negrita" label=" Datos de filiación del paciente">
            <Tooltip
              max-width="210"
              content="Si desea mayor información sobre los datos de filiación del paciente, hacer click en el siguiente botón"
            >
              <Icon type="md-help-circle" size="20" /> </Tooltip
            ><br />
            Ir a:
            <Button type="primary">
              Formato de Filiacion
            </Button>
          </FormItem>
          <FormItem class="negrita" label=" Servicio interconsultado">
            <Tooltip
              max-width="210"
              content="Escoger el servicio al que se le realizará la interconsulta"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <br />
            <Select
              id="servicio"
              v-model="servicio"
              class="nonegrita"
              placeholder="Seleccione el servicio al que se le realizará la interconsulta"
            >
              <Option value="Dermatologia" class="nonegrita">
                Dermatologia</Option
              >
              <Option value="Anestesiologia" class="nonegrita">
                Anestesiologia</Option
              >
              <Option value="Pediatria" class="nonegrita"> Pediatria</Option>
              <Option value="Cardiologia" class="nonegrita">
                Cardiologia</Option
              >
              <Option value="Traumatologia" class="nonegrita">
                Traumatologia</Option
              >
              <Option value="Otro" class="nonegrita"> Otro </Option>
            </Select>
          </FormItem>

          <FormItem
            class="negrita"
            label="Breve descripción de la enfermedad actual"
          >
            <Tooltip
              max-width="210"
              content="Se muestra la enfermedad actual recogida de la información del servicio actual"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <Input
              v-model="enfermedadActual"
              type="textarea"
              placeholder="Coloque una breve descripcion de la enfermedad actual"
              disabled
            />
          </FormItem>
          <FormItem
            class="negrita"
            label="Informacion adicional sobre enfermedad actual"
          >
            <Tooltip
              max-width="210"
              content="Coloque información adicional si es necesario"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <Input
              v-model="infoAdi"
              type="textarea"
              placeholder="Coloque alguna informacion adicional sobre la enfermedad actual"
            />
          </FormItem>
          <FormItem class="negrita" label="Diagnostico presuntivo">
            <Tooltip
              max-width="210"
              content="Se muestra el diagnostico presuntivo recogida de la información del servicio actual"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <Input
              v-model="diagPresuntivo"
              type="textarea"
              placeholder="Coloque el diagnostico presuntivo"
              disabled
            />
          </FormItem>

          <FormItem class="negrita" label=" Motivo de la interconsulta">
            <Tooltip
              max-width="210"
              content="Coloque la consulta que desea brindar a la especialidad escogida indicando el motivo e información adicional"
            >
              <Icon type="md-help-circle" size="20" />
            </Tooltip>
            <!-- <Input
        v-model="motivoInter"
        type="textarea"
        placeholder="Coloque el motivo de la interconsulta"
      /> -->
            <Select
              id="tipo"
              v-model="motivoInter"
              class="nonegrita"
              placeholder="Seleccione el motivo de la interconsulta"
            >
              <Option value="Diagnostico" class="nonegrita">
                Diagnostico</Option
              >
              <Option value="Manejo Terapeutico" class="nonegrita">
                Manejo Terapeutico</Option
              >
              <Option value="Procedimiento" class="nonegrita">
                Procedimiento</Option
              >
              <Option value="Transferencia" class="nonegrita">
                Transferencia</Option
              >
              <Option value="Alta" class="nonegrita"> Alta</Option>
              <Option value="Otro" class="nonegrita"> Otro </Option>
            </Select>
          </FormItem>
          <Row>
            <Col>
              <!-- <Button @click.native="registrarInter" type="success">
                  Confirmar y enviar
                </Button> -->
            </Col>
          </Row>
        </Form>
      </div>
    </div>
    <Row type="flex" justify="end">
      <Col>
        <Button :disabled="current === 0" @click="anteriorpag" type="warning">
          Volver
        </Button>
        <template v-if="current < 1">
          <Button @click="siguientepag" type="success">
            Guardar y continuar
          </Button>
        </template>
        <template v-if="current === 1">
          <Button @click.native="registrarConsultaExt" type="success">
            Guardar
          </Button>
        </template>
      </Col>
    </Row>
  </Form>
</template>

<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.nonegrita {
  font-weight: normal;
}

.negrita {
  font-weight: bold;
}
.demo-auto-complete-item {
  padding: 4px 0;
  border-bottom: 1px solid #f6f6f6;
}
.demo-auto-complete-group {
  font-size: 12px;
  padding: 4px 6px;
}
.demo-auto-complete-group span {
  color: #666;
  font-weight: bold;
}
.demo-auto-complete-group a {
  float: right;
}
.demo-auto-complete-count {
  float: right;
  color: #999;
}
.demo-auto-complete-more {
  display: block;
  margin: 0 auto;
  padding: 4px;
}
</style>
<script>
import axios from 'axios'
import moment from 'moment'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      modal3: false,
      modal2: false,
      examenes: '',
      modal1: false,
      current: 0,
      value4: '',
      estadoob: 'SI',
      docdni: null,
      nombre: null,
      apellido: null,
      apellidoMat: null,
      apellidoPat: null,
      motivoEnf: null,
      tiempoEnfermedad: null,
      tiempoEnf: null,
      apetito: null,
      sed: null,
      sueno: null,
      estadoanimo: null,
      orina: null,
      deposiciones: null,
      temperatura: 0,
      presionArterial: 0,
      presionCard: 0,
      frecuenciaRespiratoria: 0,
      peso: 0,
      talla: 0,
      imc: 0,
      diagnostico: null,
      selectedDiagnostico: null,
      tratamiento: null,
      proximaCita: null,
      observacion: null,
      nomp: null,
      apP: null,
      apM: null,
      fechaHoraActual: '',
      busquedaExam: [],
      busquedaExam1: [],
      busquedaCirujano: [
        {
          title: 'Sarai Ferraza'
        },
        {
          title: 'Ines Quispe'
        },
        {
          title: 'Michael Espinoza'
        }
      ],
      busquedaAyudante: [
        {
          title: 'Diana Ruiz'
        },
        {
          title: 'Manuel Perez'
        },
        {
          title: 'Francisco Reyes'
        }
      ],
      nombrecirujano: '',
      nombreayudante: '',
      columnsO: [
        {
          title: 'Diagnostico',
          key: 'nombre',
          align: 'center'
        },
        {
          title: 'CIE',
          key: 'codigo',
          align: 'center'
        }
      ],
      dataO: []
    }
  },
  computed: {
    calcularIMC() {
      if (!this.peso || !this.talla) return '...'
      return parseFloat(
        parseFloat(this.peso) /
          (parseFloat(this.talla) * parseFloat(this.talla))
      ).toFixed(4)
    }
  },
  mounted() {
    this.incializacionDatos()
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 1000)
  },
  methods: {
    deleteExam() {
      this.social = []
      this.value4 = ''
    },
    aceptar() {
      this.value3 = false
    },
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
      api.get('api/formatos/auxiliar/enfermedades').then((response) => {
        const data = response.data
        this.diagnostico = data
        console.log('ENFERM:', data)
      })
    },
    registrarConsultaExt() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return (
        api
          .post(
            'api/formatos/consulta-externa',
            {
              paciente: 72573563,
              motivoEnfermedad: this.motivoEnf,
              tiempoEnfermedad: this.tiempoEnfermedad + ' ' + this.tiempoEnf,
              examen: {
                apetito: this.apetito,
                sed: this.sed,
                sueno: this.sueno,
                estadoAnimo: this.estadoanimo,
                orina: this.orina,
                deposiciones: this.deposiciones,
                temperatura: this.temperatura,
                presionArterial: this.presionArterial,
                frecuenciaCardiaca: this.presionCard,
                frecuenciaRespiratoria: this.frecuenciaRespiratoria,
                peso: this.peso,
                talla: this.talla
              },
              diagnosticos: this.diagnostico,
              tratamiento: this.tratamiento,
              observaciones: this.observacion,
              proximaCita: moment(String(this.proximaCita)).format(
                'yyyy-MM-DDThh:mm'
              )
              // '2020-06-25T04:37:33'
            },
            {
              headers
            }
          )
          .then((response) => {
            const data = response.data
            return data
          }),
        this.$router.push('/perfil')
      )
    },
    prueba() {
      console.log('prueba:', this.examenes)
    },
    siguientepag() {
      if (this.current < 3) this.current++
    },
    anteriorpag() {
      if (this.current > 0) this.current--
    },
    prueba1() {
      console.log('a:', this.value4)
    },
    prueba2() {
      console.log('b:', this.selectedDiagnostico)
    },
    obtenerExamenes() {
      this.value3 = true
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api
        .get('api/formatos/auxiliar/tipos-examen', { headers })
        .then((response) => {
          const data = response.data
          this.busquedaExam = data[1].concat(data[0])
          this.busquedaExam1 = data[0]
          console.log('diagnosticos:', data[0])
        })
    },
    handleSearch1(value) {
      this.data1 = !value ? [] : [value, value + value, value + value + value]
    }
  }
}
</script>
