<template>
  <div>
    <ListaPaciente :arreglo-pacientes="pacientes" />
    <!-- <router-link to="/hospitalizaciones/nueva" tag="nuevo"> </router-link> -->
  </div>
</template>

<script>
import ListaPaciente from '~/components/hospitalizaciones/index-table'
export default {
  components: {
    ListaPaciente
  },
  mounted() {
    if (localStorage.getItem('first') === '0') {
      const first = '1'
      localStorage.setItem('first', first)
      location.reload()
    }
  },
  data() {
    return {
      pacientes: [
        {
          numhce: 123,
          nombre: 'Katherine Ruiz',
          dni: '72573563',
          edad: '23',
          ultimaatencion: '23/09/2019',
          acciones: ''
        },
        {
          numhce: 124,
          nombre: 'Diana Ruiz',
          dni: '1233563',
          edad: '23',
          ultimaatencion: '22/11/2019',
          acciones: 'NUEVO'
        },
        {
          numhce: 131,
          nombre: 'Johann Morales',
          dni: '1233893',
          edad: '22',
          ultimaatencion: '18/12/2019',
          acciones: 'NUEVO'
        },
        {
          numhce: 154,
          nombre: 'Jorge Fatama',
          dni: '3242323',
          edad: '23',
          ultimaatencion: '27/04/2019',
          acciones: 'NUEVO'
        }
      ]
    }
  }
}
</script>
