<template>
  <div class="container">
    <Row type="flex" justify="center">
      <Col :xs="18" :sm="12" :md="10" span="12">
        <Card>
          <h2>Iniciar Sesión</h2>
          <small> Ingresa a tu cuenta </small>
          <Form>
            <FormItem>
              <Input v-model="identificacion" placeholder="Usuario">
                <span slot="prepend">
                  <Icon type="ios-contact" />
                </span>
              </Input>
            </FormItem>
            <FormItem>
              <Input v-model="clave" type="password" placeholder="Contraseña">
                <span slot="prepend">
                  <Icon type="ios-lock" />
                </span>
              </Input>
            </FormItem>
          </Form>

          <!-- <small> Ingrese su huella digital (Haga click en la imagen) </small>
          <div style="text-align:center">
            <img class="huelladig" src="@/assets/gif/huelladigital.gif" />
          </div> -->
          <Row type="flex" justify="center">
            <Col>
              <!-- @click.native="gotoperfil"  -->
              <!-- @click="autenticar" -->
              <Button @click.native="autenticacion" type="primary">
                Ingresar
              </Button>
            </Col>
          </Row>
          <br />
          <Row type="flex" justify="end">
            <Col>
              <a> <small>Olvidaste tu contraseña </small></a>
            </Col>
          </Row>
        </Card>
      </Col>
    </Row>
  </div>
</template>

<script>
import axios from 'axios'

const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})

export default {
  data() {
    return {
      curPag: '1',
      mivar: 'kat',
      identificacion: null,
      clave: null,
      token: null,
      response: null,
      usuari: null,
      isLogged: false
    }
  },
  created() {
    this.obtenerHC()
  },
  methods: {
    // gohosp() {
    //   localStorage.setItem('logging', 'true')
    //   this.$router.push('/citasprogramadas')
    // },
    autenticacion() {
      this.autenticar().then((response) => {
        console.log('RESPONSE:', response)
        localStorage.setItem('token', response)
        console.log('token: ', localStorage.getItem('token'))
        localStorage.setItem('logging', 'true')
        localStorage.setItem('first', '0')
        this.$router.push('/home')
        window.location.replace('/home')
      })
    },
    //  static
    autenticar() {
      const usuario = {
        identificacion: this.identificacion,
        // '70504872',
        clave: this.clave
        // 'murl0c!w0Lf'
      }
      return api.post('auth', usuario).then((response) => {
        console.log('RESPONSE:', response)
        localStorage.setItem(
          'usuari',
          response.data.nombres + ' ' + response.data.apellidoPaterno
        )
        console.log('nombre:', response.data.nombres)
        console.log('token', response.headers.authorization)
        return response.headers.authorization
      })
    },

    // static
    obtenerHC(paciente, token) {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: 'Bearer ' + token
      }
      api
        .get(
          'api/formatos/historia-clinica/10203040/paginado?numeroPagina=' +
            this.curPag +
            '&tamanoPagina=5',
          { headers }
        )
        .then((response) => {
          const data = response.data
          console.log('TABLA:', data)
          return data
        })
    },
    // static
    registrarMedicion(formato, medicion, token) {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }

      console.log('headers kat: ', headers)
      return api
        .put('api/formatos/signos-vitales/' + formato + '/medicion', medicion, {
          headers
        })
        .then((response) => {
          const data = response.data
          return data
        })
    }
  }
}
</script>

<style scoped>
.huelladig {
  max-width: 50%;
  padding: 10px 0;
}
</style>
