<template>
  <div>
    <Steps :current="current" class="steps">
      <Step title="Antecedente Generales" content="Descripcion sintomas">
      </Step>
      <Step title="Antecedentes Personal" content="Examinar al paciente">
      </Step>
    </Steps>
    <template v-if="current === 0">
      <Form label-position="top">
        <h2 class="steps">Vivienda</h2>

        <FormItem label="Material" class="negrita">
          <RadioGroup>
            <Radio class="nonegrita" label="noble">Noble</Radio>
            <Radio class="nonegrita" label="precario">Precario</Radio>
            <Radio class="nonegrita" label="mixto">Mixto</Radio>
          </RadioGroup>
        </FormItem>
        <FormItem class="negrita" label="Número de personas">
          <Input type="number" placeholder="0"></Input>
        </FormItem>
        <FormItem class="negrita" label="Número de habitaciones">
          <Input type="number" placeholder="0"></Input>
        </FormItem>
        <FormItem class="negrita" label="Trabajo">
          <Input type="text" name="trabajo" placeholder="Trabajo"></Input>
        </FormItem>
        <FormItem class="negrita" label="Condición socio-económica">
          <Input type="text" placeholder="Condición socio-económica"></Input>
        </FormItem>
        <FormItem class="negrita" label="Viajes recientes">
          <Input type="text" placeholder="Viajes recientes"></Input>
        </FormItem>
      </Form>
    </template>
    <template v-if="current === 1">
      <Form label-position="top">
        <Row gutter="28">
          <Col span="12">
            <FormItem label="Frecuencia cardiaca">
              <Input> </Input>
            </FormItem>
          </Col>

          <Col span="12">
            <FormItem label="Tiempo de enfermedad">
              <Input></Input>
            </FormItem>
          </Col>
        </Row>
      </Form>
    </template>
    <Row type="flex" justify="end">
      <Col>
        <Button :disabled="current === 0" @click="anteriorpag" type="warning">
          Volver
        </Button>

        <Button @click="siguientepag" type="success">
          <template v-if="current < 1">
            Guardar y continuar
          </template>
          <template v-if="current === 1">
            Guardar
          </template>
        </Button>
      </Col>
    </Row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      current: 0
    }
  },
  methods: {
    siguientepag() {
      if (this.current < 1) this.current++
    },
    anteriorpag() {
      if (this.current > 0) this.current--
    }
  }
}
</script>
<style scoped>
.steps {
  margin-bottom: 2rem;
}
.negrita {
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>
