<template>
  <div class="containera">
    <div class="row">
      <div @click="goTo(1)" class="card">
        <span>Hospitalizaciones</span>
      </div>
      <div @click="goTo(2)" class="card">
        <span>Emergencias</span>
      </div>
      <div @click="goTo(3)" class="card">
        <span>Consulta Externa</span>
      </div>
    </div>
    <div class="row">
      <div @click="goTo(4)" class="card">
        <span>Notas de Enfermería</span>
      </div>
      <div @click="goTo(5)" class="card">
        <span>Notas de Obstetricia</span>
      </div>
      <div @click="goTo(6)" class="card">
        <span>Resultados</span>
      </div>
    </div>
    <div class="row">
      <div @click="goTo(7)" class="card">
        <span>Odontología</span>
      </div>
      <div @click="goTo(8)" class="card">
        <span>Perfil del Paciente</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: null
    }
  },
  mounted() {
    this.incializacionDatos()
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
  },
  methods: {
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    goTo(x) {
      switch (x) {
        case 1:
          this.$router.push('/busquedaHospitalizacion')
          break
        case 2:
          this.$router.push('/busquedaEmergencias')
          break
        case 3:
          this.$router.push('/busquedaConsulta')
          break
        case 4:
          this.$router.push('/busquedaNotasEnf')
          break
        case 5:
          this.$router.push('/busquedaNotasObs')
          break
        case 6:
          this.$router.push('/busquedaResultados')
          break
        case 7:
          this.$router.push('/busquedaOdontologia')
          break
        case 8:
          this.$router.push('/busquedaPerfil')
          break
        default:
          break
      }
    }
  }
}
</script>

<style>
.containera {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
}
.card {
  text-align: center;
  width: 30%;
  padding: 10px;
  background-color: #515a6e;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  font-family: 'Segoe UI';
  cursor: pointer;
  height: 120px;
  user-select: none;
}
.card:hover {
  background-color: #6a7691;
}
</style>
