<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
.demo-auto-complete-item {
  padding: 4px 0;
  border-bottom: 1px solid #f6f6f6;
}
.demo-auto-complete-group {
  font-size: 12px;
  padding: 4px 6px;
}
.demo-auto-complete-group span {
  color: #666;
  font-weight: bold;
}
.demo-auto-complete-group a {
  float: right;
}
.demo-auto-complete-count {
  float: right;
  color: #999;
}
.demo-auto-complete-more {
  display: block;
  margin: 0 auto;
  padding: 4px;
}
</style>
<template>
  <div>
    <h2 class="steps">Hoja de Control de Medicamentos</h2>

    Fecha: 23/09/2019 <br />
    Hora: 22:10
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Direccion:
            </span>
          </div>
          <div>
            <span class="datos">
              Dona delmira 365, dpto 203B
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Localidad:
            </span>
          </div>
          <div>
            <span class="datos">
              Surco
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Departamento:
            </span>
          </div>
          <div>
            <span class="datos">
              Lima
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Provincia:
            </span>
          </div>
          <div>
            <span class="datos">
              Lima
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Distrito:
            </span>
          </div>
          <div>
            <span class="datos">
              Surco
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Telefono:
            </span>
          </div>
          <div>
            <span class="datos">
              956738979
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Ocupacion:
            </span>
          </div>
          <div>
            <span class="datos">
              Ingenieria
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Estudios:
            </span>
          </div>
          <div>
            <span class="datos">
              Primaria
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Estado civil:
            </span>
          </div>
          <div>
            <span class="datos">
              Soltero
            </span>
          </div>
        </div>
      </div>
    </div>
    <Row type="flex" justify="center">
      <Button @click="modal1 = true" type="primary"
        >Seleccionar Medicamento</Button
      >
    </Row>
    <!-- draggable="false"
        loading="false" -->
    <div>
      <Modal
        v-model="modal1"
        @on-ok="Agregar"
        @on-cancel="Cancelar"
        ok-text="Agregar"
        cancel-text="Cancelar"
        title="Completar los siguientes datos"
      >
        <template>
          <AutoComplete
            v-model="nombreMed"
            icon="ios-search"
            placeholder="Buscar Medicamentos"
            style="align:center width:30px"
          >
            <div class="demo-auto-complete-item">
              <Option
                v-for="med in busquedaMed"
                :value="med.dci"
                @click.native="actualizarDat(med)"
                >{{ med.dci }}
              </Option>
            </div>
          </AutoComplete>
        </template>
        <br /><br />

        <Form :label-width="100" label-position="left">
          <Row>
            <Col span="12" style="padding-right:30px">
              <div>
                <FormItem label="DCI">
                  {{ dci }}
                </FormItem>
              </div>
              <div>
                <FormItem label="Forma farmaceutica">
                  {{ formaFarmaceutica }}
                </FormItem>
              </div>
              <div>
                <FormItem label="Dosis">
                  {{ dosis }}
                </FormItem>
              </div>
              <div>
                <FormItem label="Presentacion">
                  {{ presentacion }}
                </FormItem>
              </div>
              <div>
                <FormItem label="Via de administracion">
                  {{ viaAdministracion }}
                </FormItem>
              </div>
            </Col>
            <Col span="12" style="padding-right:30px">
              <div>
                <FormItem label="Cant. Dosis">
                  <InputNumber
                    :max="10"
                    :min="1"
                    v-model="cantdosis"
                    :step="0.2"
                  />
                </FormItem>
              </div>
              <div>
                <FormItem label="Frecuencia (hrs)">
                  <InputNumber :max="10" :min="1" v-model="frec" :step="0.2" />
                </FormItem>
              </div>
              <div>
                <FormItem label="Cant. Dias">
                  <InputNumber :max="10" :min="1" v-model="cantdias" />
                </FormItem>
              </div>
              <div>
                <FormItem label="Cant. Total">
                  {{ calcularCantTotal }}
                </FormItem>
              </div>
              <div>
                <FormItem v-model="obs" label="Observación">
                  <Input v-model="observacion" type="textarea" width="300px" />
                </FormItem>
              </div>
            </Col>
          </Row>
        </Form>
      </Modal>
      <br /><br />
    </div>
    <template>
      <Table :columns="columns1" :data="data1" border></Table>
      <br />
      <br />
      <Row type="flex" justify="end" gutter="14">
        <Col>
          <Button type="error">
            Cancelar
          </Button>
        </Col>
        <Col>
          <Button @click.native="registrarControlMed" type="success">
            Guardar y Enviar
          </Button>
        </Col>
      </Row>
    </template>
  </div>
</template>
<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      dci: null,
      formaFarmaceutica: null,
      dosis: null,
      presentacion: null,
      viaAdministracion: null,
      nombreMed: '',
      modal1: false,
      disabledTalla: true,
      disabledPeso: true,
      columns1: [
        {
          title: 'Fecha Inicio',
          key: 'fecinicio',
          align: 'center'
        },
        {
          title: 'Medicamento en DCI',
          key: 'dci',
          align: 'center'
        },

        {
          title: 'Dosis',
          key: 'dosis',
          align: 'center'
        },
        {
          title: 'Cant. de la Dosis',
          key: 'cantdosis',
          align: 'center'
        },
        {
          title: 'Frecuencia (Hrs)',
          key: 'frec',
          align: 'center'
        },
        {
          title: 'Cant. Días',
          key: 'cantdias',
          align: 'center'
        },
        {
          title: 'Cant. Total',
          key: 'canttotal',
          align: 'center'
        },
        {
          title: 'Fecha Fin',
          key: 'fecfin',
          align: 'center'
        },
        {
          title: 'Observaciones',
          key: 'obs',
          align: 'center'
        }
      ],
      data1: [
        {
          fecinicio: '22/04/2020',
          dci: 'Paracetamol',
          dosis: '500 mg',
          cantdosis: 2,
          frec: 12,
          cantdias: 3,
          canttotal: 8,
          fecfin: '25/04/2020',
          obs: ''
        },
        {
          fecinicio: '22/04/2020',
          dci: 'Ibuprofeno',
          dosis: '500 mg',
          cantdosis: 1,
          frec: 8,
          cantdias: 3,
          canttotal: 9,
          fecfin: '25/04/2020',
          obs: ''
        }
      ],
      busquedaMedAux: [
        {
          dci: 'Paracetamol',
          codigo: '001',
          formaFarmaceutica: 'Blister',
          dosis: '500 mg',
          presentacion: 'Blister',
          viaAdministracion: 'oral'
        },
        {
          dci: 'Ibuprofeno',
          codigo: '002',
          formaFarmaceutica: 'Blister',
          dosis: '500 mg',
          presentacion: 'Blister',
          viaAdministracion: 'oral'
        },
        {
          dci: 'Amoxicilina',
          codigo: '003',
          formaFarmaceutica: 'Blister',
          dosis: '500 mg',
          presentacion: 'Blister',
          viaAdministracion: 'oral'
        }
      ],
      busquedaMed: [],
      cantdosis: 0,
      frec: 0,
      cantdias: 0,
      obs: null,
      codigo: null
    }
  },
  computed: {
    calcularCantTotal() {
      if (!this.cantdosis || !this.frec || !this.cantdias) return '...'
      return parseFloat(
        parseFloat(this.cantdosis) *
          ((24 / parseFloat(this.frec)) * parseFloat(this.cantdias))
      )
    }
  },
  mounted() {
    this.obtenerMedicamentos()
  },
  methods: {
    Agregar() {
      const aux = {
        fecinicio: '09/02/2022',
        dci: this.dci,
        dosis: this.dosis,
        cantdosis: this.cantdosis,
        frec: this.frec,
        cantdias: this.cantdias,
        canttotal: this.calcularCantTotal,
        fecfin: '25/02/2022',
        obs: this.observacion
      }
      this.data1.push(aux)
    },
    registrarControlMed() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api.put(
        'api/formatos/control-medicamentos/5ef95fbb73fa5e57dc096685/administracion',
        {
          medicamento: {
            codigo: this.codigo,
            dci: this.dci,
            formaFarmaceutica: this.formaFarmaceutica,
            dosis: this.dosis,
            presentacion: this.presentacion,
            viaAdministracion: this.viaAdministracion
          },
          cantidadDosis: this.cantdosis,
          frecuencia: this.frec,
          observacion: this.obs
        },
        { headers }
      )
    },
    obtenerMedicamentos() {
      this.value3 = true
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api
        .get('api/formatos/auxiliar/tipos-medicamento', { headers })
        .then((response) => {
          const data = response.data
          this.busquedaMed = data
          console.log('medicamentos:', data)
        })
    },
    actualizarDat(med) {
      this.codigo = med.codigo
      this.dci = med.dci
      this.formaFarmaceutica = med.formaFarmaceutica
      this.dosis = med.dosis
      this.presentacion = med.presentacion
      this.viaAdministracion = med.viaAdministracion
    },
    actualizarDatAux(med) {
      this.codigo = med.codigo
      this.dci = med.dci
      this.formaFarmaceutica = med.formaFarmaceutica
      this.dosis = med.dosis
      this.presentacion = med.presentacion
      this.viaAdministracion = med.viaAdministracion
    },
    ok() {
      this.registrarControlMed()
      this.$Message.info('Se registro correctamente')
    },
    cancel() {
      this.$Message.info('Se cancelo')
    }
    //   handleSummary({ columns, data }) {
    //     const sums = {}
    //     columns.forEach((column, index) => {
    //       const key = column.key
    //       if (index === 0) {
    //         sums[key] = {
    //           key,
    //           value: '总价'
    //         }
    //         return
    //       }
    //       const values = data.map((item) => Number(item[key]))
    //       if (!values.every((value) => isNaN(value))) {
    //         const v = values.reduce((prev, curr) => {
    //           const value = Number(curr)
    //           if (!isNaN(value)) {
    //             return prev + curr
    //           } else {
    //             return prev
    //           }
    //         }, 0)
    //         sums[key] = {
    //           key,
    //           value: v + ' 元'
    //         }
    //       } else {
    //         sums[key] = {
    //           key,
    //           value: 'N/A'
    //         }
    //       }
    //     })

    //     return sums
    //   }
  }
}
</script>
