<template>
  <Form :model="formData">
    <h2 class="steps">Solicitud de Diagnóstico por Imágenes</h2>
    Fecha: 23/08/2020 <br />
    Hora: 13:10:00
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
      </div>
    </div>
    <Divider class="negrita" orientation="left" size="small"
      >Datos Requeridos</Divider
    >
    <FormItem label="¿Es sobre estudios especiales o cultivos?" class="negrita">
      <Tooltip
        max-width="210"
        content="Colocar si o no dependiendo si se trata de un estudio especial o cultivo. Si es afirmativo, saldrá información sobre su historia clinica"
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>
      <br />
      <RadioGroup v-model="proposito">
        <Radio class="nonegrita" label="si" value="si">Si</Radio>
        <Radio class="nonegrita" label="no" value="no">No </Radio>
      </RadioGroup>
      <span> Ver detalle de la historia clinica</span>
    </FormItem>
    <div v-if="proposito === 'si'">
      <FormItem class="negrita" label="Observaciones extras">
        <Tooltip
          max-width="210"
          content="Si se tratase de un estudio especial o cultivo, indicar algunas observaciones extras"
        >
          <Icon type="md-help-circle" size="18" />
        </Tooltip>
        <br />
        <Input
          v-model="observaciones"
          type="textarea"
          placeholder="Observaciones extras"
        />
      </FormItem>
    </div>
    <FormItem class="negrita" label="Diagnóstico presuntivo">
      <Tooltip
        max-width="210"
        content="Se da a conocer el diagnostico presuntivo "
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>

      <span>Síndrome Febril </span>
      <!-- <Input type="text" placeholder="Diagnóstico presuntivo" disabled /> -->
    </FormItem>

    <FormItem class="negrita" label="Búsqueda de Exámenes">
      <Tooltip
        max-width="210"
        content="Hacer click para la búsqueda de exámenes a solicitar "
      >
        <Icon type="md-help-circle" size="18" />
      </Tooltip>

      <Button @click.native="obtenerExamenes" type="primary"
        >Búsqueda de Exámenes</Button
      >
      <br />
      <Input type="textarea"> </Input>
      <Drawer
        v-model="value3"
        :mask-closable="false"
        :styles="styles"
        title="Búsqueda de Exámenes"
        width="720"
      >
        <Divider orientation="left" size="small">Tipo de exámenes</Divider>
        <RadioGroup v-model="tipoexam">
          <Radio class="nonegrita" label="Ecografia">Ecografía</Radio>
          <Radio class="nonegrita" label="Radiografia">Radiografía </Radio>
        </RadioGroup>
        <br /><br />

        <AutoComplete
          v-model="value4"
          @on-search="handleSearch1"
          icon="ios-search"
          placeholder="Buscar Exámenes"
          style="align:center width:30px"
        >
          <div v-if="tipoexam === 'Ecografia'">
            <Option v-for="exam in busquedaExam" :value="exam">{{
              exam
            }}</Option>
          </div>
          <div v-if="tipoexam === 'Radiografia'">
            <Option v-for="exam1 in busquedaExam1" :value="exam1">{{
              exam1
            }}</Option>
          </div>
        </AutoComplete>

        <br /><br />
        <Divider orientation="left" size="small">Lista de exámenes</Divider>
        <CheckboxGroup v-model="social">
          <Checkbox label="Rayos-X">
            <span>Rayos-X</span>
          </Checkbox>
          <br />
          <Checkbox label="Visor">
            <span>Visor</span>
          </Checkbox>
          <br />
          <Checkbox label="Tomografia">
            <span>Tomografia</span>
          </Checkbox>
        </CheckboxGroup>

        <br /><br />
        <div class="demo-drawer-footer">
          <Button @click="value3 = false" style="margin-right: 8px"
            >Cancelar</Button
          >
          <Button @click="value3 = false" type="primary">Guardar</Button>
        </div>
      </Drawer>
    </FormItem>
    <Row type="flex" justify="end">
      <Col>
        <Button type="error">
          Cancelar
        </Button>

        <Button @click.native="registrarSDXI" type="success">
          Guardar
        </Button>
      </Col>
    </Row>
  </Form>
</template>
<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      tipoexam: 'Ecografia',
      proposito: 'si',
      observaciones: null,
      diagnosticoPresuntivo: null,
      social: [],
      modal1: false,
      value3: false,
      styles: {
        height: 'calc(100% - 55px)',
        overflow: 'auto',
        paddingBottom: '53px',
        position: 'static'
      },
      formData: {
        name: '',
        url: '',
        owner: '',
        type: '',
        approver: '',
        date: '',
        desc: ''
      },
      busquedaExam: [],
      busquedaExam1: []
    }
  },
  methods: {
    registrarSDXI() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      const auxproposito = this.proposito === null ? 'false' : 'true'
      return (
        api
          .post(
            'api/formatos/diagnostico-imagen',
            {
              paciente: '72573563',
              ipress: 5946,
              numeroExamen: 123,

              solicitud: {
                proposito: auxproposito,
                observaciones: this.observaciones,
                diagnosticoPresuntivo: 'Síndrome Febril'
              }
            },
            {
              headers
            }
          )
          .then((response) => {
            const data = response.data
            return data
          }),
        this.$router.push('/perfil')
      )
    },
    obtenerExamenes() {
      this.value3 = true
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      api
        .get('api/formatos/auxiliar/tipos-examen', { headers })
        .then((response) => {
          const data = response.data
          this.busquedaExam = data[1]
          this.busquedaExam1 = data[0]
          console.log('diagnosticos:', data[0])
        })
    },
    ok() {
      this.$Message.info('Clicked ok')
    },
    cancel() {
      this.$Message.info('Clicked cancel')
    }
  }
}
</script>
<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.nonegrita {
  font-weight: normal;
}

.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
.demo-auto-complete-item {
  padding: 4px 0;
  border-bottom: 1px solid #f6f6f6;
}
.demo-auto-complete-group {
  font-size: 12px;
  padding: 4px 6px;
}
.demo-auto-complete-group span {
  color: #666;
  font-weight: bold;
}
.demo-auto-complete-group a {
  float: right;
}
.demo-auto-complete-count {
  float: right;
  color: #999;
}
.demo-auto-complete-more {
  display: block;
  margin: 0 auto;
  padding: 4px;
}
</style>
