<template>
  <Form>
    <h2 class="steps">Solicitud de Interconsulta</h2>
    Fecha: 23/08/2020 <br />
    Hora: 13:10:00
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Grupo Sanguíneo:
            </span>
          </div>
          <div>
            <span class="datos">
              A+
            </span>
          </div>
        </div>
      </div>
    </div>
    <FormItem class="negrita" label=" Datos de filiación del paciente">
      <Tooltip
        max-width="210"
        content="Si desea mayor información sobre los datos de filiación del paciente, hacer click en el siguiente botón"
      >
        <Icon type="md-help-circle" size="20" /> </Tooltip
      ><br />
      Ir a:
      <Button type="primary">
        Formato de Filiacion
      </Button>
    </FormItem>
    <FormItem class="negrita" label=" Servicio interconsultado">
      <Tooltip
        max-width="210"
        content="Escoger el servicio al que se le realizará la interconsulta"
      >
        <Icon type="md-help-circle" size="20" />
      </Tooltip>
      <br />
      <Select
        id="servicio"
        v-model="servicio"
        class="nonegrita"
        placeholder="Seleccione el servicio al que se le realizará la interconsulta"
      >
        <Option value="Dermatologia" class="nonegrita"> Dermatologia</Option>
        <Option value="Anestesiologia" class="nonegrita">
          Anestesiologia</Option
        >
        <Option value="Pediatria" class="nonegrita"> Pediatria</Option>
        <Option value="Cardiologia" class="nonegrita"> Cardiologia</Option>
        <Option value="Traumatologia" class="nonegrita"> Traumatologia</Option>
        <Option value="Otro" class="nonegrita"> Otro </Option>
      </Select>
    </FormItem>

    <FormItem class="negrita" label="Breve descripción de la enfermedad actual">
      <Tooltip
        max-width="210"
        content="Se muestra la enfermedad actual recogida de la información del servicio actual"
      >
        <Icon type="md-help-circle" size="20" />
      </Tooltip>
      <Input
        v-model="enfermedadActual"
        type="textarea"
        placeholder="Coloque una breve descripcion de la enfermedad actual"
        disabled
      />
    </FormItem>
    <FormItem
      class="negrita"
      label="Informacion adicional sobre enfermedad actual"
    >
      <Tooltip
        max-width="210"
        content="Coloque información adicional si es necesario"
      >
        <Icon type="md-help-circle" size="20" />
      </Tooltip>
      <Input
        v-model="infoAdi"
        type="textarea"
        placeholder="Coloque alguna informacion adicional sobre la enfermedad actual"
      />
    </FormItem>
    <FormItem class="negrita" label="Diagnostico presuntivo">
      <Tooltip
        max-width="210"
        content="Se muestra el diagnostico presuntivo recogida de la información del servicio actual"
      >
        <Icon type="md-help-circle" size="20" />
      </Tooltip>
      <Input
        v-model="diagPresuntivo"
        type="textarea"
        placeholder="Coloque el diagnostico presuntivo"
        disabled
      />
    </FormItem>

    <FormItem class="negrita" label=" Motivo de la interconsulta">
      <Tooltip
        max-width="210"
        content="Coloque la consulta que desea brindar a la especialidad escogida indicando el motivo e información adicional"
      >
        <Icon type="md-help-circle" size="20" />
      </Tooltip>
      <!-- <Input
        v-model="motivoInter"
        type="textarea"
        placeholder="Coloque el motivo de la interconsulta"
      /> -->
      <Select
        id="tipo"
        v-model="motivoInter"
        class="nonegrita"
        placeholder="Seleccione el motivo de la interconsulta"
      >
        <Option value="Diagnostico" class="nonegrita"> Diagnostico</Option>
        <Option value="Manejo Terapeutico" class="nonegrita">
          Manejo Terapeutico</Option
        >
        <Option value="Procedimiento" class="nonegrita"> Procedimiento</Option>
        <Option value="Transferencia" class="nonegrita"> Transferencia</Option>
        <Option value="Alta" class="nonegrita"> Alta</Option>
        <Option value="Otro" class="nonegrita"> Otro </Option>
      </Select>
    </FormItem>
    <Row>
      <Col>
        <Button @click.native="registrarInter" type="success">
          Confirmar y enviar
        </Button>
      </Col>
    </Row>
  </Form>
</template>

<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>

<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      modalInterConsulta: false,
      servicio: null,
      enfermedadActual: null,
      infoAdi: null,
      motivoInter: null
    }
  },
  mounted() {
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
  },
  methods: {
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    registrarInter() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return (
        api
          .post(
            'api/formatos/interconsulta?hospitalizacion=5f091abe6896a7603a3bd36a',
            {
              paciente: 72573563,
              ipress: 5946,
              solicitud: {
                servicio: this.servicio, //  'Traumatología',
                descripcion: this.enfermedadActual, //
                // 'Paciente de 23 años con asma. Presenta cuadros de migraña severos',
                informacionAdicional: this.infoAdi, //  'sdf',
                motivo: this.motivoInter //  'Diagnóstico'
              }
            },
            {
              headers
            }
          )
          .then((response) => {
            const data = response.data
            return data
          }),
        this.$Message.info({
          render: (h) => {
            return h('success', ['Se ha guardado correctamente'])
          }
        }),
        this.$router.push('/perfil')
      )
    },

    success() {
      this.$Message.success({
        content: 'Se guardó y envió correctamente',
        duration: 3,
        background: 'true'
      })
    }
  }
}
</script>
