<template>
  <div>
    <!-- <Form> -->
    <!-- <h2 class="steps">Anamnesis - Antecedentes</h2> -->
    <Steps :current="current" class="steps">
      <Step title="Generales" content="Descripcion General"> </Step>
      <Step title="Personales" content="Examinar al paciente"> </Step>

      <Step title="Patológicos" content="Resultado"></Step>
      <Step title="Familiares" content="Tratamiento y medicación"></Step>
    </Steps>
    <br />
    <template v-if="current === 0">
      <Form>
        <Row>
          <Col span="12" style="padding-right:30px">
            <h3>Vivienda:</h3>
            <br />
            <FormItem class="negrita" label="Material">
              <RadioGroup>
                <Radio label="Noble">Noble</Radio>
                <Radio label="Precario">Precario</Radio>
                <Radio label="Mixto">Mixto</Radio>
              </RadioGroup>
            </FormItem>
            <Row
              ><Col span="6" style="padding-right:50px">
                <FormItem class="negrita" label="Número de personas:">
                  <InputNumber placeholder=""></InputNumber>
                </FormItem>
              </Col>
              <Col span="6" style="padding-right:50px">
                <FormItem class="negrita" label="Número de Habitaciones:">
                  <InputNumber></InputNumber>
                </FormItem>
              </Col>
            </Row>
            <h3>Trabajo:</h3>
            <br />
            <FormItem class="negrita" label="Ocupación actual">
              <Select placeholder="Banco">
                <Option> Constructora</Option>
                <Option> Pintor</Option>
              </Select>
            </FormItem>

            <FormItem class="negrita" label="Ocupación anterior">
              <Select placeholder="Carpintero">
                <Option> Carpintero</Option>
                <Option> Constructora</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Condición socio económica:">
              <RadioGroup>
                <Radio label="Alta">Alta</Radio>
                <Radio label="Media">Media</Radio>
                <Radio label="Baja">Baja</Radio>
              </RadioGroup>
            </FormItem>
            <FormItem class="negrita" label="Crianza animales">
              <Select placeholder="Gato">
                <Option> Gallina</Option>
                <Option> Perros</Option>
                <Option> Gato</Option>
              </Select>
            </FormItem>
            <FormItem class="negrita" label="Viajes Recientes:">
              <Select placeholder="Alemania">
                <Option> Alemania</Option>
                <Option> Estados Unidos</Option>
              </Select>
            </FormItem>
          </Col>
        </Row>
      </Form>
    </template>

    <template v-if="current === 1">
      Antecedentes Fisiológicos
      <Form>
        <Row>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Prenatal">
              <Input type="textarea" placeholder="Prenatal"> </Input>
            </FormItem>
            <FormItem class="negrita" label="Natal">
              <Input type="textarea" placeholder="Natal"></Input>
            </FormItem>
            <FormItem class="negrita" label="Parto">
              <Input type="textarea" placeholder="Parto"></Input>
            </FormItem>
            <FormItem class="negrita" label="Atendido en:">
              <Input type="textarea" placeholder="Atendido en"></Input>
            </FormItem>
            <FormItem class="negrita" label="Lactancia materna:">
              <Input type="textarea" placeholder="Lactancia materna:"></Input>
            </FormItem>

            <FormItem class="negrita" label="Ablactancia">
              <Input type="textarea" placeholder="Ablactancia"></Input>
            </FormItem>

            <FormItem class="negrita" label="Desarrollo psicomotriz:  ">
              <Input
                type="textarea"
                placeholder=" Desarrollo psicomotriz:"
              ></Input>
            </FormItem>
          </Col>
          <Col span="12" style="padding-right:30px">
            <FormItem class="negrita" label="Menarquía: ">
              <Input type="textarea" placeholder="  Menarquía:"></Input>
            </FormItem>
            <FormItem class="negrita" label=" Inicio relaciones sexuales: ">
              <Input
                type="textarea"
                placeholder=" Inicio relaciones sexuales:"
              ></Input>
            </FormItem>
            <FormItem class="negrita" label="Regimen catamenal:  ">
              <Input type="textarea" placeholder=" Regimen catamenal:"></Input>
            </FormItem>
            <FormItem class="negrita" label=" Gestación: ">
              <Input type="textarea" placeholder=" Gestación:"></Input>
            </FormItem>
            <FormItem class="negrita" label=" Uso anticonceptivos: ">
              <Input type="textarea" placeholder="Uso anticonceptivos:"></Input>
            </FormItem>
            <FormItem class="negrita" label="Último parto:">
              <Input type="textarea" placeholder=" Último parto:"></Input>
            </FormItem>
            <FormItem class="negrita" label=" Imnunizaciones ">
              <Input type="textarea" placeholder=" Imnunizaciones"></Input>
            </FormItem>
          </Col>
        </Row>
      </Form>
    </template>
    <template v-if="current === 2">
      <Row>
        <Col span="12" style="padding-right:30px">
          <FormItem class="negrita" label="Enfermedades de la infancia">
            <Input type="textarea" placeholder="Enfermedades de la infancia">
            </Input>
          </FormItem>
          <FormItem class="negrita" label="Enfermedades Hereditaria">
            <Input type="text" placeholder="Enfermedades Hereditaria"></Input>
          </FormItem>

          <FormItem class="negrita" label="Antecedentes clínicos">
            <Input type="text" placeholder="Antecedentes clínicos"></Input>
          </FormItem>
          <FormItem class="negrita" label="Enfermedades infectocontagiosas">
            <Input
              type="text"
              placeholder="Enfermedades infectocontagiosas"
            ></Input>
          </FormItem>

          <FormItem class="negrita" label="Alergias">
            <Input type="text" placeholder="Alergias"></Input>
          </FormItem>
        </Col>
        <Col span="12" style="padding-right:30px">
          <FormItem class="negrita" label="Antecedentes quirurgicos">
            <Input type="text" placeholder="Antecedentes quirurgicos"></Input>
          </FormItem>
          <FormItem class="negrita" label="Enfermedades ginecologicas">
            <Input type="text" placeholder="Enfermedades ginecologicas"></Input>
          </FormItem>
          <FormItem class="negrita" label="Transfuciones">
            <Input type="text" placeholder="Transfuciones"></Input>
          </FormItem>
          <FormItem class="negrita" label="Habitos nocivos">
            <Input type="text" placeholder="Habitos nocivos"></Input>
          </FormItem>
        </Col>
      </Row>
    </template>
    <template v-if="current === 3">
      <!-- <Form> -->
      <Row type="flex" justify="center">
        <Button @click="modal1 = true" type="primary"
          >Agregar Antecentes Familiares
        </Button>
      </Row>
      <br /><br />

      <Modal
        v-model="modal1"
        @on-ok="Agregar"
        @on-cancel="Cancelar"
        draggable="false"
        loading="false"
        ok-text="Agregar"
        cancel-text="Cancelar"
        title="Completar los siguientes datos"
      >
        <Form label-width="100" label-position="left">
          <FormItem label="Familiar">
            <Select placeholder="Madre">
              <Option> Madre</Option>
              <Option> Padre</Option>
              <Option> Abuelo(a)</Option>
            </Select>
          </FormItem>

          <FormItem label="Vive actualmente?">
            <RadioGroup v-model="vive">
              <Radio class="nonegrita" label="SI">SI</Radio>
              <Radio class="nonegrita" label="NO">NO</Radio>
            </RadioGroup>
          </FormItem>

          <FormItem label="Edad">
            <InputNumber :max="10" :min="1" v-model="edad" />
          </FormItem>

          <FormItem label="Cant. Total"> 10 </FormItem>

          <FormItem label="Enfermedad o causa de desfunción">
            <Input
              placeholder="Describir la enfermedad o causa de desfunción"
              type="textarea"
              width="300px"
            />
          </FormItem>
        </Form>
      </Modal>
      <!-- <Table :columns="columns1" :data="data1" border></Table> -->
      <!-- </Form> -->
    </template>
    <br />
    <Row type="flex" justify="end">
      <Col>
        <Button :disabled="current === 0" @click="anteriorpag" type="warning">
          Volver
        </Button>
        <Button @click="siguientepag" type="success">
          <template v-if="current < 3">
            Guardar y continuar
          </template>
          <template v-if="current === 3">
            Guardar
          </template>
        </Button>
      </Col>
    </Row>
    <!-- </Form> -->
  </div>
</template>
<style>
.negrita {
  font-weight: bold;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.nonegrita {
  font-weight: normal;
}
</style>
<script>
export default {
  data() {
    return {
      modal1: false,
      columns1: [
        {
          title: 'Familiar',
          key: 'familiar',
          align: 'center'
        },
        {
          title: 'Vive',
          key: 'vive',
          align: 'center'
        },
        { title: 'Edad', key: 'edad', align: 'center' },
        {
          title: 'Enfermedad 0 causa de defunción',
          key: 'enfermedad',
          align: 'center'
        }
      ],
      data1: [
        {
          familiar: 'Madre',
          vive: 'SI',
          edad: 55,
          enfermedad: 'Diabetes'
        }
      ],
      nombreEnfermedad: '',
      tiempoEnfermedad: '',
      signosysintPrincipales: '',
      relatocronologico: '',
      funcionesBiologicas: '',
      material: '',
      numPersonas: 0,
      numHabitaciones: 0,
      trabajo: '',
      condicionsocioecon: '',
      viajesRecientes: '',
      prenatal: '',
      parto: '',
      atendidoen: '',
      lactanciaMat: '',
      ablactancia: '',
      desarrollopsicomotriz: '',
      menarquia: '',
      inicioRelaSex: '',
      regimencatamenal: '',
      usoanticonceptivo: '',
      ultimoparto: '',
      porcCompletado: 0,
      activeTab: '1',
      inmunizaciones: [],
      cancelarForm: false,
      dropdownOpen: false,
      splitButtonOpen: false,
      tipFecha: 'dia',
      current: 0
    }
  },
  methods: {
    siguientepag() {
      if (this.current < 4) this.current++
    },
    anteriorpag() {
      if (this.current > 0) this.current--
    }
  }
}
</script>
