<template>
  <div>
    <Form>
      <div>
        <h1 class="steps">Reporte Operatorio</h1>
        Fecha: 23/08/2020 <br />
        Hora: 13:10:00
        <Divider
          style="margin-top:40px"
          class="negrita"
          orientation="left"
          size="small"
          >Datos Paciente</Divider
        >
        <div class="contenedor-datos">
          <div class="fila-datos">
            <div class="columna-datos">
              <div>
                <span class="Label">
                  Paciente:
                </span>
              </div>
              <div>
                <span class="datos">
                  Katherine Ruiz
                </span>
              </div>
            </div>
            <div class="columna-datos">
              <div>
                <span class="Label">
                  DNI:
                </span>
              </div>
              <div>
                <span class="datos">
                  72573563
                </span>
              </div>
            </div>
            <div class="columna-datos">
              <div>
                <span class="Label">
                  Edad:
                </span>
              </div>
              <div>
                <span class="datos">
                  22
                </span>
              </div>
            </div>
          </div>
          <div class="fila-datos">
            <div class="columna-datos">
              <div>
                <span class="Label">
                  Sexo:
                </span>
              </div>
              <div>
                <span class="datos">
                  Femenino
                </span>
              </div>
            </div>
            <div class="columna-datos">
              <div>
                <span class="Label">
                  Hora:
                </span>
              </div>
              <div>
                <span class="datos">
                  22:10
                </span>
              </div>
            </div>
            <div class="columna-datos">
              <div>
                <span class="Label">
                  Servicio:
                </span>
              </div>
              <div>
                <span class="datos">
                  E2
                </span>
              </div>
            </div>
          </div>
          <div class="fila-datos">
            <div class="columna-datos">
              <div>
                <span class="Label">
                  Cama:
                </span>
              </div>
              <div>
                <span class="datos">
                  237
                </span>
              </div>
            </div>
          </div>
        </div>
        <Divider class="negrita" orientation="left" size="small"
          >Información Quirúrgica</Divider
        >
        <span class="negrita">Intervención Quirúgica:</span>
        <Tooltip
          max-width="210"
          content="Se da a conocer el número del informe del examen obtenido "
        >
          <Icon type="md-help-circle" size="18" />
        </Tooltip>

        <span> INTER QX 1</span>
        <br />
        <span class="negrita">Tipo de Anestesia empleada:</span>
        <Tooltip
          max-width="210"
          content="Se da a conocer el número del informe del examen obtenido "
        >
          <Icon type="md-help-circle" size="18" />
        </Tooltip>
        <span> Básica</span>

        <Divider class="negrita" orientation="left" size="small"
          >Equipo de trabajo</Divider
        >
        <Table
          :columns="columnIngreso"
          :data="dataIngreso"
          :size="small"
          width="200px"
          span="8px"
          maxwidth="39px"
        >
        </Table>
        <Divider class="negrita" orientation="left" size="small"
          >Información durante la Intervención</Divider
        >
        <span>Fecha y hora</span>
        <Row>
          <Col span="8">
            <FormItem class="negrita" label="Inicio">
              <DatePicker
                v-model="fecinicio"
                format="dd/MM/yyyy"
                type="datetime"
                placeholder="Seleccione la fecha"
                style="width: 250px"
              ></DatePicker>
            </FormItem>
          </Col>
          <Col span="8">
            <FormItem class="negrita" label="Fin">
              <DatePicker
                v-model="fecfin"
                format="dd/MM/yyyy"
                type="datetime"
                placeholder="Seleccione la fecha"
                style="width: 250px"
              ></DatePicker>
            </FormItem>
          </Col>
          <Col span="8">
            <span class="negrita">Duración: 3 horas</span>
          </Col>
        </Row>

        <span class="negrita">Diagnóstico</span><br />
        <span class="negrita">Pre-Operatorio: Sindrome Febril</span> <br />
        <span class="negrita">Post-Operatorio:</span>

        <FormItem label="Descripción de la técnica o procedimiento realizado">
          <br />
          <Input
            v-model="descprocrealizado"
            name="descprocrealizado"
            type="textarea"
            placeholder="Descripción de la técnica o procedimiento realizado"
          />
        </FormItem>
        <span> Indicar </span>

        <br />
        <RadioGroup>
          <Radio class="nonegrita" label="SI">SI</Radio>
          <Radio class="nonegrita" label="NO">NO</Radio>
        </RadioGroup>
        <span> se utilizo un examen anátomo patológico o bacteriológico </span>
        <FormItem class="negrita" label="Hallazgos operatorios">
          <br />
          <Input
            v-model="hallazagos"
            type="textarea"
            placeholder="Hallazgos operatorios"
          />
        </FormItem>
        <FormItem
          class="negrita"
          label="Complicaciones durante la intervencion quirurgica"
        >
          <br />
          <Input
            v-model="complicaciones"
            type="textarea"
            placeholder="Complicaciones durante la intervencion quirurgica"
          />
        </FormItem>
        <Divider class="negrita" orientation="left" size="small"
          >Después de la operación</Divider
        >

        <FormItem
          class="negrita"
          label="Estado paciente al salir del quirófano"
        >
          <Select v-model="estadopac" style="width: 250px">
            <Option> Seleccione Estado del paciente</Option>
            <Option value="Estable"> Estable</Option>
            <Option value="Bueno"> Bueno</Option>
            <Option value="Regular"> Regular</Option>
            <Option value="Inconciente"> Inconciente</Option>
            <Option value="En peligro"> En peligro</Option>
            <Option value="Con riesgo"> Con riesgo</Option>
            <Option value="Otros"> Otros</Option>
          </Select>
        </FormItem>
        <FormItem
          class="negrita"
          label="Destino del paciente al salir del quirófano"
        >
          <Input
            v-model="destinoPaciente"
            placeholder="Destino del paciente al salir del quirófano"
          />
        </FormItem>

        <Row type="flex" justify="end">
          <Col>
            <Button @click="anteriorpag" type="error">
              Cancelar
            </Button>

            <Button @click.native="registrarRepOp" type="success">
              Guardar
            </Button>
          </Col>
        </Row>
      </div></Form
    >
  </div>
</template>

<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
.imagenenf {
  /* max-width: 50%;
  padding: 10px 0; */
  max-height: 200px;

  max-width: 200px;
  position: absolute;

  right: 30px;

  top: 80px;
}
</style>

<script>
import moment from 'moment'
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      fecinicio: null,
      fecfin: null,
      destinoPaciente: null,
      estadopac: null,
      hallazgos: null,
      complicaciones: null,
      descprocrealizado: null,
      columnIngreso: [
        {
          title: 'Recurso',
          key: 'recurso',
          width: '200px',
          resizable: true
        },
        {
          title: 'Nombres',
          key: 'nombres',
          width: '200px'
        }
      ],
      dataIngreso: [
        {
          recurso: 'Cirujano',
          nombres: 'Carolina Quiroga'
        },
        {
          recurso: 'Primer ayudante',
          nombres: 'Diana Lopez'
        },
        {
          recurso: 'Segundo ayudante',
          nombres: 'Sebastian Polo'
        },
        {
          recurso: 'Anestesiologo',
          nombres: 'Kat Reyes'
        },
        {
          recurso: 'Enfermera instrumentista',
          nombres: 'Veronica Chavez'
        }
      ]
    }
  },
  mounted() {
    this.incializacionDatos()
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
  },
  methods: {
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    registrarRepOp() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return api
        .post(
          'api/formatos/reporte-operatorio',
          {
            paciente: 72573563,
            ipress: 5946,
            fechaInicio: moment(String(this.fecinicio)).format(
              'yyyy-MM-DDThh:mm'
            ),
            fechaFin: moment(String(this.fecfin)).format('yyyy-MM-DDThh:mm'),
            descripcionTecnica: this.descprocrealizado,
            hizoExamen: true,
            hallazgos: this.hallazgos,
            complicaciones: this.complicaciones,
            estadoAlSalir: this.estadopac,
            destinoPaciente: this.destinoPaciente
          },
          {
            headers
          }
        )
        .then((response) => {
          const data = response.data
          return data
        })
    }
  }
}
</script>
