<template>
  <div>
    <h2 class="steps">
      HC. Materno Perinatal
    </h2>
    <Steps :current="current" class="steps">
      <Step title="Antecedentes" content="Obstetricos u otros"> </Step>
      <Step title="Controles" content="Realizar control"> </Step>

      <Step title="Parto o Aborto" content="Realizar parto o aborto"></Step>
      <Step title="Recien Nacido" content="Control al Recien Nacido"></Step>
      <Step title="Puerperio" content="Control despues del parto"></Step>
      <Step title="Egreso" content="Registrar Alta"></Step>
    </Steps>
    Fecha: 23/08/2020 <br />
    Hora: 13:10:00
    <Divider
      style="margin-top:40px"
      class="negrita"
      orientation="left"
      size="small"
      >Datos Paciente</Divider
    >
    <div class="contenedor-datos">
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Paciente:
            </span>
          </div>
          <div>
            <span class="datos">
              Katherine Ruiz
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              DNI:
            </span>
          </div>
          <div>
            <span class="datos">
              72573563
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Edad:
            </span>
          </div>
          <div>
            <span class="datos">
              22
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Sexo:
            </span>
          </div>
          <div>
            <span class="datos">
              Femenino
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              HCE:
            </span>
          </div>
          <div>
            <span class="datos">
              28931221
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Direccion:
            </span>
          </div>
          <div>
            <span class="datos">
              Dona delmira 365, dpto 203B
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Localidad:
            </span>
          </div>
          <div>
            <span class="datos">
              Surco
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Departamento:
            </span>
          </div>
          <div>
            <span class="datos">
              Lima
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Provincia:
            </span>
          </div>
          <div>
            <span class="datos">
              Lima
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Distrito:
            </span>
          </div>
          <div>
            <span class="datos">
              Surco
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Telefono:
            </span>
          </div>
          <div>
            <span class="datos">
              956738979
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Ocupacion:
            </span>
          </div>
          <div>
            <span class="datos">
              Ingenieria
            </span>
          </div>
        </div>
      </div>
      <div class="fila-datos">
        <div class="columna-datos">
          <div>
            <span class="Label">
              Estudios:
            </span>
          </div>
          <div>
            <span class="datos">
              Primaria
            </span>
          </div>
        </div>
        <div class="columna-datos">
          <div>
            <span class="Label">
              Estado civil:
            </span>
          </div>
          <div>
            <span class="datos">
              Soltero
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Paciente: Katherine Ruiz,dni:72573563 Edad: 22, Sexo:Femenino,
    HCE:28931221<br />
    Direccion: Dona delmira 365, dpto 203B, Localidad: Surco, Departamento:
    Lima, Provincia: Lima <br />
    Distrito: Surco, Telefono: 956738979, Ocupacion: Ingenieria, Estudios:
    Primaria, Estado civil: Soltero <br /> -->
    <template v-if="current === 0">
      <Form>
        <Divider class="negrita" orientation="left" size="small"
          >Antecedentes</Divider
        >
        <br />
        <span> Obstetricos</span>
        <Row>
          <Col span="3" style="padding-right:20px">
            <InputNumber :max="10" :min="1" v-model="presionS" /> => &nbsp;
            &nbsp;&nbsp;&nbsp;Gestas &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          </Col>

          <Col span="4" style="margin:0 20px">
            <div class="solid" style="padding:15px">
              <InputNumber :max="10" :min="1" v-model="presionS" />
              <br />
              Aborto
              <br />
              <InputNumber
                :max="10"
                :min="1"
                v-model="presionS"
                style="margin-top:10px"
              />
              <br />
              Parto
            </div>
          </Col>

          <Col span="5" style="margin:0 20px">
            <div class="solid" style="padding:15px">
              <InputNumber :max="10" :min="1" v-model="presionS" />
              <br />
              Vivos
              <br />
              <InputNumber
                :max="10"
                :min="1"
                v-model="presionS"
                style="margin-top:10px"
              />
              <br />
              Muertos
            </div>
            &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
          </Col>
          <Col span="2" style="margin-right:20px">
            <InputNumber :max="10" :min="1" v-model="presionS" />
            <br />
            Viven
          </Col>
          <Col span="2" style="margin-right:20px">
            <InputNumber :max="10" :min="1" v-model="presionS" />
            <br />
            Muerto 1era semana
          </Col>
          <Col span="2" style="margin-right:20px">
            <InputNumber :max="10" :min="1" v-model="presionS" />
            <br />
            Muerto > 2da semana</Col
          >
        </Row>
        <br />
        <span> Fin de Gestacion Anterior </span>
        <br />
        <FormItem label="Ternacion">
          <Tooltip
            max-width="210"
            content="Colocar que tipo de ternacion se realizo"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <br />
          <Select v-model="ternacion" style="width: 250px">
            <Option> Seleccione Ternacion</Option>
            <Option value="Parto"> Parto</Option>
            <Option value="Aborto"> Aborto</Option>
            <Option value="Ectopico"> Ectopico</Option>
            <Option value="Molar"> Molar</Option>
            <Option value="Otro">Otro</Option>
          </Select>
          <div v-if="ternacion === 'Otro'">
            <br />
            Otro: <Input style="width: 250px"> si es otro</Input>
          </div>
          <br />
          <div v-if="ternacion === 'Aborto'">
            <br />
            Aborto:

            <Select v-model="aborto" style="width: 250px">
              <Option> Seleccione tipo de aborto</Option>
              <Option value="Incompleto"> Incompleto</Option>
              <Option value="Completo"> Completo</Option>
              <Option value="Frusto"> Frusto</Option>
              <Option value="Septico"> Septico</Option>
              <Option value="Otro">Otro</Option>
            </Select>
          </div>
        </FormItem>
        <FormItem class="negrita" label="Familiares">
          <Tooltip
            max-width="210"
            content="Hacer click para la búsqueda de antecedentes "
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>

          <Button @click="value3 = true" style="margin-left:15px" type="primary"
            >Buscar Antecedentes</Button
          >
          <br />
          <Input style="margin-top:20px" type="textarea"> </Input>
          <Drawer
            v-model="value3"
            :mask-closable="false"
            :styles="styles"
            title="Antecedentes Familiares"
            width="720"
          >
            <Divider orientation="left" size="small">Tipo de exámenes</Divider>

            <AutoComplete
              v-model="busqAntecedentes"
              icon="ios-search"
              placeholder="Búsqueda de Antecedentes"
              style="width:300px"
            >
              <div
                v-for="item in busqAntecedentes"
                class="demo-auto-complete-item"
              >
                <span>{{ item.title }}</span>
              </div>
            </AutoComplete>

            <br /><br />

            <br /><br />
            <div class="demo-drawer-footer">
              <Button @click="value3 = false" style="margin-right: 8px"
                >Cancelar</Button
              >
              <Button @click="value3 = false" type="primary">Guardar</Button>
            </div>
          </Drawer>
        </FormItem>
        <FormItem class="negrita" label="Personales" style="margin-top:25px">
          <Tooltip
            max-width="210"
            content="Hacer click para la búsqueda de antecedentes "
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>

          <Button @click="value3 = true" style="margin-left:15px" type="primary"
            >Buscar Antecedentes</Button
          >
          <br />
          <Input style="margin-top:20px" type="textarea"> </Input>
          <Drawer
            v-model="value3"
            :mask-closable="false"
            :styles="styles"
            title="Antecedentes Personales"
            width="720"
          >
            <Divider orientation="left" size="small">Tipo de exámenes</Divider>

            <AutoComplete
              v-model="busqAntecedentes"
              icon="ios-search"
              placeholder="Búsqueda de Antecedentes"
              style="width:300px"
            >
              <div
                v-for="item in busqAntecedentes"
                class="demo-auto-complete-item"
              >
                <span>{{ item.title }}</span>
              </div>
            </AutoComplete>

            <br /><br />

            <br /><br />
            <div class="demo-drawer-footer">
              <Button @click="value3 = false" style="margin-right: 8px"
                >Cancelar</Button
              >
              <Button @click="value3 = false" type="primary">Guardar</Button>
            </div>
          </Drawer>
        </FormItem>

        <Divider
          style="margin-top:35px"
          class="negrita"
          orientation="left"
          size="small"
          >Datos basales del embarazo actual</Divider
        >
        <Row gutter="28">
          <Col span="3">
            <FormItem label="Peso (kg)">
              <Tooltip max-width="210" content="Colocar el peso del paciente">
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Input id="Peso" type="number" style="width: 100px" />
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem label="Talla (cm)">
              <Tooltip max-width="210" content="Colocar el talla del paciente">
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Input id="Talla" type="number" style="width: 100px" />
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Tipo de sangre">
              <Tooltip
                max-width="210"
                content="Colocar el Tipo de sangre del paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Select v-model="aborto" style="width: 100px">
                <Option> Seleccione tipo de aborto</Option>
                <Option value="A"> A</Option>
                <Option value="B"> B</Option>
                <Option value="AB"> AB</Option>
                <Option value="O"> O</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem label="Rh">
              <Tooltip max-width="210" content="Colocar el Rh del paciente">
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Select v-model="aborto" style="width: 100px">
                <Option> Seleccione tipo de aborto</Option>
                <Option value="Rh+"> Rh+</Option>
                <Option value="Rh- Sen Desc"> Rh- Sen Desc</Option>
                <Option value="Rh- No Sen"> Rh- No Sen</Option>
                <Option value="Rh- Sen"> Rh- Sen</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="5">
            <FormItem label="Céfalo caudal (cm)">
              <Tooltip
                max-width="210"
                content="Colocar la longitud céfalo caudal del paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <br />
              <Input
                id="Longitud Céfalo caudal"
                type="number"
                style="width: 100px"
              />
            </FormItem>
          </Col>
          <Col span="5">
            <FormItem label="Diámetro biparetal (cm)">
              <Tooltip
                max-width="210"
                content="Colocar la diámetro biparetal del paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Input
                id="Diametro biparetal"
                type="number"
                style="width: 100px"
              />
            </FormItem>
          </Col>
        </Row>

        <Row gutter="28" style="margin-bottom:20px">
          <Col span="6">
            <FormItem class="negrita" label="F.U.M">
              <br />
              <DatePicker
                v-model="fecfum"
                format="dd/MM/yyyy"
                type="datetime"
                placeholder="Seleccione la fecha"
                style="width: 200px"
              ></DatePicker>
            </FormItem>
          </Col>
          <Col span="6">
            <FormItem class="negrita" label="Fecha posible de parto">
              <DatePicker
                v-model="fecparto"
                format="dd/MM/yyyy"
                type="datetime"
                placeholder="Seleccione la fecha"
                style="width: 200px"
              ></DatePicker>
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem class="negrita" label="Hemoglobina (g%)">
              <Tooltip
                max-width="210"
                content="Colocar la hemoglobina (g%) del paciente"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Input id="Peso" type="number" style="width: 100px" />
            </FormItem>
          </Col>
        </Row>
        <span style="margin-top:15px">Examenes realizados</span>
        <br />
        <Row type="flex" justify="end">
          <Col>
            <Button @click="siguientepag" type="success">
              Guardar y continuar
            </Button>
          </Col>
        </Row>
      </Form>
    </template>
    <template v-if="current === 1">
      <Form>
        <Divider class="negrita" orientation="left" size="small"
          >Control</Divider
        >
        <Row type="flex" justify="center">
          <Button @click="modal1 = true" type="primary"
            >Registrar Control</Button
          >
        </Row>
        <div>
          <Modal
            v-model="modal1"
            @on-ok="Agregar"
            @on-cancel="Cancelar"
            draggable="false"
            loading="false"
            ok-text="Agregar"
            cancel-text="Cancelar"
            title="Completar los siguientes datos"
          >
            <template>
              <AutoComplete
                v-model="nombreayudante"
                icon="ios-search"
                placeholder="Búsqueda de Ayudantes"
                style="width:300px"
              >
                <div
                  v-for="item in busquedaAyudante"
                  class="demo-auto-complete-item"
                >
                  <span>{{ item.title }}</span>
                </div>
              </AutoComplete>
            </template>
            <br /><br />
            <template>
              <Form :label-width="100">
                <Row>
                  <Col span="12" style="padding-right:30px">
                    <div>
                      <FormItem label="Edad Gesta(sem)">
                        Paracetamol
                      </FormItem>
                    </div>
                    <div>
                      <FormItem label="Peso madre(kg)">
                        Comprimido
                      </FormItem>
                    </div>
                    <div>
                      <FormItem label="Temperatura(C)">
                        500 mg
                      </FormItem>
                    </div>
                    <div>
                      <FormItem label="Tension Arterial">
                        Envase x 20 unidades
                      </FormItem>
                    </div>
                    <div>
                      <FormItem label="Altura uterina">
                        Oral
                      </FormItem>
                    </div>
                  </Col>
                  <Col span="12" style="padding-right:30px">
                    <div>
                      <FormItem label="Presentación">
                        <InputNumber
                          :max="10"
                          :min="1"
                          v-model="cantdosis"
                          :step="0.2"
                        />
                      </FormItem>
                    </div>
                    <div>
                      <FormItem label="F.C.F">
                        <InputNumber
                          :max="10"
                          :min="1"
                          v-model="frecuencia"
                          :step="0.2"
                        />
                      </FormItem>
                    </div>
                    <div>
                      <FormItem label="Mov. Fetal">
                        <InputNumber :max="10" :min="1" v-model="cantdias" />
                      </FormItem>
                    </div>

                    <div>
                      <FormItem label="Edema">
                        <Input v-model="Edema" width="300px" />
                      </FormItem>
                    </div>
                    <div>
                      <FormItem label="Pulso materno">
                        <Input
                          v-model="observacion"
                          type="textarea"
                          width="300px"
                        />
                      </FormItem>
                    </div>
                    <div>
                      <FormItem label="Perfil Biofísico">
                        <Input
                          v-model="observacion"
                          type="textarea"
                          width="300px"
                        />
                      </FormItem>
                    </div>
                  </Col>
                </Row>
              </Form>
            </template>
          </Modal>
          <br /><br />
        </div>
        <FormItem class="negrita" label="Observación">
          <Tooltip max-width="210" content="Colocar observaciones adicionales">
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <Input v-model="observacion" type="textarea" width="300px" />
        </FormItem>
        <FormItem class="negrita" label="Indicaciones">
          <Tooltip
            max-width="210"
            content="Colocar indicaciones adecuadas para el paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <Input v-model="indicaciones" type="textarea" width="300px" />
        </FormItem>
        <FormItem class="negrita" label="Patologías maternas">
          <Table
            :columns="columnPato"
            :data="dataPato"
            :size="small"
            width="200px"
            span="8px"
            maxwidth="39px"
          >
          </Table>
        </FormItem>
        <FormItem class="negrita" label="Proxima cita:">
          <DatePicker
            v-model="fecproxcita"
            format="dd/MM/yyyy"
            type="datetime"
            placeholder="Seleccione la fecha"
            style="width: 200px"
          ></DatePicker>
        </FormItem>
        <Row type="flex" justify="end">
          <Col>
            <Button
              :disabled="current === 0"
              @click="anteriorpag"
              type="warning"
            >
              Volver
            </Button>
            <Button @click="siguientepag" type="success">
              Guardar y continuar
            </Button>
          </Col>
        </Row>
      </Form>
    </template>
    <template v-if="current === 2">
      <Form>
        <Divider class="negrita" orientation="left" size="small"
          >Ingreso</Divider
        >
        <FormItem class="negrita" label="Temperatura">
          <Tooltip
            max-width="210"
            content="Colocar Temperatura adecuadas para el paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <Input v-model="Temperatura" width="300px" />
        </FormItem>
        <FormItem class="negrita" label="Edad Gestacion">
          <Tooltip
            max-width="210"
            content="Colocar Edad Gestacion adecuadas para el paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <Input v-model="EdadGestacion" width="300px" />
        </FormItem>
        <FormItem class="negrita" label="Presentacion">
          <Tooltip
            max-width="210"
            content="Colocar Presentacion adecuadas para el paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <Input v-model="Presentacion" width="300px" />
        </FormItem>
        <FormItem class="negrita" label="Inicio">
          <Tooltip
            max-width="210"
            content="Colocar Inicio adecuadas para el paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <Input v-model="Inicio" width="300px" />
        </FormItem>
        <FormItem class="negrita" label="Membro al ingreso">
          <Tooltip
            max-width="210"
            content="Colocar Membro al ingreso adecuadas para el paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <Input v-model="Membringreso" width="300px" />
        </FormItem>

        <FormItem class="negrita" label="Fecha y hora de ruptura:">
          <DatePicker
            v-model="fecruptura"
            format="dd/MM/yyyy"
            type="datetime"
            placeholder="Seleccione la fecha"
            style="width: 200px"
          ></DatePicker>
        </FormItem>

        <FormItem class="negrita" label="Liquido amniotico">
          <Tooltip
            max-width="210"
            content="Colocar Liquido amniotico adecuadas para el paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <Input v-model="Liquidoamniotico" width="300px" />
        </FormItem>
        <Divider class="negrita" orientation="left" size="small"
          >Medicacion en parto</Divider
        >
        <FormItem class="negrita" label="Medicacion">
          <Table
            :columns="columnMedi"
            :data="dataMedi"
            :size="small"
            width="200px"
            span="8px"
            maxwidth="39px"
          >
          </Table>
        </FormItem>
        <Divider class="negrita" orientation="left" size="small"
          >Terminacion</Divider
        >
        <FormItem label="Terminacion">
          <Tooltip
            max-width="210"
            content="Colocar como termino el parto del paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>

          <Select v-model="aborto" style="width: 250px">
            <Option> Seleccione el termino el parto </Option>
            <Option value="Espontáneo"> Espontáneo</Option>
            <Option value="Forceps"> Forceps</Option>
            <Option value="Cesáreas"> Cesáreas</Option>
            <Option value="Vacuum"> Vacuum</Option>
          </Select>
        </FormItem>
        <FormItem label="Duración">
          <Tooltip
            max-width="210"
            content="Colocar como termino el parto del paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>

          <Select v-model="aborto" style="width: 250px">
            <Option> Seleccione el termino el parto </Option>
            <Option value="Normal"> Normal</Option>
            <Option value="Prologando"> Prologando</Option>
            <Option value="Precipitado"> Precipitado</Option>
            <Option value="No aplica"> No aplica</Option>
          </Select>
        </FormItem>
        <FormItem label="Muerte intraut">
          <Tooltip
            max-width="210"
            content="Colocar como termino el parto del paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>

          <Select v-model="aborto" style="width: 250px">
            <Option> Seleccione el termino el parto </Option>
            <Option value="No hubo"> No hubo</Option>
            <Option value="Durante embarazo"> Durante embarazo</Option>
            <Option value="Durante parto momento">
              Durante parto momento</Option
            >
            <Option value="No aplica"> No aplica</Option>
          </Select>
        </FormItem>

        <FormItem label="Indicación principal parto oer. o induccion">
          <Tooltip
            max-width="210"
            content="Colocar como termino el parto del paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>

          <Select v-model="aborto" style="width: 250px">
            <Option> Seleccione el termino el parto </Option>
            <Option value="No hubo"> No hubo</Option>
            <Option value="Durante embarazo"> Durante embarazo</Option>
            <Option value="Durante parto momento">
              Durante parto momento</Option
            >
            <Option value="No aplica"> No aplica</Option>
          </Select>
        </FormItem>
        <FormItem label="Episiotomía">
          <Tooltip
            max-width="210"
            content="Colocar como termino el parto del paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <RadioGroup>
            <Radio class="nonegrita" label="SI">SI</Radio>
            <Radio class="nonegrita" label="NO">NO</Radio>
            <Radio class="nonegrita" label="No aplica">No aplica</Radio>
          </RadioGroup>
        </FormItem>
        <FormItem label="Desgarros">
          <Tooltip
            max-width="210"
            content="Colocar como termino el parto del paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <RadioGroup>
            <Radio class="nonegrita" label="I">I </Radio>
            <Radio class="nonegrita" label="II">II</Radio>
            <Radio class="nonegrita" label="III">III</Radio>
            <Radio class="nonegrita" label="IV">IV </Radio>
            <Radio class="nonegrita" label="No aplica">No aplica </Radio>
          </RadioGroup>
        </FormItem>
        <FormItem label="Alumbramiento">
          <Tooltip
            max-width="210"
            content="Colocar el alumbramiento del paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <RadioGroup>
            <Radio class="nonegrita" label="Manual">Manual</Radio>
            <Radio class="nonegrita" label="Espontánea">Espontánea</Radio>
          </RadioGroup>
        </FormItem>
        <FormItem label="Placenta">
          <Tooltip
            max-width="210"
            content="Colocar como fue la placenta en el parto del paciente"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <RadioGroup>
            <Radio class="nonegrita" label="Incompleta">Incompleta</Radio>
            <Radio class="nonegrita" label="Completa">Completa</Radio>
          </RadioGroup>
        </FormItem>
        <Row type="flex" justify="end">
          <Col>
            <Button
              :disabled="current === 0"
              @click="anteriorpag"
              type="warning"
            >
              Volver
            </Button>
            <Button @click="siguientepag" type="success">
              Guardar y continuar
            </Button>
          </Col>
        </Row>
      </Form>
    </template>
    <template v-if="current === 3">
      <Form>
        <Divider class="negrita" orientation="left" size="small"
          >Información del recién nacido</Divider
        >
        <Row gutter="28">
          <Col span="4">
            <FormItem label="Sexo">
              <Tooltip
                max-width="210"
                content="Colocar el sexo del recién nacido"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <RadioGroup>
                <Radio class="nonegrita" label="Femenino">Femenino</Radio>
                <Radio class="nonegrita" label="Masculino">Masculino</Radio>
              </RadioGroup>
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Peso (kg)">
              <Tooltip
                max-width="210"
                content="Colocar el peso del recién nacido"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Input id="Peso" type="number" style="width: 100px" />
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Talla (cm)">
              <Tooltip
                max-width="210"
                content="Colocar el talla del recién nacido"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Input id="Talla" type="number" style="width: 100px" />
            </FormItem>
          </Col>

          <Col span="4">
            <FormItem label="Peso Cefalico">
              <Tooltip max-width="210" content="Colocar el peso Céfalico">
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Input id="Talla" type="number" style="width: 100px" />
            </FormItem>
          </Col>

          <Col span="4">
            <FormItem label="Temperatura (cm)">
              <Tooltip
                max-width="210"
                content="Colocar la Diametro biparetal del recién nacido"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Input
                id="Diametro biparetal"
                type="number"
                style="width: 100px"
              />
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="Tipo de sangre">
              <Tooltip
                max-width="210"
                content="Colocar la Tipo de sangre del recién nacido"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Select v-model="aborto" style="width: 150px">
                <Option> Seleccione tipo de aborto</Option>
                <Option value="A"> A</Option>
                <Option value="B"> B</Option>
                <Option value="AB"> AB</Option>
                <Option value="O"> O</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="3">
            <FormItem label="Rh">
              <Tooltip
                max-width="210"
                content="Colocar la Rh del recién nacido"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Select v-model="aborto" style="width: 100px">
                <Option> Seleccione tipo de aborto</Option>
                <Option value="Rh+"> Rh+</Option>
                <Option value="Rh- Sen Desc"> Rh- Sen Desc</Option>
                <Option value="Rh- No Sen"> Rh- No Sen</Option>
                <Option value="Rh- Sen"> Rh- Sen</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="5">
            <FormItem label="Peso por Edad Gestional">
              <Tooltip
                max-width="210"
                content="Colocar el peso por edad gestional del recién nacido"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Select v-model="aborto" style="width: 150px">
                <Option> Seleccione tipo de aborto</Option>
                <Option value="Adecuada"> Adecuada</Option>
                <Option value="Pequeño"> Pequeño</Option>
                <Option value="Grande"> Grande</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="4">
            <FormItem label="APGAR">
              <Tooltip
                max-width="210"
                content="Colocar el APGAR del recién nacido"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>
              <Input id="Peso" type="number" style="width: 100px" />
            </FormItem>
          </Col>
          <Col span="5">
            <FormItem label="Reanimación respiratoria">
              <Tooltip
                max-width="210"
                content="Colocar la reanimación respiratoria del recién nacido"
              >
                <Icon type="md-help-circle" size="18" />
              </Tooltip>

              <Select v-model="reanimacion" style="width: 150px">
                <Option> Seleccione tipo de aborto</Option>
                <Option value="NO"> NO</Option>
                <Option value="Oxígeno"> Oxígeno</Option>
                <Option value="Bolsa y Máscara"> Bolsa y Máscara</Option>
                <Option value="Intubación endotra.">
                  Intubación endotra.</Option
                >
              </Select>
            </FormItem>
          </Col>
        </Row>
        <FormItem class="negrita" label="Patologías del recién nacido">
          <Tooltip
            max-width="210"
            content="Realizar click en el botón de abajo para buscar las patologías del recién nacido"
          >
            <Icon type="md-help-circle" size="18" />
          </Tooltip>
          <br />
          <Button type="primary">Buscar Patologías</Button>
          <Table
            :columns="columnMedi"
            :data="dataMedi"
            :size="small"
            width="200px"
            span="8px"
            maxwidth="39px"
          >
          </Table>
        </FormItem>
        <Row type="flex" justify="end">
          <Col>
            <Button
              :disabled="current === 0"
              @click="anteriorpag"
              type="warning"
            >
              Volver
            </Button>
            <Button @click.native="registrarMatPerinatal" type="success">
              Guardar y continuar
            </Button>
          </Col>
        </Row>
      </Form>
    </template>
    <template v-if="current === 4">
      <Form>
        <Divider class="negrita" orientation="left" size="small"
          >Control después del parto</Divider
        >
        <Row type="flex" justify="center">
          <Button @click="modal2 = true" type="primary">Registrar Datos</Button>
        </Row>
        <div>
          <Modal
            v-model="modal2"
            @on-ok="Agregar"
            @on-cancel="Cancelar"
            draggable="false"
            loading="false"
            ok-text="Agregar"
            cancel-text="Cancelar"
            title="Completar los siguientes datos"
          >
            <template>
              <Form :label-width="100">
                <Row>
                  <Col span="12" style="padding-right:30px">
                    <FormItem label="Temperatura">
                      <InputNumber> </InputNumber>
                    </FormItem>

                    <FormItem label="Pulso(lat/min)">
                      <InputNumber> </InputNumber>
                    </FormItem>

                    <FormItem label="Tensión Arterial (mmHg)">
                      <InputNumber> </InputNumber>
                    </FormItem>

                    <FormItem label="Involución Uterina">
                      <InputNumber> </InputNumber>
                    </FormItem>
                  </Col>
                  <Col span="12" style="padding-right:30px">
                    <FormItem label="Características de Loquios">
                      <Input> </Input>
                    </FormItem>
                    <FormItem label="Herida de la operación">
                      <Select v-model="heridaOperacion" style="width: 250px">
                        <Option> Seleccione la operación</Option>
                        <Option value="Abdominal"> Abdominal</Option>
                        <Option value="Perine"> Perine</Option>
                      </Select>
                    </FormItem>

                    <FormItem label="Observaciones">
                      <Input
                        v-model="observacion"
                        type="textarea"
                        width="300px"
                      />
                    </FormItem>
                  </Col>
                </Row>
              </Form>
            </template>
          </Modal>
          <br /><br />
        </div>
      </Form>
      <Row type="flex" justify="end">
        <Col>
          <Button :disabled="current === 0" @click="anteriorpag" type="warning">
            Volver
          </Button>
          <Button @click.native="registrarInfPuerperio" type="success">
            Guardar y continuar
          </Button>
        </Col>
      </Row>
    </template>
    <template v-if="current === 5">
      <Form>
        <Divider class="negrita" orientation="left" size="small"
          >Egreso del recién nacido</Divider
        >
        <FormItem class="negrita" label="Forma de Egreso">
          <Select v-model="Formaegresonacido" style="width: 250px">
            <Option> Seleccione la alimentación de la madre</Option>
            <Option value="Sano"> Sano</Option>
            <Option value="Con patología"> Con patología</Option>
            <Option value="Traslado"> Traslado</Option>
            <Option value="Fallece"> Fallece</Option>
          </Select>
        </FormItem>
        <FormItem class="negrita" label="Alimento">
          <Select v-model="alimento" style="width: 250px">
            <Option> Seleccione la alimentación del recien nacido</Option>
            <Option value="Pecho Solo"> Pecho Solo</Option>
            <Option value="Pecho y Artificial"> Pecho y Artificial</Option>
            <Option value="Artificial solo"> Artificial solo</Option>
            <Option value="No aplica"> No aplica</Option>
          </Select>
        </FormItem>
        <FormItem label="Peso">
          <InputNumber> </InputNumber>
        </FormItem>
        <Divider class="negrita" orientation="left" size="small"
          >Egreso del materno</Divider
        >
        <FormItem class="negrita" label="Forma de Egreso">
          <Select v-model="Formaegresomaterno" style="width: 250px">
            <Option> Seleccione la alimentación de la madre</Option>
            <Option value="Sano"> Sano</Option>
            <Option value="Con patología"> Con patología</Option>
            <Option value="Traslado"> Traslado</Option>
            <Option value="Fallece"> Fallece</Option>
          </Select>
        </FormItem>
        <Divider class="negrita" orientation="left" size="small"
          >Indicaciones al alta</Divider
        >
        <FormItem class="negrita" label="Indicaciones">
          <Input v-model="indicacionesalta" type="textarea" width="300px" />
        </FormItem>
        <Col>
          <Button :disabled="current === 0" @click="anteriorpag" type="warning">
            Volver
          </Button>
          <Button @click.native="registrarEgreso" type="success">
            Guardar
          </Button>
        </Col>
      </Form>
    </template>
    <!-- <Row type="flex" justify="end">
      <Col>
        <Button :disabled="current === 0" @click="anteriorpag" type="warning">
          Volver
        </Button>
        <Button @click="siguientepag" type="success">
          <template v-if="current < 5">
            Guardar y continuar
          </template>
          <template v-if="current === 5">
            Guardar
          </template>
        </Button>
      </Col>
    </Row> -->
  </div>
</template>

<style scoped>
span.Label {
  font-weight: 700;
  font-size: 10px;
}
span.datos {
  font-size: 16px;
}
.contenedor-datos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 25px 40px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.fila-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.columna-datos {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
.demo-auto-complete-item {
  padding: 4px 0;
  border-bottom: 1px solid #f6f6f6;
}
.demo-auto-complete-group {
  font-size: 12px;
  padding: 4px 6px;
}
.demo-auto-complete-group span {
  color: #666;
  font-weight: bold;
}
.demo-auto-complete-group a {
  float: right;
}
.demo-auto-complete-count {
  float: right;
  color: #999;
}
.demo-auto-complete-more {
  display: block;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
  font-size: 12px;
}
.solid {
  border-style: dotted;
  padding: 15px 0;
}
.higienedental {
  max-width: 50%;
  padding: 15px 0;
}
</style>

<script>
import axios from 'axios'
const api = axios.create({
  baseURL: 'http://ec2-3-89-196-27.compute-1.amazonaws.com:8090/'
})
export default {
  data() {
    return {
      ternacion: 'Parto',
      current: 0,
      value3: false,
      modal1: false,
      modal2: false,
      busqAntecedentes: [
        {
          title: 'Diana Ruiz'
        },
        {
          title: 'Manuel Perez'
        },
        {
          title: 'Francisco Reyes'
        }
      ]
    }
  },
  mounted() {
    this.incializacionDatos()
    this.obtenerFechaHora()
    setInterval(this.obtenerFechaHora, 10000)
  },
  methods: {
    siguientepag() {
      if (this.current < 5) this.current++
    },
    anteriorpag() {
      if (this.current > 0) this.current--
    },
    obtenerFechaHora() {
      this.fechaHoraActual = new Date().toLocaleString()
    },
    incializacionDatos() {
      this.nomp = localStorage.getItem('nombrep')
      this.apP = localStorage.getItem('apeP')
      this.apM = localStorage.getItem('apeM')
    },
    registrarMatPerinatal() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      return api
        .post(
          'api/formatos/materno-perinatal',
          {
            paciente: 72573563,
            ipress: 5946,
            antecedentes: {
              datosObstetricos: {
                gestas: 55,
                aborto: 0,
                parto: 0,
                vivos: 0,
                muertos: 0,
                viven: 0,
                muertoPrimera: 0,
                muertoSegunda: 0
              },
              datosBasales: {
                peso: 89,
                talla: 1.69,
                cefaloCaudal: 5,
                diametroBiparetal: 2.5,
                fechaFUM: '2019-10-02',
                fechaPosible: '2020-07-09',
                hemoglobina: 12
              }
            },
            perinatal: {
              observacion: '',
              indicaciones: '',
              proximaCita: '2020-06-29'
            },
            parto: {
              ingreso: {
                temperatura: 36.5,
                edadGestacion: 26,
                presentacion: '',
                inicio: '',
                membro: '',
                horaRuptura: '2020-07-02T19:50:00',
                amniotico: 2
              },
              terminacion: {
                termino: 'Espontáneo',
                duracion: 'Normal',
                muerte: 'No aplica',
                indicacionPrincipal: 'No aplica',
                epísitomia: 2,
                desgarros: 3,
                alumbramiento: 1,
                placenta: 1
              }
            },
            recienNacido: {
              sexo: 1,
              peso: 2.52,
              talla: 55.2,
              pesoCefalico: 350,
              temperatura: 36,
              sangre: {},
              pesoGestional: 'Adecuada',
              apgar: 3,
              reanimacion: 'No'
            }
          },
          {
            headers
          }
        )
        .then((response) => {
          const data = response.data
          localStorage.setItem('idMaterno', data.id)
          return data
        })
    },
    registrarInfPuerperio() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      const idMaternoA = localStorage.getItem('idMaterno')
      return api
        .post(
          'api/formatos/materno-perinatal/' + idMaternoA + '/puerperio',
          {
            temperatura: 36.5,
            pulso: 70,
            tensionArterial: 60,
            involucionUterina: 2,
            loquios: 'aa',
            heridaOperacion: 'Abdominal',
            observaciones: 'aa'
          },
          {
            headers
          }
        )
        .then((response) => {
          const data = response.data
          return data
        })
    },
    registrarEgreso() {
      const headers = {
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('token')
      }
      const idMaternoB = localStorage.getItem('idMaterno')
      return api
        .post(
          'api/formatos/materno-perinatal/' + idMaternoB + '/puerperio',
          {
            formaEgresoNeonato: 'Sano',
            alimentoNeonato: 'Pecho solo',
            pesoNeonato: 2.98,
            formaEgresoMaterno: 'Sano',
            indicacionesAlta: ''
          },
          {
            headers
          }
        )
        .then((response) => {
          const data = response.data
          return data
        })
    }
  }
}
</script>
